{% comment %}
----------------------------------------------------------------------------
  Snippet: BazaarVoice curations
  – Display BazaarVoice-powered related Instagram images.
----------------------------------------------------------------------------
{% endcomment %}
<div class="instafeed">
  <div class="container">
    {% if block_title != blank %}
      <div class="instafeed__header">
        <h3 class="instafeed__title h4 color--plant no-translate">
          {{ block_title }}
        </h3>
      </div>
    {% endif %}

    <div
      data-bv-display-tag="brandcarousel"
      {% if type == 'product' %}
        data-bv-product-id="{{ product.id }}"
      {% endif %}
      data-bv-show="curations"
      data-bv-widget="bv-carousel-en-{{ settings.store_code | downcase }}"
    >
    </div>
  </div>
</div>
