<div data-bv-show="reviews" data-bv-product-Id="{{ product.id }}" itemscope itemtype="https://schema.org/Product">
  {% if product.metafields.bazaarvoice.reviews %}
    {{ product.metafields.bazaarvoice.reviews }}
  {% endif %}
</div>