<div data-bv-show="rating_summary" data-bv-productId="{{ product.id }}">
  {% if product.metafields.bazaarvoice.reviews-aggregate-ratings %}
    {{ product.metafields.bazaarvoice.reviews-aggregate-ratings }}
  {% endif %}
</div>