{%- comment -%}
----------------------------------------------------------------------------
  Promo
  - Using metafields
----------------------------------------------------------------------------
{%- endcomment -%}

{%- assign promo = collection.metafields.promo -%}
{% if promo != blank %}
  {% if promo['image'] or promo['video'] %}
    <div class="collection-promo" js-collection-promo>
      {% if promo['image'] %}
        {%- assign img_url_small = promo['image'] | file_img_url: '400x' -%}
        {%- assign img_url_medium = promo['image'] | file_img_url: '800x' -%}
        {%- assign img_url_large = promo['image'] | file_img_url: '1320x' -%}

        <img class="collection-promo__media lazyload" src="{{ img_url_small }}" alt="" data-sizes="auto"
          data-srcset="{{ img_url_small }} 400w,
              {{ img_url_medium }} 800w,
              {{ img_url_large }} 1320w"
        />
      {% endif %}

      {% if promo['video'] %}
        <div class="collection-promo__video-container">
          <iframe class="collection-promo__video" src="https://player.vimeo.com/video/{{- promo['video'] -}}?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" frameborder="0" allow="autoplay;"></iframe>
        </div>
      {% endif %}

      {% if promo['overlay'] %}
        <div class="collection-promo__overlay" style="opacity: {{ promo['overlay'] }}"></div>
      {% endif %}

      <div class="collection-promo__content">
        {% if promo['title'] or promo['description'] %}
          <div class="collection-promo__copy">
            {% if promo['title'] %}
              <h2 class="h4 collection-promo__title {% if promo['description'] %} decoration-after{% endif %}">{{ promo['title'] }}</h2>
            {% endif %}

            {% if promo['description'] %}
              <div class="body-1 collection-promo__description">{{ promo['description'] }}</div>
            {% endif %}
          </div>
        {% endif %}

        {% if promo['button_link'] and promo['button_text'] %}
          <a class="button button--light button--outlined collection-promo__button" href="{{ promo['button_link'] }}">{{ promo['button_text'] }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
