{%- comment -%}
----------------------------------------------------------------------------
  Datalayer: Product
  – Pushed on product page load.
----------------------------------------------------------------------------
{%- endcomment -%}
{%- assign title = product.title | downcase | split: ' ' -%}
{%- assign title_titlecase = '' -%}
{% for word in title %}
  {%- assign part = word | capitalize | prepend: ' ' -%}
  {%- assign title_titlecase = title_titlecase | append: part -%}
{% endfor %}
{%- assign title_titlecase = title_titlecase | lstrip -%}

<script>
  // Check where the user has come from.
  var list;
  if (document.referrer.indexOf('crabtreeandevelyn') > -1 || document.referrer.indexOf('crabtree-evelyn') > -1) {
    if (document.referrer.indexOf('/collections/') > -1) {
      list = 'Collection Listing';
    } else if (document.referrer.indexOf('/iwish') > -1) {
      list = 'Wishlist';
    } else if (document.referrer.indexOf('/cart') > -1) {
      list = 'Cart';
    } else if (document.referrer.indexOf('/search') > -1) {
      list = 'Search Results';
    } else if (document.referrer.indexOf('/pages/') > -1) {
      list = 'Custom Page';
    } else {
      list = 'Homepage'
    }
  } else {
    list = 'Product Detail Page';
  }

  dataLayer.push({
    pageType: 'Product Details',
    event: 'productDetail',
    ecommerce: {
      currencyCode: {{ shop.currency | json }},
      detail: {
        actionField: {
          list: list
        },
        products: [{
          name: {{ title_titlecase | json }},
          id: {{ product.handle | json }},
          price: {{ product.price | money_without_currency | json }},
          brand: {{ product.vendor | json }},
          category: {{ product.type | json }},
          variant: {{ product.variants[0].title | json }},
        }]
      }
    }
  });
</script>