{%- comment -%}
----------------------------------------------------------------------------
  Snippets: Datalayer
  – Loads Google Tag Manager.
  – Noscript in header.
  – The rest loads in the body.
----------------------------------------------------------------------------
{%- endcomment -%}

{% if noscript %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDNH9JC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

{% else %}
  {%- comment -%}
  ----------------------------------------------------------------------------
    Data layer variables
  ----------------------------------------------------------------------------
  {%- endcomment -%}
  {% include 'datalayer-variables' %}

  {%- comment -%}
  ----------------------------------------------------------------------------
    Base datalayer
  ----------------------------------------------------------------------------
  {%- endcomment -%}
  <script>
    dataLayer = [{
      environment: {{ theme.name | json }},
      pageType: {{ page_type | json }},
      pageCanonicalURL: {{ actual_canonical | json }},
      siteCurrency: {{ shop.currency | json }},
      siteLanguage: {{ shop.locale | json }},
      siteCountry: {{ shop.permanent_domain | split: 'crabtreeandevelyn-' | last | split: '.myshopify.com' | first | upcase | json }},
      {% if customer %}
        loginStatus: 'loggedIn',
        userID: {{ customer.id | json }},
        registerationStatus: 'registered',
      {% else %}
        loginStatus: 'loggedOut',
      {% endif %}
      {% if template.name == '404' %}
        pageResponse: '404'
      {% else %}
        pageResponse: '200'
      {% endif %}
    }];
  </script>

  {%- comment -%}
  ----------------------------------------------------------------------------
    Template dependent datalayers
  ----------------------------------------------------------------------------
  {%- endcomment -%}
  {% case template.name %}
    {% when 'product' %}
      {% include 'datalayer-product' %}
    {% when 'cart' %}
      {% include 'datalayer-cart' %}
  {% endcase %}

  {% if request.path contains '/thank_you' %}
    {% include 'datalayer-purchase' %}
  {% endif %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PDNH9JC');</script>
  <!-- End Google Tag Manager -->
{% endif %}