{% comment %}
----------------------------------------------------------------------------
  Datalayer: Variables
  – Sets page type variable.
  – Keeps cart data available.
----------------------------------------------------------------------------
{% endcomment %}
{%- assign page_type = '' -%}
{%- assign cart_object = cart.items -%}
{%- assign actual_canonical = canonical_url -%}

{% if template.name == 'index' %}
  {%- assign page_type = 'Homepage' -%}

{% elsif template.name == 'list-collections' %}
  {%- assign page_type = 'Collection Landing page' -%}

{% elsif template.name == 'collection' %}
  {%- assign page_type = 'Collection Listing' -%}

{% elsif template.name == 'search' %}
  {% if search.results_count == 0 %}
    {%- assign page_type = 'Null Search Results' -%}

  {% else %}
    {%- assign page_type = 'Search Results' -%}
  {% endif %}

{% elsif template.name == 'product' %}
  {%- assign page_type = 'Product Detail page' -%}

{% elsif template.name == 'cart' %}
  {%- assign page_type = 'Cart' -%}

{% elsif template.name == 'login' or template.name == 'account' or template.name == 'register' or template.name == 'addresses' %}
  {%- assign page_type = 'Account' -%}

{% elsif template.name == '404' %}
  {%- assign page_type = 'Error pages' -%}

{% elsif request.path contains '/iwish' %}
  {%- assign page_type = 'Wishlist' -%}

{% elsif request.path contains '/about-us' or request.path contains '/thanks-for-signing-up-to-our-newsletter' %}
  {%- assign page_type = 'Content Page' -%}

{% elsif request.path contains '/checkouts/' or request.path contains '/orders' or request.path contains '/thank_you'  %}
  {%- assign cart_object = checkout.line_items -%}
  {%- assign actual_canonical = 'https://' | append: request.host | append: request.path -%}

  {% if customer %}
    {%- assign page_type = 'Checkout' -%}

  {% else %}
    {%- assign page_type = 'Guest Checkout' -%}
  {% endif %}

{% elsif request.path contains 'terms-conditions' or request.path contains 'delivery-and-returns' or request.path contains '/contact-us' %}
  {%- assign page_type = 'Customer Service' -%}

{% elsif request.path contains '/faqs' %}
  {%- assign page_type = 'FAQ' -%}

{% elsif request.path contains '/challenge' %}
  {%- assign page_type = 'Challenge' -%}

{% elsif request.path contains '/pages/' %}
  {%- assign page_type = 'Page' -%}

{% else %}
  {%- assign page_type = 'Unknown' -%}

{% endif %}

{% comment %}
----------------------------------------------------------------------------
  Cart product data
----------------------------------------------------------------------------
{% endcomment %}
<script>
  window.cartProducts = [
    {% for item in cart_object %}
      {%- assign title = item.product.title | downcase | split: ' ' -%}
      {%- assign title_titlecase = '' -%}
      {% for word in title %}
        {%- assign part = word | capitalize | prepend: ' ' -%}
        {%- assign title_titlecase = title_titlecase | append: part -%}
      {% endfor %}
      {%- assign title_titlecase = title_titlecase | lstrip -%}

      {
        name: {{ title_titlecase | json }},
        id: {{ item.product.handle | json }},
        price: {{ item.price | money_without_currency | json }},
        brand: {{ item.vendor | json }},
        category: {{ item.product.type | json }},
        variant: {{ item.product.variants[0].title | json }},
        quantity: {{ item.quantity | json }},
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
</script>