{% comment %}
----------------------------------------------------------------------------
  Datalayer: Cart
  – Pushed on cart page load.
----------------------------------------------------------------------------
{% endcomment %}
<script>
  dataLayer.push({
    'event': 'checkout',
    'ecommerce': {
      'currencyCode': {{ shop.currency | json }},
      'checkout': {
        'actionField': {
          'step': 1,
          'option': ''
        },
        'products': window.cartProducts,
      }
    }
  });
</script>