{% comment %}
----------------------------------------------------------------------------
  Datalayer: Purchase
  – Pushed on purchase page load.
----------------------------------------------------------------------------
{% endcomment %}

{% comment %}
----------------------------------------------------------------------------
  Tax Rate
----------------------------------------------------------------------------
{% endcomment %}
{% assign total_rate = 1 %}
{% for tax in checkout.tax_lines limit: 1 %}
  {% assign tax_rate = tax.rate %}
  {% assign total_rate = tax.rate | plus: 1 %}
{% endfor %}

{% comment %}
----------------------------------------------------------------------------
  Checkout Total
----------------------------------------------------------------------------
{% endcomment %}
{% assign revenue_total = checkout.total_price | divided_by: 100 | round: 2 %}
{% assign tax_total = checkout.total_price | times: tax_rate | divided_by: total_rate | divided_by: 100 | round: 2 %}
{% assign shipping_total = checkout.shipping_price | divided_by: 100 | round: 2 %}

<script>
  dataLayer.push({
    event: 'purchase',
    ecommerce: {
    currencyCode: {{ shop.currency | json }},
      purchase: {
        actionField: {
          id: {{ checkout.order_name | json }},
          affiliation: '',
          revenue: {{ revenue_total | json }},
          tax: {{ tax_total | json }},
          shipping: {{ shipping_total | json }},
          coupon: '{% for discount in checkout.discounts %}{{ discount.code }}{% unless forloop.last %} / {% endunless %}{% endfor %}',
        },
        products: [
          {% for item in checkout.line_items %}
            {% assign title = item.product.title | downcase | split: ' ' %}
            {% assign title_titlecase = '' %}

            {% for word in title %}
              {% assign part = word | capitalize | prepend: ' ' %}
              {% assign title_titlecase = title_titlecase | append: part %}
            {% endfor %}

            {% assign title_titlecase = title_titlecase | lstrip %}

            {% if item.product.compare_at_price > item.product.price %}
              {% assign is_on_sale = 'Yes' %}
            {% else %}
              {% assign is_on_sale = 'No' %}
            {% endif %}

            {% if item.line_level_discount_allocations.size > 0 %}
              {% for discount_allocation in item.line_level_discount_allocations %}
                {% assign line_item_coupon = discount_allocation.discount_application.title %}
                {% assign line_item_savings = discount_allocation.amount | money_without_currency %}
              {% endfor %}
            {% else %}
              {% assign line_item_savings = '0' %}
            {% endif %}

            {
              brand: {{ item.vendor | json }},
              category: {{ item.product.type | json }},
              coupon: {{ line_item_coupon | json }},
              disamt: {{ line_item_savings | json }},
              id: {{ item.product.handle | json }},
              isclearance: {{ is_on_sale | json }},
              issale: {{ is_on_sale | json }},
              name: {{ title_titlecase | json }},
              price: {{ item.price | money_without_currency | json }},
              quantity: {{ item.quantity  | json }},
              SKU: {{ item.sku | json }},
              unitPrice: {{ item.original_price | money_without_currency | json }},
              variant: {{ item.product.variants[0].title | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
    }
  });
</script>
