{% assign js_class = 'FrameworkXMenu' %}
{% assign overlap_parent = 0 %}
{% assign handle = 'menu' %}
{% assign type = 'horizontal' %}
{% assign off_canvas = 'left-sidebar' %}

<nav
  data-js-class="{{ js_class }}"
  data-x-menu--align="{{ align }}"
  data-x-menu--overlap="false"
  data-x-menu--overlap-parent="{{ overlap_parent }}"
  role="navigation"
  aria-label="{{ 'general.menu' | t }}"
>
  <div class="x-menu--overlap-icon">
    <div class="off-canvas--open" data-off-canvas--open="{{ off_canvas }}">
      {% include 'snippet-symbol' with 'menu' %}
    </div>
  </div>

  <ul>

    {% comment %} Level 1 {% endcomment %}
    {% assign list_lvl_1 = handle %}
    {% for link in linklists[list_lvl_1].links %}
      <li
        class="x-menu--level-1--link"
        data-x-menu--depth="{{ link.levels | plus: 1 }}"
        data-x-menu--open="false"
        data-link-id="{{ link.handle }}"
      >
        {% if link.links != blank %}
          <a
            href="{{ link.url }}"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="x-menu--sub-{{ link.handle }}"
          >
            <span>
              {{ link.title }}
            </span>
            {% include 'framework--icon', icon: 'expand-more' %}
            {% include 'framework--icon', icon: 'expand-less' %}
          </a>
        {% else %}
          <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
        {% endif %}

          {% comment %} Level 2 {% endcomment %}
          {% if link.links != blank %}
            <div class="x-menu--level-2--container" id="x-menu--sub-{{ link.handle }}">
              {% comment %}<div class="single-parents"></div> goes here{% endcomment %}
              <div class="x-menu--bg"></div>
              {% comment %}
                Usually the ul is labeled as a container but this needs a separate container and
                therefor is labeled --list
              {% endcomment %}
              <ul class="x-menu--level-2--list">

                {% assign list_lvl_2 = link.handle %}
                {% for link in linklists[list_lvl_2].links %}

                  <li
                    class="x-menu--level-2--link"
                    data-link-id="{{ list_lvl_2 }}--{{ link.handle }}"
                    {% if link.links == blank %}data-x-menu--single-parent="true"{% endif %}
                  >
                    <a href="{{ link.url }}">{{ link.title }}</a>

                    {% comment %} Level 3 {% endcomment %}

                    {% if link.links != blank %}
                      <ul class="x-menu--level-3--container">

                        {% assign list_lvl_3 = link.handle %}
                        {% for link in linklists[list_lvl_3].links %}
                          <li
                            class="x-menu--level-3--link"
                            data-link-id="{{ list_lvl_2 }}--{{ list_lvl_3 }}--{{ link.handle }}"
                          >
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% comment %} End Level 3 {% endcomment %}

                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% comment %} End Level 2 {% endcomment %}

      </li>
    {% endfor %}
  </ul>
  {% comment %} End level 1 {% endcomment %}
</nav>
