<!doctype html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->
  <head>
    {% if settings.gtm_enabled %}
    {% include 'datalayer' with noscript: false %}
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {%- if page_description -%}
      <meta name="description" content="{{ page_description }}">
    {%- endif -%}
    {% include 'snippet-fb-open-graph-tags' %}
    {%- if settings.enable_href_lang -%}
      {% include 'site-href-lang' %}
    {%- endif -%}
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {%- if template == 'index' -%}
    <title>{{ page_title }}</title>
    {%- elsif template == 'password' -%}
    <title>{{ shop.name }}</title>
    {%- else -%}
    <title>{{ page_title }} | {{ shop.name }}</title>
    {%- endif -%}
    {{ content_for_header }}

    {% comment %}
    {% include 'framework--css-variables' %}
    {% include 'partial--css-variables' %}
    {% endcomment %}
    {{ "theme.css" | asset_url | stylesheet_tag }}

    {%- if template == 'index' -%}
    {{ "index.css" | asset_url | stylesheet_tag }}
    {%- elsif template == 'collection' -%}
    {{ "collection.css" | asset_url | stylesheet_tag }}
    {%- elsif template == '404' -%}
    {{ "four-o-four.css" | asset_url | stylesheet_tag }}
    {%- elsif template == 'list-collections' -%}
    {{ "list-collection.css" | asset_url | stylesheet_tag }}
    {%- endif -%}

    {{ "flickity.min.css" | asset_url | stylesheet_tag }}
    {% include 'partial--js-variables' %}

    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    {{ "jquery-3.5.1.min.js" | asset_url | script_tag }}
    {% comment %}
	  {% render 'weglot_hreftags' %}
  	{% render 'weglot_switcher' %}
    {% endcomment %}
    {% include 'scarab_queue' %}
    <!--begin-bc-sf-filter-css-->
    {% include 'bc-sf-filter-style' %}
    <!--end-bc-sf-filter-css-->

    <script type="text/javascript">
    	(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/7wPePRbdKVaNXHZbYjFq54llUqu6pMurFHzmY8Xb/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
  </head>
    <body class="off-canvas--viewport page-{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | remove: '/' | remove: '_' }}"  data-js-class="FrameworkOffCanvas" data-off-canvas--state="closed">
