<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon-lib" style="position:absolute">
  <defs>
    <path id="a" d="M11.294 0v11.294H32V0H11.294zm11.294 24.471H32V13.176h-9.412v11.295zM0 24.471h9.412V0H0v24.471zm11.294 0h9.412V13.176h-9.412v11.295z"/>
    <path id="a" d="M22.588 0v24.471H32V0h-9.412zM0 24.471h9.412V0H0v24.471zm11.294 0h9.412V0h-9.412v24.471z"/>
    <path id="a" d="M22.588 0v11.294H32V0h-9.412zM11.294 11.294h9.412V0h-9.412v11.294zm11.294 13.177H32V13.176h-9.412v11.295zm-11.294 0h9.412V13.176h-9.412v11.295zM0 24.471h9.412V13.176H0v11.295zm0-13.177h9.412V0H0v11.294z"/>
    <path id="a" d="M9.412 0v7.529H32V0H9.412zm0 26.353H32v-7.529H9.412v7.529zm0-9.412H32V9.412H9.412v7.529zM0 7.529h7.529V0H0v7.529zm0 18.824h7.529v-7.529H0v7.529zm0-9.412h7.529V9.412H0v7.529z"/>
    <path id="a" d="M0 0h24.755v30.579H0z"/>
  </defs>
    <symbol id="fw--icon--arrow-left-long" viewBox="0 0 19.316 8.129">
      <title>arrow-left-long icon</title>
      <path d="M19.316 3.064H4.742V.338c0-.142-.067-.243-.202-.307a.325.325 0 0 0-.369.064L.106 3.842a.342.342 0 0 0 0 .497l4.065 3.704c.112.092.236.11.369.054a.308.308 0 0 0 .202-.307V5.064h14.574v-2z"/>
    </symbol>
    <symbol id="fw--icon--arrow-left" viewBox="0 0 17.795 15.268">
      <title>arrow-left icon</title>
      <path d="M6.728.358c.12-.12.259-.209.418-.269a1.389 1.389 0 0 1 .975.001c.159.059.299.149.418.268a1.266 1.266 0 0 1 .289.438c.033.08.057.159.069.239s.021.159.021.239-.008.16-.021.239-.036.159-.069.239-.073.156-.119.229a1.266 1.266 0 0 1-.17.209l-4.2 4.2h12.202c.173 0 .336.033.488.099.152.067.285.156.398.269.111.113.201.246.268.398.066.153.1.315.1.488s-.033.335-.1.488a1.268 1.268 0 0 1-.666.667c-.152.067-.315.1-.488.1H4.339l4.2 4.2c.119.12.209.259.269.418a1.373 1.373 0 0 1 0 .976 1.174 1.174 0 0 1-.687.686 1.373 1.373 0 0 1-.975 0 1.164 1.164 0 0 1-.418-.269L.358 8.54c-.12-.12-.21-.259-.269-.418a1.376 1.376 0 0 1 0-.976c.06-.159.149-.299.269-.418l6.37-6.37z"/>
    </symbol>
    <symbol id="fw--icon--arrow-right-long" viewBox="0 0 19.316 8.129">
      <title>arrow-right-long icon</title>
      <path  d="M19.211 3.79L15.145.086a.338.338 0 0 0-.369-.054.306.306 0 0 0-.201.307v2.726H0v2h14.574v2.726c0 .142.066.243.201.307a.325.325 0 0 0 .369-.064l4.066-3.747a.346.346 0 0 0 .001-.497z"/>
    </symbol>
    <symbol id="fw--icon--arrow-right" viewBox="0 0 17.797 15.268">
      <title>arrow-right icon</title>
      <path d="M11.068 14.909c-.119.12-.259.209-.418.269a1.376 1.376 0 0 1-.975 0 1.156 1.156 0 0 1-.418-.269 1.346 1.346 0 0 1-.358-.677 1.482 1.482 0 0 1 0-.478 1.346 1.346 0 0 1 .358-.677l4.2-4.2H1.254a1.2 1.2 0 0 1-.487-.1 1.233 1.233 0 0 1-.398-.267A1.27 1.27 0 0 1 0 7.624a1.252 1.252 0 0 1 .37-.885c.112-.112.245-.202.397-.269.153-.066.315-.1.487-.1h12.203l-4.2-4.2a1.16 1.16 0 0 1-.269-.419 1.351 1.351 0 0 1 0-.976 1.17 1.17 0 0 1 .687-.687 1.398 1.398 0 0 1 .975.001c.159.06.299.149.418.269l6.369 6.37c.12.119.209.259.27.418a1.373 1.373 0 0 1 0 .976 1.167 1.167 0 0 1-.27.418l-6.369 6.369z"/>
    </symbol>
    <symbol id="fw--icon--bag-outline" viewBox="0 0 25.353 32">
      <title>bag-outline icon</title>
      <path  d="M25.275 8.812h-6.184V6.454C19.092 2.899 16.193 0 12.638 0S6.184 2.899 6.184 6.454v2.357H0V32h25.353V8.812h-.078zM9.237 6.454c0-1.855 1.507-3.362 3.362-3.362s3.362 1.507 3.362 3.362v2.357H9.237V6.454zm12.947 22.454H3.053V11.903h3.092v3.903c0 .85.696 1.546 1.546 1.546s1.546-.696 1.546-1.546v-3.903H16v3.903c0 .85.696 1.546 1.546 1.546a1.55 1.55 0 0 0 1.546-1.546v-3.903h3.092v17.005z"/>
    </symbol>
    <symbol id="fw--icon--bag" viewBox="0 0 25.469 32">
      <title>bag icon</title>
      <path  d="M19.208 6.454C19.208 2.899 16.309 0 12.754 0S6.3 2.899 6.3 6.454v2.357H0L.889 32H24.58l.889-23.188h-6.261V6.454zm-9.855 0c0-1.855 1.507-3.362 3.362-3.362s3.362 1.507 3.362 3.362v2.357H9.353V6.454z"/>
    </symbol>
    <symbol id="fw--icon--cart-outline" viewBox="0 0 32 26.909">
      <title>cart-outline icon</title>
      <g ><circle cx="11.636" cy="24" r="2.909"/><circle cx="26.182" cy="24" r="2.909"/><path d="M8.727 4.364L7.273 0H0v2.909h4.945l3.782 16h20.364L32 4.364H8.727zM11.055 16L9.309 7.273h19.2L26.764 16H11.055z"/></g>
    </symbol>
    <symbol id="fw--icon--cart" viewBox="0 0 32 25.864">
      <title>cart icon</title>
      <path d="M7.301 18.546h19.21L32 4.824H7.496L5.492 0H0v2.744h3.706l.857 2.08h-.007zM9.428 20.376a2.743 2.743 0 1 0 0 5.488 2.744 2.744 0 1 0 0-5.488z"/><circle cx="23.956" cy="23.12" r="2.744"/>
    </symbol>
    <symbol id="fw--icon--comment" viewBox="0 0 32 25.019">
      <title>comment</title>
      <g id="blog_x2F_desktop_x2F_blog-article-desktop" transform="translate(-140, -4)">
			  <path id="Page-1" d="M142.971,5.024c-1.073,0-1.947,0.873-1.947,1.947v13.481c0,1.073,0.873,1.946,1.947,1.946
				h2.286c0.283,0,0.512,0.23,0.512,0.512v4.418l5.131-4.792c0.095-0.089,0.22-0.138,0.35-0.138h17.779
				c1.073,0,1.947-0.873,1.947-1.946V6.971c0-1.073-0.873-1.947-1.947-1.947H142.971z M145.257,29.019
				c-0.069,0-0.138-0.014-0.204-0.042c-0.187-0.081-0.308-0.266-0.308-0.47v-5.084h-1.774c-1.638,0-2.971-1.333-2.971-2.971V6.971
				C140,5.333,141.333,4,142.971,4h26.058C170.667,4,172,5.333,172,6.971v13.481c0,1.638-1.333,2.971-2.971,2.971h-17.577
				l-5.845,5.459C145.51,28.972,145.384,29.019,145.257,29.019L145.257,29.019z"/>
	    </g>
    </symbol>
    <symbol id="fw--icon--chevron-left" viewBox="0 0 17.09 32">
      <title>chevron-left icon</title>
      <path d="M16.998 30.237a1.35 1.35 0 0 1 0 .982c-.061.158-.15.298-.271.418-.121.122-.26.212-.417.273a1.292 1.292 0 0 1-1.365-.274L.362 16.908a1.188 1.188 0 0 1-.273-.417A1.368 1.368 0 0 1 0 16c0-.169.029-.333.089-.491s.152-.297.273-.418L14.944.363c.121-.12.26-.211.419-.273.158-.06.315-.09.472-.09.157 0 .316.03.475.09.157.062.296.153.417.273.121.122.211.261.271.418a1.355 1.355 0 0 1 0 .982c-.061.157-.15.297-.271.418L3.418 16l13.308 13.819c.122.121.211.26.272.418z"/>
    </symbol>
    <symbol id="fw--icon--chevron-right" viewBox="0 0 17.09 32">
      <title>chevron-right icon</title>
      <path d="M.093 1.763a1.345 1.345 0 0 1 0-.981C.154.624.243.484.364.364.485.242.624.152.781.091a1.292 1.292 0 0 1 1.365.273l14.582 14.728c.121.12.212.26.273.417.061.158.089.321.089.491 0 .169-.029.333-.089.491a1.192 1.192 0 0 1-.273.418L2.146 31.637c-.121.12-.26.211-.419.273-.157.06-.314.09-.471.09s-.316-.03-.475-.09a1.226 1.226 0 0 1-.417-.273 1.191 1.191 0 0 1-.271-.418 1.355 1.355 0 0 1 0-.982c.061-.157.15-.297.271-.418L13.672 16 .364 2.182a1.186 1.186 0 0 1-.271-.419z"/>
    </symbol>
    <symbol id="fw--icon--cross-circle" viewBox="0 0 32 32">
      <title>cross-circle icon</title>
      <path  d="M16 32c8.8 0 16-7.2 16-16S24.8 0 16 0 0 7.2 0 16s7.2 16 16 16zM8 10.24L10.24 8 16 13.76 21.76 8 24 10.24 18.24 16 24 21.759 21.76 24 16 18.241 10.24 24 8 21.759 13.76 16 8 10.24z"/>
    </symbol>
    <symbol id="fw--icon--cross" viewBox="0 0 31 31.129">
      <title>cross icon</title>
      <path  d="M17.617 15.564L30.564 2.558A1.5 1.5 0 0 0 28.437.442L15.5 13.438 2.564.442A1.5 1.5 0 0 0 .437 2.558l12.947 13.006L.437 28.571a1.5 1.5 0 0 0 2.127 2.116L15.5 17.691l12.936 12.996a1.5 1.5 0 0 0 2.127-2.116L17.617 15.564z"/>
    </symbol>
    <symbol id="fw--icon--expand-less-solid" viewBox="0 0 14.855 8.496">
      <title>expand-less-solid icon</title>
      <path  d="M14.57 6.796L8.212.3a1.002 1.002 0 0 0-.71-.3c-.262.016-.523.104-.712.293L.293 6.789A1 1 0 0 0 1 8.496h12.855a1 1 0 0 0 .715-1.7z"/>
    </symbol>
    <symbol id="fw--icon--expand-less" viewBox="0 0 16.283 9.219">
      <title>expand-less icon</title>
      <path  d="M15.283 9.219a.998.998 0 0 1-.715-.301L8.204 2.414 1.699 8.778A.999.999 0 1 1 .3 7.349L7.52.286a1 1 0 0 1 1.414.016l7.063 7.219a1 1 0 0 1-.714 1.698z"/><path  d="M15.283 9.219a.998.998 0 0 1-.715-.301L8.204 2.414 1.699 8.778A.999.999 0 1 1 .3 7.349L7.52.286a1 1 0 0 1 1.414.016l7.063 7.219a1 1 0 0 1-.714 1.698z"/>
    </symbol>
    <symbol id="fw--icon--expand-more-solid" viewBox="0 0 14.855 8.496">
      <title>expand-more-solid icon</title>
      <path  d="M14.779.617A1 1 0 0 0 13.855 0H1a1 1 0 0 0-.715 1.7l6.358 6.496c.187.19.442.299.709.3h.005c.265 0 .52-.105.707-.293l6.497-6.496a.997.997 0 0 0 .218-1.09z"/>
    </symbol>
    <symbol id="fw--icon--expand-more" viewBox="0 0 16.283 9.219">
      <title>expand-more icon</title>
      <path  d="M8.064 9.219a1 1 0 0 1-.715-.301L.285 1.699A1 1 0 1 1 1.715.301L8.08 6.805 14.584.441a.999.999 0 1 1 1.398 1.43L8.763 8.934a.993.993 0 0 1-.699.285z"/><path  d="M8.064 9.219a1 1 0 0 1-.715-.301L.285 1.699A1 1 0 1 1 1.715.301L8.08 6.805 14.584.441a.999.999 0 1 1 1.398 1.43L8.763 8.934a.993.993 0 0 1-.699.285z"/>
    </symbol>
    <symbol id="fw--icon--facebook-square" viewBox="0 0 32 32">
      <title>facebook-square icon</title>
      <path  d="M27.079 0H5.318C2.491 0 0 2.054 0 4.882v21.76C0 29.47 2.491 32 5.318 32h13.474c-.025-4.194.006-8.865-.015-12.923-.859-.009-1.719-.053-2.578-.066.003-1.434.001-2.899.002-4.333.858-.011 1.718-.013 2.576-.021.026-1.395-.025-2.798.027-4.192.086-1.103.507-2.218 1.332-2.98.998-.951 2.418-1.274 3.758-1.313 1.416-.013 2.832-.006 4.25-.005a609.01 609.01 0 0 1-.001 4.483c-.916-.001-1.832.002-2.747-.001-.58-.037-1.177.403-1.283.979-.014 1-.004 2-.004 3 1.343.005 2.686-.002 4.028.003a56.42 56.42 0 0 1-.488 4.321c-1.187.011-2.373.118-3.559.125-.01 4.057.003 8.729-.007 12.924h2.995C29.906 32 32 29.47 32 26.642V4.882C32 2.054 29.906 0 27.079 0z"/>
    </symbol>
    <symbol id="fw--icon--facebook" viewBox="0 0 16.98 32">
      <title>facebook icon</title>
      <path  d="M0 11.716h5.027V7.154s-.211-2.981 2.1-5.245C9.438-.354 12.55-.139 16.981.238V5.33h-3.275s-1.376-.028-2.024.7c-.646.728-.576 1.766-.576 2.021v3.665h5.683l-.729 5.672h-4.983V32H5.05V17.361H0v-5.645z"/>
    </symbol>
    <symbol id="fw--icon--instagram" viewBox="0 0 32 32">
      <title>instagram icon</title>
      <g ><path d="M32 11.429v9.142c-.017.168-.039.334-.049.501-.07 1.054-.091 2.114-.219 3.161-.187 1.519-.706 2.933-1.631 4.171-1.715 2.292-4.11 3.247-6.873 3.462-.715.056-1.432.089-2.149.133H10.857c-.146-.018-.291-.045-.436-.054-.759-.049-1.521-.063-2.275-.147-1.651-.183-3.198-.679-4.543-1.683C1.3 28.397.344 25.994.132 23.222.08 22.551.045 21.878 0 21.206V10.794c.022-.252.04-.503.066-.753C.172 9.034.194 8.009.4 7.023 1.021 4.094 2.698 1.992 5.503.852 6.997.245 8.575.114 10.165.066c.421-.012.842-.043 1.263-.066h9.143c.145.016.293.038.438.047 1.075.072 2.156.086 3.222.223 1.672.214 3.204.812 4.516 1.907 2.097 1.75 2.933 4.087 3.118 6.722.059.843.09 1.687.135 2.53zM2.858 15.994h.062c0 1.683-.03 3.366.011 5.046.024 1.044.076 2.098.256 3.124.414 2.375 1.792 3.927 4.156 4.553 1.179.312 2.386.344 3.588.353 3.375.026 6.75.028 10.125-.003 1.042-.009 2.099-.075 3.123-.258 2.374-.424 3.922-1.809 4.534-4.177.341-1.314.348-2.661.359-4.001.029-3.089.031-6.179-.002-9.268-.013-1.16-.069-2.332-.257-3.473-.399-2.403-1.784-3.98-4.181-4.604-1.313-.342-2.661-.349-4-.36-3.09-.028-6.179-.031-9.268.002-1.16.013-2.33.075-3.473.256-2.242.361-3.822 1.604-4.495 3.815a9.788 9.788 0 0 0-.398 2.429c-.089 2.187-.099 4.378-.14 6.566z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.997 24.227c-4.525.001-8.205-3.674-8.225-8.213-.02-4.528 3.698-8.238 8.237-8.222 4.55.016 8.208 3.684 8.199 8.22-.01 4.541-3.682 8.214-8.211 8.215zm-.015-2.892c2.937.003 5.336-2.384 5.346-5.318.008-2.926-2.389-5.336-5.32-5.345-2.928-.01-5.34 2.392-5.343 5.319-.003 2.938 2.388 5.34 5.317 5.344zM24.528 9.391a1.934 1.934 0 0 1-1.92-1.914c-.004-1.061.875-1.944 1.93-1.94a1.957 1.957 0 0 1 1.924 1.919c.009 1.055-.874 1.936-1.934 1.935z"/></g>
    </symbol>
    <symbol id="fw--icon--kickstarter" viewBox="0 0 27.172 32">
      <title>kickstarter icon</title>
      <path  d="M10.398 10.906l5.867-8.502C17.375.801 18.809 0 20.564 0c1.434 0 2.672.508 3.719 1.525 1.047 1.017 1.57 2.233 1.57 3.65 0 1.048-.275 1.972-.83 2.773l-5.291 7.694 6.469 8.202c.646.816.971 1.772.971 2.865 0 1.448-.508 2.692-1.523 3.731-1.018 1.041-2.25 1.56-3.697 1.56-1.588 0-2.797-.516-3.629-1.548l-7.924-9.889v5.453c0 1.556-.269 2.765-.809 3.627C8.603 31.214 7.172 32 5.291 32c-1.709 0-3.033-.578-3.973-1.733C.439 29.205 0 27.795 0 26.04V5.822C0 4.159.447 2.788 1.34 1.71 2.279.57 3.574 0 5.223 0c1.57 0 2.879.57 3.928 1.71.586.631.955 1.27 1.109 1.917.092.4.139 1.147.139 2.241v5.038z"/>
    </symbol>
    <symbol id="fw--icon--layout-collage" viewBox="0 0 32 24.471">
      <title>layout-collage icon</title>
      <clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)"  d="M-9.412-9.412h50.824v43.294H-9.412z"/>
    </symbol>
    <symbol id="fw--icon--layout-columns" viewBox="0 0 32 24.471">
      <title>layout-columns icon</title>
      <clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)"  d="M-9.412-9.412h50.824v43.294H-9.412z"/>
    </symbol>
    <symbol id="fw--icon--layout-grid" viewBox="0 0 32 24.471">
      <title>layout-grid icon</title>
      <clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)"  d="M-9.412-9.412h50.824v43.294H-9.412z"/>
    </symbol>
    <symbol id="fw--icon--layout-list" viewBox="0 0 32 26.353">
      <title>layout-list icon</title>
      <clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)"  d="M-9.412-9.412h50.824v45.176H-9.412z"/>
    </symbol>
    <symbol id="fw--icon--link" viewBox="0 0 29.787 23.933">
      <title>link icon</title>
      <path  d="M19.928 11.381c.828 1.819.695 3.804-.131 5.458 0 0 0 .032-.033.032-.199.364-.398.694-.662.992-.033.033-.066.1-.1.133a5.804 5.804 0 0 1-.793.761.878.878 0 0 1-.199.165c-.363.265-.727.529-1.158.694l-7.971 3.738c-3.143 1.455-6.848.066-8.303-3.043-1.455-3.109-.066-6.847 3.043-8.303l4.531-2.084c0 .728.133 1.456.365 2.15L4.48 13.926c-2.084.959-2.977 3.439-2.018 5.523s3.441 2.978 5.525 2.018l8.004-3.672c.264-.133.496-.265.695-.431.197-.165.397-.33.596-.528a4.133 4.133 0 0 0 .727-4.566l-.1-.198c-1.025-1.919-3.373-2.778-5.391-1.819l-.067.033c-.133-.86.1-1.72.596-2.382 1.521-.298 3.043 0 4.332.728l.033-.033c.133.1.266.198.43.298a6.637 6.637 0 0 1 2.086 2.484zm9.295-7.741C27.801.498 24.063-.859 20.953.564h-.031l-6.221 2.878-1.719.793h-.032a.445.445 0 0 0-.133.1 4.942 4.942 0 0 0-.992.595c-.166.099-.264.231-.396.363a4.068 4.068 0 0 0-.529.529c-.133.133-.233.298-.363.463l-.399.596c-.098.166-.165.332-.264.53-.1.198-.166.43-.232.628l-.098.298.031-.033a6.277 6.277 0 0 0 .332 4.234l.1.198h-.034c.131.233.264.464.43.694.033.034.066.1.1.133.43.596.959 1.125 1.555 1.522.064.066.164.1.264.165.233.133.43.266.662.364.033 0 .066.033.1.066a6.036 6.036 0 0 0 3.67.396c.531-.661.729-1.521.596-2.381l-.033.032a4.11 4.11 0 0 1-3.473-.032 2.078 2.078 0 0 1-.463-.266c-.066-.032-.133-.099-.199-.132-.131-.099-.264-.198-.397-.33l-.197-.199c-.1-.132-.233-.231-.332-.396-.066-.066-.098-.166-.164-.231l-.299-.496c-.959-2.084-.033-4.565 2.018-5.524l7.078-3.274.895-.398c2.084-.959 4.564-.033 5.523 2.018.959 2.052.033 4.565-2.018 5.524l-4.068 1.886c.23.694.363 1.422.397 2.116l4.531-2.083c3.141-1.423 4.496-5.128 3.074-8.27z"/>
    </symbol>
    <symbol id="fw--icon--lock" viewBox="0 0 17 20">
      <title>Lock icon</title><path d="M15.725 8.333H15.3V6.875C15.3 3.02 12.313 0 8.5 0 4.687 0 1.7 3.02 1.7 6.875v1.458h-.425C.571 8.333 0 8.893 0 9.583v9.167C0 19.44.571 20 1.275 20h14.45c.704 0 1.275-.56 1.275-1.25V9.583c0-.69-.571-1.25-1.275-1.25zM4.25 6.875C4.25 4.381 6.077 2.5 8.5 2.5s4.25 1.88 4.25 4.375v1.458h-8.5V6.875zm5.95 8.142c0 .91-.754 1.65-1.683 1.65h-.034c-.93 0-1.683-.74-1.683-1.65v-1.7c0-.911.754-1.65 1.683-1.65h.034c.93 0 1.683.739 1.683 1.65v1.7z"/>
    </symbol>
    <symbol id="fw--icon--mail" viewBox="0 0 32 20.947">
      <title>mail icon</title>
      <g ><path d="M2.124.001a2.154 2.154 0 0 0-.78.146L15.83 12.269 30.656.351a2.1 2.1 0 0 0-.89-.206L2.124.001z"/><path d="M31.928 1.749l-15.43 12.406a.915.915 0 0 1-1.152-.012L.203 1.47c-.069.21-.115.426-.117.655L0 18.655c-.002.251.048.487.125.713l8.519-8.229a.91.91 0 0 1 1.264 1.306l-8.51 8.22c.227.083.471.137.727.138l27.643.145c.286.002.559-.056.81-.155l-8.459-8.347a.907.907 0 0 1-.009-1.285.907.907 0 0 1 1.285-.008l8.413 8.297c.062-.198.103-.407.105-.627L32 2.292a2.234 2.234 0 0 0-.072-.543z"/></g>
    </symbol>
    <symbol id="fw--icon--menu" viewBox="0 0 26 17.454">
      <title>menu icon</title>
      <path  d="M.729 0A.72.72 0 0 0 0 .734v1.441c0 .405.316.734.729.734h24.543A.72.72 0 0 0 26 2.175V.734A.725.725 0 0 0 25.271 0H.729zm0 7.273A.72.72 0 0 0 0 8.007v1.44c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.44a.725.725 0 0 0-.729-.734H.729zm0 7.272a.72.72 0 0 0-.729.734v1.441c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.441a.725.725 0 0 0-.729-.734H.729z"/><path d="M.729 0A.72.72 0 0 0 0 .734v1.441c0 .405.316.734.729.734h24.543A.72.72 0 0 0 26 2.175V.734A.725.725 0 0 0 25.271 0H.729zm0 7.273A.72.72 0 0 0 0 8.007v1.44c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.44a.725.725 0 0 0-.729-.734H.729zm0 7.272a.72.72 0 0 0-.729.734v1.441c0 .405.316.734.729.734h24.543a.72.72 0 0 0 .729-.734v-1.441a.725.725 0 0 0-.729-.734H.729z"/>
    </symbol>
    <symbol id="fw--icon--minus-circle-outline" viewBox="0 0 32 32">
      <title>minus-circle-outline icon</title>
      <g ><path d="M16 32c8.8 0 16-7.2 16-16S24.8 0 16 0 0 7.2 0 16s7.2 16 16 16zm0-28.8c7.041 0 12.8 5.76 12.8 12.8 0 7.041-5.759 12.8-12.8 12.8S3.2 23.041 3.2 16C3.2 8.96 8.959 3.2 16 3.2z"/><path d="M9.6 14.4h12.8v3.2H9.6z"/></g>
    </symbol>
    <symbol id="fw--icon--minus-circle" viewBox="0 0 31 31">
      <title>minus-circle icon</title>
      <path  d="M15.5 0C6.975 0 0 6.975 0 15.5S6.975 31 15.5 31 31 24.025 31 15.5 24.025 0 15.5 0zm6.2 17.05H9.3v-3.1h12.4v3.1z"/>
    </symbol>
    <symbol id="fw--icon--minus" viewBox="0 0 32 5.603">
      <title>minus icon</title>
      <path d="M30.33 0c.394 0 .698.073.914.215.217.144.375.342.486.593.106.251.18.547.214.888a10.85 10.85 0 0 1 0 2.21 3.085 3.085 0 0 1-.214.888c-.111.252-.27.451-.486.593-.217.144-.521.215-.914.215H1.67c-.396 0-.703-.071-.917-.215a1.29 1.29 0 0 1-.483-.593c-.111-.25-.18-.547-.217-.888S0 3.197 0 2.801s.016-.762.053-1.105C.09 1.356.159 1.06.27.809.376.558.54.36.754.216.967.073 1.274 0 1.67 0h28.66z"/>
    </symbol>
    <symbol id="fw--icon--pinterest-circle" viewBox="0 0 32 32">
      <title>pinterest-circle icon</title>
      <path  d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm1.473 20.846c-1.182 0-2.296-.653-2.678-1.394 0 0-.637 2.576-.771 3.076-.225.839-.666 1.678-1.071 2.344-.578.758-1.247.196-1.326-.493-.026-.767 0-1.678.193-2.504.212-.908 1.411-6.096 1.411-6.096s-.349-.715-.349-1.77c0-1.659.94-2.896 2.113-2.896.996 0 1.479.764 1.479 1.678 0 1.022-.64 2.553-.967 3.971-.274 1.185.584 2.155 1.731 2.155 2.077 0 3.474-2.723 3.474-5.946 0-2.452-1.616-4.287-4.562-4.287-3.324 0-5.394 2.531-5.394 5.358 0 .973.281 1.662.722 2.194.202.245.232.343.157.624-.052.206-.173.702-.222.898-.072.284-.297.385-.549.281-1.531-.64-2.243-2.351-2.243-4.274 0-3.177 2.625-6.988 7.83-6.988 4.183 0 6.936 3.092 6.936 6.41-.001 4.38-2.391 7.659-5.914 7.659z"/>
    </symbol>
    <symbol id="fw--icon--pinterest" viewBox="0 0 19.95 25.644">
      <title>pinterest icon</title>
      <path d="M8.201 16.961c-.673 3.53-1.496 6.915-3.932 8.683-.752-5.336 1.104-9.344 1.966-13.598-1.469-2.474.177-7.453 3.277-6.226 3.814 1.509-3.303 9.197 1.475 10.158 4.988 1.002 7.025-8.655 3.932-11.796-4.469-4.535-13.01-.103-11.96 6.389.255 1.588 1.895 2.069.655 4.26C.754 14.197-.1 11.941.01 8.933.187 4.01 4.434.563 8.693.086c5.387-.603 10.442 1.977 11.14 7.045.786 5.719-2.431 11.914-8.191 11.468-1.562-.121-2.218-.895-3.441-1.638z"/>
    </symbol>
    <symbol id="fw--icon--play-circle-fill" viewBox="0 0 32 32">
      <title>play-circle-fill icon</title>
      <path  d="M16 32c8.8 0 16-7.2 16-16S24.8 0 16 0 0 7.2 0 16s7.2 16 16 16zm-2.51-20.897L20.019 16l-6.529 4.897v-9.794z"/>
    </symbol>
    <symbol id="fw--icon--play-circle-outline" viewBox="0 0 32 32">
      <title>play-circle-outline icon</title>
      <g ><path d="M13.485 20.897L20.015 16l-6.53-4.897z"/><path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0zm0 28.8C8.96 28.8 3.2 23.041 3.2 16 3.2 8.96 8.96 3.2 16 3.2c7.04 0 12.8 5.76 12.8 12.8 0 7.041-5.76 12.8-12.8 12.8z"/></g>
    </symbol>
    <symbol id="fw--icon--plus-circle-outline" viewBox="0 0 32 32">
      <title>plus-circle-outline icon</title>
      <path  d="M16 32c8.8 0 16-7.2 16-16S24.8 0 16 0 0 7.2 0 16s7.2 16 16 16zm0-28.8c7.04 0 12.8 5.76 12.8 12.8 0 7.041-5.759 12.8-12.8 12.8S3.2 23.041 3.2 16C3.2 8.96 8.959 3.2 16 3.2z"/><path  d="M14.4 22.4h3.2v-4.8h4.8v-3.2h-4.8V9.6h-3.2v4.8H9.6v3.2h4.8z"/>
    </symbol>
    <symbol id="fw--icon--plus-circle" viewBox="0 0 32 32">
      <title>plus-circle icon</title>
      <path  d="M15.536 31.948c8.771.255 16.158-6.712 16.412-15.484C32.204 7.693 25.236.307 16.465.052 7.693-.204.307 6.764.052 15.535c-.255 8.772 6.712 16.158 15.484 16.413zM8.073 14.173l6.379.185.186-6.378 3.189.092-.185 6.379 6.379.187-.093 3.189-6.379-.186-.186 6.379-3.19-.093.186-6.379-6.379-.185.093-3.19z"/>
    </symbol>
    <symbol id="fw--icon--plus" viewBox="0 0 32 32.003">
      <title>plus icon</title>
      <path d="M30.335 13.209c.395 0 .701.072.914.215.213.144.377.341.482.591.111.25.179.545.216.885.037.341.053.708.053 1.101 0 .394-.016.761-.053 1.101s-.105.636-.216.885a1.294 1.294 0 0 1-.482.591c-.213.144-.519.215-.914.215H18.792v11.544c0 .394-.074.698-.216.913a1.31 1.31 0 0 1-.59.483 3.07 3.07 0 0 1-.885.215c-.342.036-.706.054-1.101.054s-.761-.018-1.101-.054a3.07 3.07 0 0 1-.885-.215 1.3 1.3 0 0 1-.59-.483c-.145-.215-.216-.519-.216-.913V18.794H1.665c-.395 0-.701-.071-.914-.215a1.299 1.299 0 0 1-.482-.591c-.108-.249-.179-.545-.216-.885S0 16.395 0 16.001c0-.394.016-.76.053-1.101a3.07 3.07 0 0 1 .216-.885 1.31 1.31 0 0 1 .482-.591c.213-.142.519-.215.914-.215h11.543V1.665c0-.394.071-.698.216-.913.142-.215.337-.375.59-.483.25-.107.545-.179.885-.215S15.605 0 16 0s.759.018 1.101.054c.34.036.635.108.885.215.25.108.448.269.59.483.142.215.216.519.216.913v11.544h11.543z"/>
    </symbol>
    <symbol id="fw--icon--rss" viewBox="0 0 32 32">
      <title>rss icon</title>
      <path  d="M.069 17.006c3.98 0 7.721 1.555 10.533 4.382 2.817 2.828 4.368 6.594 4.368 10.604h6.133c0-11.646-9.436-21.12-21.034-21.12v6.134zM.078 6.133c14.184 0 25.725 11.603 25.725 25.867h6.133c0-17.646-14.292-32-31.858-32v6.133zM8.56 27.715a4.249 4.249 0 1 1-8.498-.002 4.249 4.249 0 0 1 8.498.002z"/>
    </symbol>
    <symbol id="fw--icon--search" viewBox="0 0 32 32">
      <title>search icon</title>
      <path  d="M31.562 28.716l-8.713-8.744a12.413 12.413 0 0 0 2.011-6.778C24.86 6.319 19.284.725 12.43.725S0 6.319 0 13.194s5.576 12.469 12.431 12.469c3.281 0 6.261-1.292 8.485-3.383l8.522 8.553a1.495 1.495 0 0 0 2.121.003 1.498 1.498 0 0 0 .003-2.12zm-19.131-6.052C7.23 22.664 3 18.416 3 13.194s4.23-9.469 9.431-9.469c5.2 0 9.43 4.248 9.43 9.469s-4.231 9.47-9.43 9.47z"/>
    </symbol>
    <symbol id="fw--icon--shopify-logo" viewBox="0 0 150 43">
      <title>Shopify logo</title><path d="M33.3 8.9s0-.2-.1-.3c-.1-.1-.2-.1-.2-.1l-3.4-.2-2.1-2.1c-.1-.1-.2-.1-.3-.1l-1.8 36.1L38 39.5 33.3 8.9zm-7.5-3l-.9.3c-.6-1.6-1.3-2.8-2.3-3.5-.7-.5-1.5-.7-2.3-.6l-.6-.6c-.9-.7-2.1-.9-3.6-.3C11.8 2.7 10 8.3 9.3 11l-3.8 1.1s-.9.2-1.1.5c-.2.3-.3 1-.3 1L.9 37.9l23.6 4.4L26.3 6c-.2-.2-.4-.1-.5-.1zm-5.7 1.7L16 8.9c.5-2.1 1.6-4.3 3.6-5.1.4 1 .5 2.5.5 3.8zm-3.5-5.2c.9-.3 1.6-.3 2.1 0-2.7 1.2-3.9 4.3-4.4 6.9l-3.3 1c.7-2.5 2.3-6.7 5.6-7.9zm2.3 17.9c-.2-.1-.4-.2-.7-.3-.3-.1-.5-.2-.8-.3-.3-.1-.6-.1-1-.2h-1.1c-.3 0-.6.1-.9.2-.3.1-.5.2-.7.4-.2.2-.3.4-.4.6-.1.2-.2.5-.2.7 0 .2 0 .4.1.6l.3.6.6.6c.2.2.5.4.8.6.5.3.9.6 1.4 1 .5.4.9.8 1.2 1.3.4.5.7 1 .9 1.7.2.6.3 1.3.3 2.1-.1 1.2-.3 2.3-.8 3.2-.4.9-1.1 1.6-1.8 2.1s-1.6.8-2.5.9c-.9.1-1.9.1-2.8-.2-.5-.1-.9-.3-1.3-.4l-1.2-.6c-.3-.2-.7-.4-.9-.6-.3-.2-.5-.4-.7-.7L7.8 30c.2.2.4.3.7.5.3.2.6.4.9.5.3.2.7.3 1 .5.4.1.7.2 1.1.3h.8c.2-.1.5-.2.6-.3.2-.1.3-.3.4-.5.1-.2.1-.4.2-.7 0-.2 0-.5-.1-.7-.1-.2-.2-.4-.3-.7-.1-.2-.3-.4-.6-.7-.2-.2-.5-.5-.9-.7-.4-.3-.8-.6-1.2-1-.3-.4-.7-.7-.9-1.2-.2-.4-.4-.9-.6-1.4-.1-.5-.2-1-.2-1.6 0-1 .2-1.8.6-2.6.3-.8.8-1.5 1.4-2.2.6-.6 1.3-1.2 2.2-1.6.9-.4 1.8-.7 2.9-.9.5-.1 1-.1 1.4-.1.5 0 .9 0 1.3.1s.8.1 1.1.2l.9.3-1.6 4.8zm2.6-13.1v-.5c0-1.3-.2-2.4-.5-3.2.3 0 .6.1.9.3.8.5 1.3 1.6 1.7 2.8l-2.1.6zM45.3 29.6c.9.5 2.5 1.1 4.1 1.1 1.4 0 2.2-.8 2.2-1.7 0-.9-.5-1.5-2.1-2.4-1.9-1.1-3.3-2.6-3.3-4.6 0-3.5 3-6 7.4-6 1.9 0 3.4.4 4.2.8l-1.2 3.5c-.7-.3-1.8-.7-3.1-.7-1.4 0-2.3.6-2.3 1.7 0 .8.7 1.4 1.9 2 2 1.1 3.6 2.6 3.6 4.7 0 4-3.2 6.2-7.7 6.1-2.1 0-4-.6-4.9-1.2l1.2-3.3zm12.4 4.5l4.9-25.2h5l-1.9 9.8h.1c1.3-1.6 3.1-2.7 5.3-2.7 2.6 0 4.1 1.7 4.1 4.5 0 .9-.1 2.2-.4 3.3l-2 10.3h-5l1.9-9.9c.1-.7.2-1.5.2-2.2 0-1.1-.4-1.8-1.6-1.8-1.6 0-3.3 2-4 5.3l-1.7 8.7h-4.9v-.1zM93.3 23c0 6.1-4 11.4-9.9 11.4-4.5 0-6.9-3.1-6.9-6.9 0-6 4-11.4 10-11.4 4.7 0 6.8 3.3 6.8 6.9zm-11.7 4.3c0 1.8.7 3.2 2.4 3.2 2.7 0 4.1-4.7 4.1-7.7 0-1.5-.6-3-2.4-3-2.6.1-4.1 4.7-4.1 7.5zm10.5 13.8L95.6 23c.4-2 .8-4.7 1-6.6h4.4l-.3 2.8h.1c1.3-1.9 3.3-3 5.3-3 3.7 0 5.2 2.9 5.2 6.3 0 6-3.9 12.1-9.7 12.1-1.2 0-2.4-.5-2.9-.5h-.1l-1.4 7h-5.1zm7.2-11.2c.5.4 1.2.7 2.1.7 2.8 0 4.7-4.6 4.7-7.8 0-1.3-.5-2.7-2-2.7-1.7 0-3.4 2-4 5.1l-.8 4.7zm12.2 4.2l3.4-17.7h5.1l-3.4 17.7h-5.1zm6.5-19.6c-1.4 0-2.4-1.1-2.4-2.6 0-1.6 1.3-2.9 2.9-2.9 1.5 0 2.5 1.1 2.5 2.6 0 1.8-1.4 2.9-3 2.9zm2.9 19.6l2.7-14h-2.3l.7-3.7h2.3l.1-.8c.4-2.1 1.2-4.2 2.9-5.6 1.3-1.1 3.1-1.6 4.9-1.6 1.2 0 2.1.2 2.7.4l-1 3.9c-.4-.1-.9-.3-1.6-.3-1.7 0-2.7 1.5-3 3.2l-.2.8h3.5l-.7 3.7h-3.5l-2.7 14h-4.8zm18-17.7l.8 7.9c.2 1.8.4 3.3.4 4.2h.1c.4-.9.8-2.3 1.5-4.2l3.1-7.9h5.2l-6.1 13.1c-2.2 4.5-4.3 7.7-6.6 9.9-1.8 1.7-3.9 2.5-4.9 2.7l-1.4-4.2c.8-.3 1.9-.7 2.8-1.4 1.2-.8 2.1-1.9 2.7-3 .1-.3.2-.5.1-1.9l-3-15.2h5.3z"/>
    </symbol>
    <symbol id="fw--icon--shopify" viewBox="0 0 28.103 32">
      <title>shopify icon</title>
      <path d="M24.613 6.97s-.026-.141-.107-.19a.49.49 0 0 0-.171-.062l-2.572-.186-1.894-1.83a.557.557 0 0 0-.239-.101L18.226 32l9.876-2.081L24.613 6.97zM2.614 9.025h.004a.273.273 0 0 1 .023-.038.26.26 0 0 0-.027.038zM2.647 8.976l-.006.011.006-.011z"/><path d="M18.531 4.623l-.527.146c-.437-1.59-1.083-2.698-1.93-3.298A2.64 2.64 0 0 0 14.29.977a2.608 2.608 0 0 0-.436-.468c-.708-.574-1.625-.663-2.72-.265-3.45 1.251-4.814 5.881-5.251 7.875l-3.265.906c-.147.234-.178.725-.178.725L0 28.567l17.97 3.367.965-26.54c.05-.923-.275-.8-.404-.771zm-2.998-2.296c.695.491 1.153 1.59 1.444 2.728l-1.719.475c.007-.303.007-.63-.005-.972-.038-.98-.171-1.808-.397-2.479.246.026.472.102.677.248zm-1.384 3.508l-3.26.901c.383-1.781 1.187-3.733 2.875-4.453.381.997.434 2.432.385 3.552zm-2.64-4.558c.666-.241 1.173-.223 1.56.034-2.204 1.011-3.076 3.658-3.42 5.769l-2.55.706c.514-2.007 1.774-5.551 4.41-6.509zm2.15 13.802a6.244 6.244 0 0 0-.509-.219 5.673 5.673 0 0 0-1.374-.323 5.246 5.246 0 0 0-.808-.02 2.567 2.567 0 0 0-.697.135c-.204.072-.38.173-.525.297a1.33 1.33 0 0 0-.34.441 1.467 1.467 0 0 0-.137.571c-.007.156.018.308.073.453.055.146.141.291.258.434.119.142.268.286.449.432.183.146.399.296.646.449.348.225.705.477 1.043.765.343.292.668.623.948.998.282.383.517.808.675 1.288.162.48.243 1.013.216 1.599-.041.958-.252 1.785-.598 2.47a4.167 4.167 0 0 1-1.388 1.594 4.445 4.445 0 0 1-1.905.705c-.683.09-1.415.05-2.169-.117-.006-.002-.013-.002-.018-.005l-.018-.002-.019-.006-.018-.002a7.088 7.088 0 0 1-1.898-.758 5.49 5.49 0 0 1-.717-.495 3.325 3.325 0 0 1-.52-.523l.833-2.762a7.453 7.453 0 0 0 1.166.806c.24.134.497.259.762.36.267.104.543.182.817.222.241.035.457.026.645-.015a1.18 1.18 0 0 0 .485-.229c.134-.11.237-.246.31-.403.071-.156.113-.336.121-.526a1.727 1.727 0 0 0-.057-.541 1.777 1.777 0 0 0-.238-.512 3.034 3.034 0 0 0-.44-.51 6.62 6.62 0 0 0-.66-.541 7.05 7.05 0 0 1-.884-.774 4.964 4.964 0 0 1-.69-.899 4.077 4.077 0 0 1-.437-1.049 4.186 4.186 0 0 1-.123-1.226 6.164 6.164 0 0 1 .43-2.04c.25-.62.605-1.18 1.051-1.66a5.72 5.72 0 0 1 1.642-1.22 6.969 6.969 0 0 1 2.234-.666 8.79 8.79 0 0 1 1.104-.075c.354-.003.688.019.995.059.311.038.594.098.845.168.253.072.473.156.653.249l-1.214 3.623z"/>
    </symbol>
    <symbol id="fw--icon--snapchat" viewBox="0 0 32 30.134">
      <title>snapchat icon</title>
      <path d="M7.772 5.111c-.8 1.792-.484 5.003-.356 7.248-.864.479-1.973-.361-2.601-.361-.653 0-1.433.429-1.556 1.069-.089.461.118 1.133 1.601 1.719.573.227 1.937.493 2.253 1.237.444 1.045-2.28 5.871-6.557 6.575a.664.664 0 0 0-.555.692c.075 1.3 2.989 1.809 4.281 2.009.132.179.239.933.408 1.508.076.257.272.565.776.565.657 0 1.749-.507 3.651-.192 1.864.311 3.616 2.953 6.98 2.953 3.127 0 4.992-2.655 6.787-2.953 1.039-.172 1.931-.117 2.928.077.687.135 1.303.209 1.499-.465.172-.583.277-1.323.407-1.497 1.28-.199 4.208-.707 4.281-2.007a.664.664 0 0 0-.555-.692c-4.205-.693-7.012-5.504-6.557-6.575.315-.743 1.669-1.007 2.253-1.237 1.085-.428 1.629-.955 1.617-1.564-.015-.78-.953-1.245-1.644-1.245-.703 0-1.712.832-2.529.381.128-2.264.443-5.46-.356-7.251C22.715 1.715 19.348 0 15.983 0c-3.344 0-6.686 1.691-8.211 5.111z"/>
    </symbol>
    <symbol id="fw--icon--trip-advisor" viewBox="0 0 31.68 18.771">
      <title>trip-advisor icon</title>
      <g ><path d="M19.413.294c.884.125 1.75.347 2.605.61a17.836 17.836 0 0 1 4.229 1.928.649.649 0 0 0 .324.094c1.557.006 3.113.004 4.669.005.125 0 .25.013.375.02 0 .03.004.043-.001.05l-.219.334c-.528.81-.98 1.657-1.246 2.594-.029.1-.035.185.033.283 1.386 1.99 1.828 4.175 1.249 6.531-.508 2.066-1.692 3.676-3.491 4.816-1.286.815-2.707 1.204-4.224 1.212a7.385 7.385 0 0 1-1.895-.243c-1.518-.394-2.819-1.15-3.891-2.296-.141-.15-.274-.308-.425-.477l-1.696 2.529-1.669-2.493c-.038.02-.049.022-.056.029-.013.01-.023.023-.033.035-1.297 1.531-2.928 2.47-4.916 2.784a7.682 7.682 0 0 1-3.274-.184A7.821 7.821 0 0 1 2 16.049a7.806 7.806 0 0 1-1.895-4.032c-.273-1.427.06-2.803.143-3.137a7.945 7.945 0 0 1 1.235-2.681.307.307 0 0 0 .035-.23C1.283 5.109.879 4.326.406 3.576c-.12-.191-.264-.367-.397-.55v-.064c.026.003.053.008.079.008 1.593 0 3.185.001 4.778-.002a.406.406 0 0 0 .206-.067 17.184 17.184 0 0 1 3.564-1.73 19.332 19.332 0 0 1 2.767-.75c.911-.176 1.826-.3 2.752-.361 2.256-.173 4.059.066 5.258.234zm-1.996 10.52c0 3.498 2.838 6.355 6.323 6.342 3.498-.013 6.324-2.79 6.321-6.326-.003-3.644-2.959-6.384-6.457-6.313-3.453.071-6.156 2.855-6.187 6.297zM7.931 4.492c-3.403-.03-6.369 2.81-6.31 6.427.055 3.373 2.836 6.233 6.381 6.202 3.466-.03 6.252-2.86 6.258-6.288a6.307 6.307 0 0 0-6.329-6.341zm.314-1.65c1.922.117 3.611.787 5.037 2.084 1.423 1.295 2.258 2.91 2.561 4.809.312-1.877 1.124-3.477 2.521-4.758 1.399-1.283 3.065-1.956 4.956-2.099-2.244-.997-4.609-1.421-7.044-1.468-2.768-.054-5.46.354-8.031 1.432z"/><path d="M23.727 6.823a3.902 3.902 0 0 1 3.918 3.903 3.921 3.921 0 1 1-7.844.009c.002-2.219 1.832-3.948 3.926-3.912zm2.553 3.913a2.555 2.555 0 0 0-2.543-2.558 2.57 2.57 0 0 0-2.577 2.547c-.005 1.401 1.155 2.566 2.559 2.57a2.564 2.564 0 0 0 2.561-2.559zM7.848 6.823a3.902 3.902 0 0 1 3.914 3.907 3.923 3.923 0 0 1-7.844.002c.004-2.236 1.847-3.946 3.93-3.909zm2.55 3.904a2.557 2.557 0 0 0-2.585-2.549c-1.383.003-2.541 1.169-2.538 2.557a2.584 2.584 0 0 0 2.569 2.562c1.399.003 2.558-1.163 2.554-2.57z"/><path d="M23.729 9.437a1.298 1.298 0 0 1 .008 2.595c-.726 0-1.31-.574-1.309-1.285a1.29 1.29 0 0 1 1.301-1.31zM7.841 9.425a1.309 1.309 0 0 1 1.316 1.307 1.316 1.316 0 0 1-1.313 1.313 1.293 1.293 0 0 1-1.314-1.318 1.29 1.29 0 0 1 1.311-1.302z"/></g>
    </symbol>
    <symbol id="fw--icon--tumblr" viewBox="0 0 17.973 32">
      <title>tumblr icon</title>
      <path  d="M0 6.928h.934s2.714-.64 3.977-2.894C6.174 1.781 6.035 0 6.035 0h4.474v6.928h7.079v5.566h-7.025v9.07s.055 1.449.193 2.004c.137.557 1.232 1.892 2.964 1.892 1.727 0 4.252-1.111 4.252-1.111v6.703s-3.513.947-5.624.947c-2.114 0-8.095-.223-9.056-6.401V12.465H0V6.928z"/>
    </symbol>
    <symbol id="fw--icon--twitter" viewBox="0 0 32 26.065">
      <title>twitter icon</title>
      <path  d="M2.23 1.213s4.911 6.51 13.447 6.96c0 0-1.156-3.846 2.388-6.787 3.545-2.945 7.928-.45 8.769.66 0 0 2.493-.39 4.234-1.561 0 0-.569 2.247-2.672 3.601 0 0 2.463-.328 3.604-.989 0 0-1.201 1.923-3.272 3.394 0 0 .87 8.124-6.113 14.837-6.983 6.712-18.47 5.316-22.615 1.8 0 0 5.631.633 9.595-2.746 0 0-4.685-.091-6.036-4.461 0 0 2.342.182 2.748-.27 0 0-5.045-1.216-5.09-6.488 0 0 1.531.767 2.927.812.001 0-4.865-3.514-1.914-8.762z"/>
    </symbol>
    <symbol id="fw--icon--vimeo" viewBox="0 0 32 27.707">
      <title>vimeo icon</title>
      <path  d="M1.512 9.425L0 7.523s2.66-2.442 4.367-3.977C6.072 2.011 8.17.261 9.986.434c1.814.172 3.305 1.102 3.977 4.798.67 3.696 1.211 8.212 2.291 10.807 0 0 .691 1.816 1.426 1.729.734-.087 2.076-1.642 3.416-3.805 1.34-2.162 2.076-3.977 1.643-5.706-.434-1.729-3.199-1.297-4.365-.821 0 0 2.035-8.104 9.164-7.392 0 0 4.711 0 4.453 5.62-.262 5.619-4.064 10.504-7.695 14.913-3.633 4.41-7.264 7.524-10.332 7.09-3.068-.432-4.236-4.971-5.231-8.775-.994-3.803-2.291-8.818-3.674-10.504 0 0-.65-.865-1.6-.303l-1.947 1.34z"/>
    </symbol>
    <symbol id="fw--icon--vine" viewBox="0 0 28.016 32">
      <title>vine icon</title>
      <path  d="M0 4.794h5.508s.842 7.284 2.461 11.393c1.617 4.109 3.859 8.155 5.789 10.396 0 0 2.988-2.365 5.416-7.595 0 0-5.789-3.05-5.789-10.645 0 0 .311-8.343 7.285-8.343 6.972 0 7.346 6.102 7.346 7.596 0 1.495-.5 4.482-1.246 5.666 0 0-2.926.809-4.793-1.557 0 0 .746-1.432.746-3.797 0-2.367-1.183-3.175-2.24-3.175-1.06 0-1.932 1.744-1.932 4.109 0 2.366 1.496 7.16 7.285 7.16h2.117v3.797s-3.052.374-3.86.374c0 0-2.989 6.724-8.591 11.083 0 0-1.309.746-1.867.746-.563 0-2.056-.684-2.928-1.556C9.836 29.572 2.428 24.197 0 4.794z"/>
    </symbol>
    <symbol id="fw--icon--yelp" viewBox="0 0 24.755 30.579">
      <title>yelp icon</title>
      <clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M15.258 19.495c-.516.52-.08 1.465-.08 1.465l3.881 6.48s.637.854 1.189.854c.555 0 1.102-.456 1.102-.456l3.068-4.386s.309-.553.316-1.038c.011-.689-1.028-.878-1.028-.878l-7.264-2.333c.001.002-.711-.187-1.184.292zm-.369-3.266c.372.63 1.397.447 1.397.447l7.248-2.118s.988-.402 1.129-.937c.138-.536-.163-1.182-.163-1.182l-3.464-4.08s-.3-.516-.923-.568c-.687-.058-1.109.773-1.109.773l-4.095 6.444c0-.001-.362.641-.02 1.221zm-3.424-2.513c.854-.21.989-1.45.989-1.45l-.058-10.318S12.267.675 11.695.33c-.897-.544-1.163-.26-1.42-.222L4.258 2.344s-.589.195-.896.687c-.438.696.445 1.716.445 1.716l6.254 8.525c.001 0 .618.638 1.404.444zm-1.486 4.176c.022-.796-.956-1.274-.956-1.274L2.555 13.35s-.959-.395-1.424-.12c-.356.211-.672.592-.703.929l-.421 5.185s-.063.898.17 1.307c.33.58 1.415.176 1.415.176l7.551-1.669c.293-.196.808-.214.836-1.266zm1.878 2.798c-.648-.333-1.424.356-1.424.356l-5.056 5.566s-.631.851-.471 1.374c.151.49.401.733.755.905l5.077 1.603s.616.128 1.082-.007c.662-.192.54-1.228.54-1.228l.115-7.536c.001 0-.025-.726-.618-1.033zm0 0"/>
    </symbol>
    <symbol id="fw--icon--youtube" viewBox="0 0 24.82 32">
      <title>youtube icon</title>
      <g ><path d="M4.626 13.56h2.095V7.933L9.158 0H7.03L5.735 5.42h-.131L4.244 0h-2.11l2.492 8.186zM9.064 11.029c0 .85.243 1.525.732 2.028.488.503 1.139.755 1.952.755.845 0 1.509-.243 1.991-.731.481-.487.723-1.158.723-2.015V5.899c0-.763-.246-1.386-.736-1.869-.492-.484-1.123-.727-1.892-.727-.845 0-1.518.23-2.02.688-.5.459-.75 1.076-.75 1.852v5.186zm1.914-5.26a.69.69 0 0 1 .212-.529.771.771 0 0 1 .554-.202c.246 0 .444.067.596.202a.675.675 0 0 1 .228.529v5.448c0 .269-.074.479-.223.633-.148.153-.349.229-.601.229-.247 0-.436-.074-.567-.225-.133-.15-.198-.362-.198-.639V5.769h-.001zM17.34 13.704c.35 0 .709-.106 1.08-.319.37-.213.726-.523 1.069-.93v1.104h1.859V3.557h-1.859v7.593a2.54 2.54 0 0 1-.574.538c-.209.142-.382.212-.519.212-.175 0-.301-.054-.379-.159-.078-.106-.116-.278-.116-.516V3.557H16.04v8.361c0 .595.11 1.042.328 1.34.218.298.542.446.972.446zM24.654 18.997c0-1.955-1.605-3.543-3.584-3.543-2.823-.117-5.713-.17-8.659-.164-2.947-.006-5.837.047-8.66.164-1.979 0-3.585 1.588-3.585 3.543A58.7 58.7 0 0 0 0 23.645a58.657 58.657 0 0 0 .166 4.647c0 1.956 1.605 3.543 3.584 3.543 2.823.118 5.713.171 8.659.165a199.52 199.52 0 0 0 8.66-.165c1.979 0 3.584-1.587 3.584-3.543.119-1.549.171-3.099.166-4.647a58.225 58.225 0 0 0-.165-4.648zM5.373 28.859v.117H3.679V19.59H1.924v-1.71h5.205v1.71H5.373v9.269zm6.032-7.982v8.099H9.9v-.894c-.277.33-.565.58-.866.753-.3.172-.592.259-.874.259-.349 0-.61-.121-.787-.361-.176-.242-.266-.604-.266-1.086V20.76h1.507v6.209c0 .191.031.331.095.416.062.087.165.13.307.13.11 0 .25-.058.419-.171.169-.113.325-.259.466-.436V20.76h1.506v.117h-.002zm5.797 1.929v4.493c0 .576-.118 1.017-.354 1.322-.235.306-.577.458-1.023.458-.295 0-.557-.06-.787-.178a2.004 2.004 0 0 1-.642-.548v.623h-1.521V17.881h1.521v3.535c.202-.248.418-.436.646-.564.229-.129.459-.193.692-.193.477 0 .841.174 1.092.52.25.346.377.85.377 1.512l-.001.115zm5.566.249V25.117h-2.881v1.41c0 .426.05.723.149.887.1.165.269.247.509.247.25 0 .425-.069.523-.21.1-.139.149-.447.149-.924v-.562h1.55v.725c0 .83-.189 1.456-.566 1.875-.377.421-.94.63-1.69.63-.674 0-1.204-.223-1.592-.668-.388-.445-.581-1.057-.581-1.837v-3.752c0-.703.213-1.275.638-1.719.426-.441.976-.664 1.649-.664.689 0 1.219.205 1.588.615.37.41.556 1 .556 1.768v.117z"/><path d="M15.024 22.062a.71.71 0 0 0-.318.078 1.187 1.187 0 0 0-.311.248v4.93c.123.132.241.227.357.285a.79.79 0 0 0 .364.087c.183 0 .319-.058.406-.171.086-.113.13-.3.13-.559v-4.064c0-.274-.054-.48-.161-.621-.107-.142-.262-.213-.467-.213zM20.561 22.091c-.24 0-.412.073-.517.221-.104.146-.157.39-.157.729v.702h1.331v-.703c0-.339-.053-.582-.157-.729-.105-.147-.272-.22-.5-.22z"/></g>
    </symbol></svg>
<style>.fw--icon--account {
  width: 2em;
  height: 2em;
}

.fw--icon--arrow-left-long {
  width: 1.207em;
  height: 0.508em;
}

.fw--icon--arrow-left {
  width: 1.112em;
  height: 0.954em;
}

.fw--icon--arrow-right-long {
  width: 1.207em;
  height: 0.508em;
}

.fw--icon--arrow-right {
  width: 1.112em;
  height: 0.954em;
}

.fw--icon--bag-outline {
  width: 1.585em;
  height: 2em;
}

.fw--icon--bag {
  width: 1.592em;
  height: 2em;
}

.fw--icon--cart-outline {
  width: 2em;
  height: 1.682em;
}

.fw--icon--cart {
  width: 2em;
  height: 1.617em;
}

.fw--icon--comment {
  width: 2em;
  height: 1.564em;
}

.fw--icon--chevron-left {
  width: 1.068em;
  height: 2em;
}

.fw--icon--chevron-right {
  width: 1.068em;
  height: 2em;
}

.fw--icon--cross-circle {
  width: 2em;
  height: 2em;
}

.fw--icon--cross {
  width: 1.938em;
  height: 1.946em;
}

.fw--icon--expand-less-solid {
  width: 0.928em;
  height: 0.531em;
}

.fw--icon--expand-less {
  width: 1.018em;
  height: 0.576em;
}

.fw--icon--expand-more-solid {
  width: 0.928em;
  height: 0.531em;
}

.fw--icon--expand-more {
  width: 1.018em;
  height: 0.576em;
}

.fw--icon--facebook-square {
  width: 2em;
  height: 2em;
}

.fw--icon--facebook {
  width: 1.061em;
  height: 2em;
}

.fw--icon--instagram {
  width: 2em;
  height: 2em;
}

.fw--icon--kickstarter {
  width: 1.698em;
  height: 2em;
}

.fw--icon--layout-collage {
  width: 2em;
  height: 1.529em;
}

.fw--icon--layout-columns {
  width: 2em;
  height: 1.529em;
}

.fw--icon--layout-grid {
  width: 2em;
  height: 1.529em;
}

.fw--icon--layout-list {
  width: 2em;
  height: 1.647em;
}

.fw--icon--link {
  width: 1.862em;
  height: 1.496em;
}

.fw--icon--lock {
  width: 1.063em;
  height: 1.25em;
}

.fw--icon--mail {
  width: 2em;
  height: 1.309em;
}

.fw--icon--menu {
  width: 1.625em;
  height: 1.091em;
}

.fw--icon--minus-circle-outline {
  width: 2em;
  height: 2em;
}

.fw--icon--minus-circle {
  width: 1.938em;
  height: 1.938em;
}

.fw--icon--minus {
  width: 2em;
  height: 0.35em;
}


.fw--icon--pinterest-circle {
  width: 2em;
  height: 2em;
}

.fw--icon--pinterest {
  width: 1.247em;
  height: 1.603em;
}

.fw--icon--play-circle-fill {
  width: 2em;
  height: 2em;
}

.fw--icon--play-circle-outline {
  width: 2em;
  height: 2em;
}

.fw--icon--plus-circle-outline {
  width: 2em;
  height: 2em;
}

.fw--icon--plus-circle {
  width: 2em;
  height: 2em;
}

.fw--icon--plus {
  width: 2em;
  height: 2em;
}

.fw--icon--rss {
  width: 2em;
  height: 2em;
}

.fw--icon--search {
  width: 2em;
  height: 2em;
}

.fw--icon--shopify-logo {
  width: 9.375em;
  height: 2.688em;
}

.fw--icon--shopify {
  width: 1.756em;
  height: 2em;
}

.fw--icon--snapchat {
  width: 2em;
  height: 1.883em;
}

.fw--icon--trip-advisor {
  width: 1.98em;
  height: 1.173em;
}

.fw--icon--tumblr {
  width: 1.123em;
  height: 2em;
}

.fw--icon--twitter {
  width: 2em;
  height: 1.629em;
}

.fw--icon--vimeo {
  width: 2em;
  height: 1.732em;
}

.fw--icon--vine {
  width: 1.751em;
  height: 2em;
}

.fw--icon--yelp {
  width: 1.547em;
  height: 1.911em;
}

.fw--icon--youtube {
  width: 1.551em;
  height: 2em;
}

</style>
