{% comment %}
------------------------------------------------------------------------------
  Icons: Misc
  - General purpose icons to provide additional visuals on top of labels
------------------------------------------------------------------------------
{% endcomment %}
{% assign aria_hidden = hidden | default: false %}

{% case icon %}
  {% when 'account' %}
    <svg class="icon icon__account" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5285 15.793C7.88752 13.614 9.76449 12.0128 11.9699 11.9988C11.9796 11.9988 11.9893 11.9988 11.999 11.9988C12.0087 11.9988 12.0184 11.9988 12.028 11.9988C14.2335 12.0128 16.1105 13.614 16.4695 15.793L16.9979 19H7.00004L7.5285 15.793ZM13.9983 11.372C15.7781 12.0625 17.1301 13.6512 17.4562 15.6304L18.1762 20H5.82178L6.5418 15.6304C6.5418 15.6304 6.5418 15.6304 6.5418 15.6304C6.8679 13.6512 8.21992 12.0625 9.99968 11.372C9.09285 10.7396 8.49952 9.68885 8.49952 8.49948C8.49952 6.56678 10.0663 5 11.999 5C13.9317 5 15.4985 6.56677 15.4985 8.49948C15.4985 9.68885 14.9051 10.7396 13.9983 11.372ZM12.0261 10.9988C13.394 10.9843 14.4985 9.87085 14.4985 8.49948C14.4985 7.11906 13.3794 6 11.999 6C10.6186 6 9.49952 7.11906 9.49952 8.49948C9.49952 9.87085 10.6039 10.9843 11.9719 10.9988C11.9809 10.9989 11.9899 10.999 11.999 10.999C12.008 10.999 12.0171 10.9989 12.0261 10.9988Z"/>
    </svg>

  {% when 'bag' %}
    <svg class="icon icon__bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3809 5.5C11.0001 5.5 9.88086 6.61929 9.88086 8V9H7.13095L4.76172 20H20L17.6308 9H14.8809V8C14.8809 6.61929 13.7616 5.5 12.3809 5.5ZM13.8809 10V13H14.8809V10H16.8233L18.7617 19H6.00004L7.9385 10H9.88086V13H10.8809V10H13.8809ZM13.8809 9V8C13.8809 7.17157 13.2093 6.5 12.3809 6.5C11.5524 6.5 10.8809 7.17157 10.8809 8V9H13.8809Z"/>
    </svg>

  {% when 'basket' %}
    <svg class="icon icon__basket" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M22 9h-4.79l-4.38-6.56a.993.993 0 0 0-.83-.42c-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1zM12 4.8L14.8 9H9.2L12 4.8zM18.5 19l-12.99.01L3.31 11H20.7l-2.2 8zM12 13c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
    </svg>

  {% when 'cart' %}
    <svg class="icon icon__cart" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM17 18c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zM15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6z"/>
    </svg>

  {% when 'close' %}
    <svg class="icon icon__close" width="13" height="13" viewBox="0 0 13 13" fill="#03555C" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <rect width="16.7417" height="1.11612" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 12.6274 11.8382)" fill="#03555C"/>
      <rect y="11.8382" width="16.7417" height="1.11612" transform="rotate(-45 0 11.8382)" fill="#03555C"/>
    </svg>

  {% when 'email' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__email" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/>
    </svg>

  {% when 'expand' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__expand" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3h-6zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3v6zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6h6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6v-6z"/>
    </svg>

  {% when 'error' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__error" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
    </svg>

  {% when 'globe' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__globe" viewBox="0 0 36 36" aria-hidden="{{ aria_hidden }}">
      <path d="M30 18c0-3.2-1.1-5.9-3.3-8.3-2.2-2.3-4.9-3.6-8-3.7H18c-3.3 0-6.1 1.2-8.5 3.5C7.1 11.9 6 14.7 6 18s1.2 6.1 3.5 8.5c2.4 2.3 5.2 3.5 8.5 3.5H18.6c3.2-.2 5.8-1.4 8-3.7S30 21.2 30 18zm-2.2 3.8c-.8-.2-1.9-.4-3.3-.6.2-1.1.2-2.2.2-3.3 0-.9 0-1.8-.1-2.6 1.6-.2 2.7-.4 3.4-.6l-.3-.8c.6 1.3.8 2.6.8 4s-.2 2.7-.7 3.9zM12.7 18c0-.8 0-1.6.1-2.4 1.4.1 2.8.2 4.4.2V21c-1.5 0-3 0-4.3.1-.1-1-.2-2-.2-3.1zm6-10.4c.9.3 1.8 1 2.5 2.2.7 1.2 1.3 2.6 1.6 4.3-1.2.1-2.6.2-4.1.2V7.6zm-1.4 0v6.6c-1.5 0-2.9-.1-4.2-.2.4-1.7.9-3.1 1.7-4.3.7-1.1 1.5-1.8 2.5-2.1zm0 14.9v5.9c-.8-.3-1.6-.9-2.3-1.9-.7-1-1.3-2.3-1.6-3.8 1.1-.2 2.4-.2 3.9-.2zm1.4 5.9v-6c1.4 0 2.8 0 4 .1-.4 1.5-.9 2.8-1.6 3.9-.7 1.1-1.5 1.8-2.4 2zm0-7.4v-5.2c1.6 0 3.1-.1 4.4-.2.1.8.1 1.6.1 2.4 0 1.1-.1 2.1-.2 3.1-1.3-.1-2.7-.1-4.3-.1zm8.7-7.6c-.7.2-1.7.4-3 .6-.4-2.3-1.2-4.1-2.2-5.6 2.3 1 4.1 2.6 5.2 5zm-13-5.3c-1.3 1.5-2.2 3.4-2.8 5.8-1.3-.1-2.3-.3-3.1-.5 1.3-2.5 3.2-4.3 5.9-5.3zM8 14.9c.8.2 2 .4 3.4.6-.1.8-.2 1.7-.2 2.6 0 1.1.1 2.2.3 3.2-1.3.2-2.4.3-3.3.6-.5-1.2-.7-2.5-.7-3.8 0-1.2.1-2.2.5-3.2zm.9 8.3c.8-.2 1.8-.3 3-.4.6 2.1 1.4 3.8 2.6 5.2-2.5-1-4.4-2.6-5.6-4.8zm13.3 4.5c.9-1.3 1.6-2.9 2.1-4.9 1.2.1 2.1.3 2.9.5-1.2 2-2.9 3.4-5 4.4z" />
    </svg>

  {% when 'hamburger' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__hamburger" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>

  {% when 'heart' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__heart" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
    </svg>

  {% when 'minus' %}
    <svg class="icon__minus" width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path d="M9.66683 1.66667H0.333496V0.333336H9.66683V1.66667Z" fill="#03555C"/>
    </svg>


  {% when 'phone' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__phone" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51zm9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19zM7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/>
    </svg>

  {% when 'play' %}
    <svg class="icon__play" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path d="M12 7L3.01142e-07 13.9282L9.06825e-07 0.0717964L12 7Z" fill="white"/>
    </svg>


  {% when 'plus' %}
    <svg class="icon__plus" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path d="M9.66683 5.66667H5.66683V9.66667H4.3335V5.66667H0.333496V4.33334H4.3335V0.333336H5.66683V4.33334H9.66683V5.66667Z" fill="#03555C"/>
    </svg>


  {% when 'preview' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__preview" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5-3.8 0-7.17-2.13-8.82-5.5C4.83 8.63 8.21 6.5 12 6.5zm0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
    </svg>

  {% when 'pin' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__pin" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/>
      <path d="M12 11.5c1.3807 0 2.5-1.1193 2.5-2.5S13.3807 6.5 12 6.5 9.5 7.6193 9.5 9s1.1193 2.5 2.5 2.5z"/>
    </svg>

  {% when 'search' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__search" aria-hidden="{{ aria_hidden }}"{% if aria_hidden %} focusable="false"{% endif %} role="presentation" width="24" height="24">
      <path d="M10.261 7a4.262 4.262 0 1 1 0 8.524 4.262 4.262 0 0 1 0-8.524zm5.262 4.262a5.262 5.262 0 1 0-10.524 0 5.262 5.262 0 0 0 10.524 0zm-1.808 4.163l4.288 4.288.707-.707-4.288-4.288-.707.707z"/>
    </svg>

  {% when 'sort' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__sort" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
    </svg>

  {% when 'star' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__star" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path fill="#FFD102" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
    </svg>

  {% when 'star-filled' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__star icon__star--filled" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path fill="#FFD102" d="M14.81 8.62l7.19.62-5.45 4.73L18.18 21 12 17.27 5.82 21l1.64-7.03L2 9.24l7.19-.61L12 2l2.81 6.62z"/>
    </svg>

  {% when 'tick' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__tick" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 20.9998 7l-1.41-1.41-10.59 10.58z"/>
    </svg>

  {% when 'wishlist' %}
    <svg class="icon icon__wishlist" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="{{ aria_hidden }}">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3811 7.15202C11.8211 7.65294 12 8.1276 12 8.1276C12 8.1276 12.1791 7.65301 12.6191 7.15213C13.1107 6.59248 13.9279 6 15.1847 6C17.5664 6 19 8.28471 19 10.1684C19 13.3248 12 18.1333 12 18.1333C12 18.1333 5 13.3237 5 10.1678C5 8.28471 6.43427 6 8.81525 6C10.0725 6 10.8897 6.5924 11.3811 7.15202ZM12.0002 6.34765C11.3558 5.67315 10.3191 5 8.81525 5C7.27422 5 6.05143 5.74811 5.23905 6.74666C4.44014 7.72865 4 8.99266 4 10.1678C4 11.2875 4.60013 12.3983 5.28741 13.3353C5.99888 14.3052 6.92747 15.2528 7.82594 16.0727C8.72929 16.897 9.6287 17.6161 10.3 18.1278C10.6365 18.3842 10.9174 18.59 11.1153 18.7323C11.2143 18.8035 11.2926 18.8589 11.3468 18.897L11.4096 18.9408L11.4266 18.9527L11.4314 18.956L11.4329 18.957C11.4331 18.9571 11.4337 18.9575 12 18.1333L11.4329 18.957L11.9999 19.3466L12.5662 18.9576L12 18.1333C12.5662 18.9576 12.566 18.9577 12.5662 18.9576L12.5733 18.9527L12.5903 18.9409L12.6532 18.897C12.7073 18.859 12.7857 18.8036 12.8846 18.7324C13.0825 18.5901 13.3635 18.3844 13.6999 18.128C14.3712 17.6164 15.2707 16.8974 16.174 16.0732C17.0725 15.2535 18.0011 14.306 18.7126 13.336C19.3999 12.399 20 11.2882 20 10.1684C20 8.99312 19.5601 7.72897 18.7613 6.74681C17.9489 5.74806 16.7261 5 15.1847 5C13.6812 5 12.6446 5.67328 12.0002 6.34765Z"/>
    </svg>

  {% when 'zoom-in' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__zoom-in" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zm.5-7H9v2H7v1h2v2h1v-2h2V9h-2V7z"/>
    </svg>

  {% when 'zoom-out' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon__zoom-out" viewBox="0 0 24 24" aria-hidden="{{ aria_hidden }}">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5v1H7V9z"/>
    </svg>

  {% else %}
    <span>No icon found!</span>
{% endcase %}
