{% if iwish_v2 == 'iwishlink' %}
<a class="iWishView" href="/apps/iwish">
	<svg class="icon icon__wishlist">
		<use href="#wishlist"></use>
	</svg>
	<span>0</span>
</a>

{% elsif iwish_v2 == 'iwishproduct' %}
<div class="iwishAddWrap">
	<a class="iWishAdd" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
		Add to Wishlist
		<svg class="icon icon__wishlist">
			<use href="#wishlist"></use>
		</svg>
		<svg class="icon icon__wishlist added">
			<use href="#wishlistAdded"></use>
		</svg>
	</a>
</div>

{% elsif iwish_v2 == 'iwishCollection' %}
<a class="iWishAddColl iwishcheck" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
	<svg class="icon icon__wishlist">
		<use href="#wishlist"></use>
	</svg>
	<svg class="icon icon__wishlist added">
		<use href="#wishlistAdded"></use>
	</svg>
</a>

{% elsif iwish_v2 == 'iwishfooter' %}
<script type="text/javascript">
	var iwish_shop = "{{ shop.permanent_domain }}";
	var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
	var iwish_cid = "{{ customer.id }}";
	//Add to Wishlist - Product Page Text
	var iwish_added_txt = 'Added in Wishlist';
	var iwish_add_txt = 'Add to Wishlist';
	//Add to Wishlist - Collection Page Text
	var iwish_added_txt_col = '';
	var iwish_add_txt_col = 'Add to Wishlist';
	//Quick View - Classes
	var iwish_qvButton = '.quick_view';
	var iwish_qvWrapper = '.reveal-modal';
</script>
<script src="https://cdn.myshopapps.com/iwish/iwishlist.js"></script>
<script type="text/javascript">
	jQuery( document ).ready(function() {
		jQuery("a[href='/apps/iwish']").click(function(e) {
			if(typeof(Storage) !== "undefined") {
				e.preventDefault();
				iWishPost('/apps/iwish',{iwishlist:JSON.stringify(iWishlistmain),cId:iwish_cid});
			}
		});

		jQuery(".iWishAdd").click(function() {
			var iWishvId = jQuery(this).parents(iwishWrapperClass).find(iWishVarSelector).val();
			iwish_add(jQuery(this), iWishvId);
			return false;
		});

		jQuery(".iWishAddColl").click(function() {
			var iWishvId = jQuery(this).attr("data-variant");
		       	iwish_addCollection(jQuery(this),iWishvId);
		      	return false;
		});
		iwishCheckColl();
	});

	function iwishCheckColl(){
		if(jQuery(".iwishcheck").length > 0) {
		jQuery(".iwishcheck").each(function() {
			var iWishvId = jQuery(this).attr("data-variant");
			var iWishpId = jQuery(this).attr("data-product");
			if(isInWishlist(iWishpId,iWishvId)){ jQuery(this).addClass("iwishAdded"); }
			jQuery(this).removeClass("iwishcheck");
		});
		}
	}
</script>
{% endif %}
