<div class="header-icons">
  <a class="header-icons--search visible-desktop" href="/search" role="img" aria-label="{{ 'layout.header.search' | t }}">
    <svg class="icon icon__search">
      <use href="#search"></use>
    </svg>
  </a>
  <a class="header-icon--account visible-desktop" href="/account" role="img" aria-label="{{ 'layout.header.account' | t }}">
    <svg class="icon icon__account">
      <use href="#profile"></use>
    </svg>
  </a>
  {% include 'iwish_v2' with 'iwishlink' %}
  {% include 'snippet-cart' %}
</div>
