{% comment %} Attributes {% endcomment %}
{% assign onboarding = false %}
{% assign view = '' %}

{% comment %} Settings {% endcomment %}
{% assign show_vendor = settings.brand-show %}
{% assign hover_image_enabled = settings.hover-image-enabled %}

{% comment %} Translations {% endcomment %}
{% assign sold_out_t = 'collections.sold_out_html' | t %}
{% assign sale_t = 'collections.sale' | t %}
{% assign from_t = 'collections.from' | t %}

{% comment %} Variables {% endcomment %}
{% assign available = product.available %}
{% assign url = product.url | within: collection %}
{% assign title = product.title %}
{% assign vendor = product.vendor %}
{% assign vendor_url = product.vendor | url_for_vendor %}
{% assign price = product.price | money %}
{% assign price_varies = product.price_varies %}

{% if product.compare_at_price > product.price and product.available %}
  {% assign compare_price = product.compare_at_price | money %}
{% else %}
  {% assign compare_price = false %}
{% endif %}

{% assign image_preload = false %}
{% if view == 'product-slider' %}
  {% assign image_preload = true %}
{% endif %}

{% capture image %}
  {%
    include 'framework--image',
    image: product.featured_image,
    preload: image_preload
  %}
{% endcapture %}

{% if product.images.size > 1 %}
  {% capture hover_image %}
    {%
      include 'framework--image',
      image: product.images[1],
      preload: true
    %}
  {% endcapture %}
{% else %}
  {% assign hover_image = false %}
{% endif %}

{% comment %} Onboarding {% endcomment %}
{% if onboarding %}
  {% assign available = true %}
  {% assign url = product.url | within: collection %}
  {% assign title = 'home.onboarding.product_title' | t %}
  {% assign vendor = 'home.onboarding.vendor' | t %}
  {% assign price = 'home.onboarding.price' | t %}

  {% capture image %}
    {%
      include "framework--placeholder",
      type: "product",
      aspect_ratio: 0.75,
      placeholder_index: index
    %}
  {% endcapture %}
{% endif %}

{% comment %} View {% endcomment %}
<div class="product-root"{% if hover_image_enabled and hover_image %} data-hover-image="true"{% endif %}>
  {% if available == false %}
    <a href="{{ url }}">
      <div class="product--sold-out font--accent"><span>{{ sold_out_t }}</span></div>
    </a>
  {% elsif compare_price %}
    <a href="{{ url }}">
      <div class="product--sale font--accent" href="{{ product.url | within: collection }}">
        <span>{{ sale_t }}</span>
      </div>
    </a>
  {% endif %}

  <a href="{{ url }}" aria-label="{{ product.title }}" class="product-image-wrapper">
      {{ image }}
      {% if hover_image_enabled and hover_image %}
        {{ hover_image }}
      {% endif %}
  </a>

 {% comment %} Inline Review {% endcomment %}
  {% if settings.enable_product_reviews %}
            <div
              class="card__review"
              data-bv-product-Id="{{ product.id }}"
              data-bv-redirect-url="{{ product.url }}"
              data-bv-show="inline_rating"
            >
            </div>

  {% endif %}
{% comment %} End Inline Review {% endcomment %}

  <div class="product--details">
    <div class="custom-product-details">
      <a href="{{ url }}">
      	<div class="product--title font--block-heading">{{ title }}</div>
      </a>
      {% if show_vendor %}
        <a href="{{ vendor_url }}">
          <div class="product--vendor font--light-accent">{{ vendor }}</div>
        </a>
      {% endif %}
    </div>
	<div class="product-price-container">
      <a href="{{ url }}">
        <div class="product--price-wrapper">
          {% if compare_price %}
            <span class="product--compare-price font--light-accent">
              <span class="money">{{ compare_price }}</span>
            </span>
            <span class="product--price font--accent">
              <span class="money">{{ price }}</span>
            </span>
          {% else %}
          {% if price_varies %}
              <span class="product--from font--accent">{{ from_t }}</span>
          {% endif %}
            <span class="product--price font--accent">
              <span class="money">{{ price }}</span>
            </span>
          {% endif %}
        </div>
      </a>
    </div>
{% comment %}
	<div class="custom-iwish wishlist">
      {% include 'iwish_v2' with 'iwishCollection' %}
    </div>

	{% if product.available %}
 	<div class="custom-btn-add" data-js-class="CEProductAdd">
 	<form class="product-form" action="/cart/add" method="post">
    	  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

        	<div class="add-to-cart">
          		<button class="add font--button" type="submit" name="add">
            	<span class="text">{{ 'products.add_to_cart' | t }}</span>
             	<span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation"></span>
          		</button>
        	</div>

    </form>
    </div>
   {% endif %}
{% endcomment %}

  </div>

</div>
