<script>
  var general_external_links_enabled = true,
      general_scroll_to_active_item = true,
      shop_url = '{{ shop.url }}',
      shop_money_format = '{{ shop.money_with_currency_format | escape }}',
      currency_switcher_enabled = {{ settings.show_multiple_currencies }},
      popup_config = {
        enabled               : {{ settings.popup--enabled }},
        test_mode             : {{ settings.popup--test-mode }},
        newsletter_enabled    : {{ settings.popup--newsletter--enabled }},
        social_icons_enabled  : {{ settings.popup--social-icons--enabled }},
        show_image_enabled    : '{{ settings.popup--image.size }}',
        image_link            : "{{ settings.popup--image-url }}",
        seconds_until         : {{ settings.popup--seconds-range }},

      {% comment %} So it doesnt get picked up by og:image {% endcomment %}
      {% if settings.popup--image %}
        show_image_url        : '{{ settings.popup--image | img_url: "1200x" | img_tag: settings.popup--image.alt | default: "" }}',
      {% endif %}

      page_content          : '{{ settings.popup--page-content }}',
      days_until            : '{{ settings.popup--days-range }}',
      storage_key           : 'troop_popup_storage'
    };

  popup_config.show_image_enabled = popup_config.show_image_enabled > 0 ? true : false;

  // newer naming convention
  var theme = {};
  theme.settings = {};
  theme.translation = {}; // refactor to pluralised
  theme.translations = {};
  theme.classes = {};
  theme.utils = {};
  theme.templates = {};
  theme.partials = {};
  theme.shop_currency = '{{ shop.currency | escape }}';

  theme.settings.currency_switcher_enabled = {{ settings.show_multiple_currencies }};
  theme.settings.cart_type = '{{ settings.cart--type }}';
  theme.translation.newsletter_email_blank = '{{ "layout.footer.newsletter_email_blank" | t }}';
  theme.translations.cart_item = '{{ "products.recently_added_popup.item" | t }}';
  theme.translations.cart_items = '{{ "products.recently_added_popup.items" | t }}';
  theme.preload_image = '{{ "popup.jpg" | asset_url }}';

  {% unless settings.show_multiple_currencies %}
    Shopify.money_format = "{{ shop.money_format | escape }}";
    Shopify.money_with_currency_format = "{{ shop.money_with_currency_format | escape }}";
  {% endunless %}

  // LazySizes
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.expand = 1200;
  window.lazySizesConfig.loadMode = 3;
  window.lazySizesConfig.ricTimeout = 50;
</script>
