{% comment %} Attributes {% endcomment %}
{% assign onboarding = false %}
{% assign view = '' %}

{% comment %} Settings {% endcomment %}
{% assign show_vendor = settings.brand-show %}
{% assign hover_image_enabled = settings.hover-image-enabled %}

{% comment %} Translations {% endcomment %}
{% assign sold_out_t = 'collections.sold_out_html' | t %}
{% assign sale_t = 'collections.sale' | t %}
{% assign from_t = 'collections.from' | t %}

{% comment %} Variables {% endcomment %}
{% assign available = product.available %}
{% assign url = product.url | within: collection %}
{% assign title = product.title %}
{% assign vendor = product.vendor %}
{% assign vendor_url = product.vendor | url_for_vendor %}
{% assign price = product.price | money %}
{% assign price_varies = product.price_varies %}

{% if product.compare_at_price > product.price and product.available %}
  {% assign compare_price = product.compare_at_price | money %}
{% else %}
  {% assign compare_price = false %}
{% endif %}

{% assign image_preload = false %}
{% if view == 'product-slider' %}
  {% assign image_preload = true %}
{% endif %}

{% capture image %}
  {%
    include 'framework--image',
    image: product.featured_image,
    preload: image_preload
  %}
{% endcapture %}

{% if product.images.size > 1 %}
  {% capture hover_image %}
    {%
      include 'framework--image',
      image: product.images[1],
      preload: true
    %}
  {% endcapture %}
{% else %}
  {% assign hover_image = false %}
{% endif %}

{% comment %} Onboarding {% endcomment %}
{% if onboarding %}
  {% assign available = true %}
  {% assign url = product.url | within: collection %}
  {% assign title = 'home.onboarding.product_title' | t %}
  {% assign vendor = 'home.onboarding.vendor' | t %}
  {% assign price = 'home.onboarding.price' | t %}

  {% capture image %}
    {%
      include "framework--placeholder",
      type: "product",
      aspect_ratio: 0.75,
      placeholder_index: index
    %}
  {% endcapture %}
{% endif %}

{% comment %} View {% endcomment %}
<div class="product-root"{% if hover_image_enabled and hover_image %} data-hover-image="true"{% endif %}>
  {% if available == false %}
  <a href="{{ url }}">
    <div class="product--sold-out font--accent"><span>{{ sold_out_t }}</span></div>
  </a>
  {% elsif compare_price %}
  <a href="{{ url }}">
    <div class="product--sale font--accent" href="{{ product.url | within: collection }}">
      <span>{{ sale_t }}</span>
    </div>
  </a>
  {% endif %}

  <a href="{{ url }}" aria-label="{{ product.title }}" class="product-image-wrapper">
      {{ image }}
      {% if hover_image_enabled and hover_image %}
        {{ hover_image }}
      {% endif %}
  </a>

 {% comment %} Inline Review {% endcomment %}
  {% if settings.enable_product_reviews %}
  <div class="card__review" data-bv-product-Id="{{ product.id }}" data-bv-redirect-url="{{ product.url }}" data-bv-show="inline_rating"></div>
  {% endif %}
  {% comment %} End Inline Review {% endcomment %}

  <div class="product--details">
    <div class="custom-product-details">
      <div class="yotpo bottomLine" style="margin-bottom:10px"
             data-appkey="7wPePRbdKVaNXHZbYjFq54llUqu6pMurFHzmY8Xb"
             data-domain="{{shop.permanent_domain | escape }}"
             data-product-id="{{ product.id }}"
             data-product-models="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
             data-description="{{ product.description | escape }}"
             data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
          {%- assign time_now = 'now' | date: '%s' %}
          {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
          {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
          {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
          {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
          {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
                  {%- assign yotpo_bottomline_obsolete = false %}
          {%- else %}
            {%- assign yotpo_bottomline_obsolete = true %}
          {%- endif %}
          {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
          	{{ product.metafields.yotpo.bottomline }}
          {%- endif %}
    	</div>
      <a href="{{ url }}">
      	<div class="product--title font--block-heading">{{ title }}</div>
      </a>
      {% if show_vendor %}
        <a href="{{ vendor_url }}">
          <div class="product--vendor font--light-accent">{{ vendor }}</div>
        </a>
      {% endif %}
    </div>

    <div class="product-price-container">
      <a href="{{ url }}">
        <div class="product--price-wrapper">
          {% if compare_price %}
          <span class="product--compare-price font--light-accent">
            <span class="money">{{ compare_price }}</span>
          </span>
          <span class="product--price font--accent">
            <span class="money">{{ price }}</span>
          </span>
          {% else %}
          {% if price_varies %}
          <span class="product--from font--accent">{{ from_t }}</span>
          {% endif %}
          <span class="product--price font--accent">
            <span class="money">{{ price }}</span>
          </span>
          {% endif %}
        </div>
      </a>
    </div>

    {% if product.available %}
    <div class="custom-btn-add" data-js-class="CEProductAdd">
      <form class="product-form" action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <div class="add-to-cart">
          <button class="btn" type="submit" name="add">
            <span class="text">{{ 'products.add_to_cart' | t }}</span>
            <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation"></span>
          </button>
        </div>
      </form>
    </div>
    {% endif %}

    <div class="custom-iwish wishlist">
      {% include 'iwish_v2' with 'iwishCollection' %}
    </div>
  </div>
</div>
