<div class="mobile-nav--header">
  {% if settings.search--show-in-header %}
  <div class="mobile-nav--search font--accent">
    <a href="/search">{{ 'general.search.search' | t }}</a>
  </div>
  {% endif %}

  {% if shop.customer_accounts_enabled %}
  <div class="mobile-nav--login font--accent">
    {% if customer %}
      {% assign view_account_link = 'layout.header.account_view_link' | t %}
      {% capture view_account_link %}<a href="{{ routes.account_url }}">{{ view_account_link }}</a>{% endcapture %}
      {{ view_account_link }}
    {% else %}
      {% assign login_link = 'layout.header.account_view_link' | t %}
      {% assign login_link = login_link | customer_login_link %}

      {% if shop.customer_accounts_optional %}
        {{ login_link }}
      {% else %}
        {{ login_link }}
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
</div>

<nav role="navigation" aria-label="menu" data-js-loaded="true">
{% for link in linklists.menu.links %}
  <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
{% endfor %}
</nav>

{% if settings.show_multiple_currencies %}
<div class="mobile-nav--currency">
  <div class="currency-selector mobile">
    <div class="container">
      {% include 'snippet-currency-selector' %}
    </div>
  </div>
</div>
{% endif %}
