{% comment %}
------------------------------------------------------------------------------
  Ingredients for PDP
  - Uses metafields
------------------------------------------------------------------------------
{% endcomment %}

{%- assign product_ingredients = product.metafields.product.ingredients -%}
{% if product_ingredients %}
  <section class="template-product__ingredients ingredients section background--sand">
    <div class="container">
      <div class="row">
        <div class="col offset-m1"></div>

        <div class="col xs12 m11">
          <h2 class="ingredients__title h4 decoration-after indent indent--mobile-only indent--both">
            Ingredients {% comment %} {{ 'products.product.ingredients_title' | t }} {% endcomment %}
          </h2>
        </div>
      </div>

      <div class="row ingredients__list">
        {%- assign product_ingredient = product_ingredients | split: "---" -%}
        {% for part in product_ingredient offset: 1 %}
          {% capture counter %}{% cycle 'odd', 'even', 'odd', 'even-row-end' %}{% endcapture %}

          {% if counter == 'odd' %}
            <div class="col offset-m1"></div>

            <div class="ingredient indent indent--mobile-only indent--both col xs12 m4">
              <h3 class="ingredient__title subtitle-1">{{- part -}}</h3>

          {% elsif counter == 'even-row-end' %}
              <p class="ingredient__copy">{{- part -}}</p>
            </div>

            <div class="col offset-m2"></div>

          {% else %}
              <p class="ingredient__copy">{{- part -}}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}