{% comment %}
------------------------------------------------------------------------------
  Snippet: Product accordion
------------------------------------------------------------------------------
{% endcomment %}
{% assign limit_description_height = false %}
{% assign keep_description_html = false %}
{% assign delivery_returns = section.settings.delivery_returns %}

{% for tag in product.tags %}
  {% assign sanitized_tag = tag | downcase %}

  {% if sanitized_tag contains 'limit_description_height' %}
    {% assign limit_description_height = true %}

  {% elsif sanitized_tag contains 'html_description' %}
    {% assign keep_description_html = true %}
  {% endif %}
{% endfor %}

<dl class="accordion" role="tablist">
  {% for part in content_parts offset: 3 %}
  {% capture counter %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if counter == 'odd' %}
  <dt>
    <a href="#">
      {{- part -}}
    </a>
  </dt>
  {% endif %}
  {% if counter == 'even' %}
  <dd class="accordion-content {% if limit_description_height %}accordion-content--limited-height{% endif %}{% if part_title == 'Ingredients' %} no-translate{% endif %}">
    {% if keep_description_html == true %}
      {{- part -}}
    {% endif %}
  </dd>
  {% endif %}
  {% endfor %}
  {% if pages[delivery_returns] != blank %}
  <dt>
    <a href="#">{{ 'products.delivery_returns' | t }}</a>
  </dt>
  <dd class="accordion-content {% if limit_description_height %} accordion-content--limited-height{% endif %}">
    {{ pages[delivery_returns].content }}
  </dd>
  {% endif %}
</dl>
