{% comment %}
------------------------------------------------------------------------------
  How to use snippet for PDP
------------------------------------------------------------------------------
{% endcomment %}
{% for tag in product.tags %}
  {% if tag contains 'How To Use-' %}
    {% assign howtouse = tag | downcase | replace: ' ', '-' %}
    {% assign video_container = false %}

    <section class="template-product__howtouse howtouse section background--plaster-light">
      <div class="container">
        {%- assign howtouse_content = pages[howtouse].content | remove: '<meta charset="utf-8">' | remove: '<meta charset="utf-8" />' | remove: '<span>' | remove: '</span>' -%}

        {%- assign howtouse_title = howtouse_content | split: 'TITLE: ' | last | split: '|' | first | strip_html -%}
        {%- assign howtouse_text = howtouse_content | split: 'TEXT: ' | last | split: '|' | first | strip_html -%}

        {%- assign howtouse_cta_url = howtouse_content | split: 'CTA URL: ' | last | split: '|' | first | strip_html -%}
        {%- assign howtouse_cta_copy = howtouse_content | split: 'CTA COPY: ' | last | split: '|' | first | strip_html -%}

        {% if howtouse_content contains 'VIDEO URL:' %}
          {% assign video_container = true %}
          {% assign howtouse_video = howtouse_content | split: 'VIDEO URL: ' | last | split: '|' | first | strip_html %}
        {% endif %}

        {% assign howtouse_video_copy = howtouse_content | split: 'VIDEO COPY: ' | last | split: '|' | first | strip_html %}

        {%- assign howtouse_video_cover = howtouse_content | split: 'COVER:' | last | split: '|' | first | split: '/files/' -%}
        {%- assign howtouse_video_cover = howtouse_video_cover | last | split: '?' | first -%}
        {%- assign howtouse_video_cover = images[howtouse_video_cover] -%}

        {%- assign howtouse_image_object = howtouse_content | split: 'IMAGE01: ' | last | split: '/files/' -%}
        {%- assign howtouse_image_object = howtouse_image_object | last | split: '?' | first -%}
        {%- assign howtouse_image_object = images[howtouse_image_object] -%}

        <div class="row">
          <div class="col xs12 m4 centered">
            <div class="indent container--sub">
              <h2 class="h4 decoration-after">{{ howtouse_title }}</h2>
              <p class="body-2">{{ howtouse_text }}</p>
              <a
                class="button button--primary button--outlined"
                href="{{ howtouse_cta_url }}"
              >
                {{ howtouse_cta_copy }}
              </a>
            </div>
          </div>

          <div class="col xs12 m4">
            <div class="container--sub">
              {% if video_container %}
                <div
                  id="video-howtouse"
                  class="video-container video--vertical"
                  data-vimeo-url="{{ howtouse_video }}"
                  js-video-player="container"
                >
                  <div
                    class="video-container__cover lazyload"
                    data-bgset="{% include 'responsive-bg-image' with image: howtouse_video_cover %}"
                    data-video-player="video-howtouse"
                    js-video-player="cover"
                  >
                    <button class="video-container__cta label">
                      {% include 'icon-misc' with icon: 'play' %}{{ howtouse_video_copy }}
                    </button>
                  </div>
                </div>

              {% else %}
                <div class="image-container">
                  <div
                    class="howtouse__image howtouse__image--vertical lazyload"
                    data-bgset="{% include 'responsive-bg-image' with image: howtouse_video_cover %}"
                  >
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="col xs12 m4">
            <div class="container--sub">
              <div
                class="howtouse__image lazyload"
                data-bgset="{% include 'responsive-bg-image' with image: howtouse_image_object %}"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}