{% comment %}
----------------------------------------------------------------------------
  Snippet: Rakuten cookie banner
  – Also called Rakuten CMP.
----------------------------------------------------------------------------
{% endcomment %}
<script>
  var commandQueue = [];

  var cmp = function(command, parameter, callback) {
    commandQueue.push({
      command: command,
      parameter: parameter,
      callback: callback
    });
  };

  cmp.commandQueue = commandQueue;
  cmp.config = {
    // customPurposeListLocation: '',
    layout: (window.matchMedia('(min-width: 801px)').matches) ? 'thin' : 'thin',
    blockBrowsing: false,
    storePublisherData: false,
    storeConsentGlobally: true,
    logging: false,
    localization: {
      en: {
        intro: {
          description: {{ 'general.accessibility.cookie_banner.intro_description_html' | t | json  }}
        }
      }
    },
    forceLocale: null,
    gdprAppliesGlobally: false,
    repromptOptions: {
      fullConsentGiven: 360,
      someConsentGiven: 30,
      noConsentGiven: 30
    },
    geoIPVendor: 'https://cdn.digitrust.mgr.consensu.org/1/geoip.json',
    testingMode: 'normal',
    showFooterAfterSubmit: false,
    // logoUrl: 'https://www.example.com/image.png',
    css: {
      'color-primary': '#3C3C3C',
      'color-secondary': '#f2efe9',
      'color-border': '#F8F7F3',
      'color-background': '#F8F7F3',
      'color-text-primary': '#3C3C3C',
      'color-text-secondary': '#085F67',
      'color-linkColor': '#085F67',
      'color-table-background': '#f2efe9',
      'font-family': 'Roboto Condensed, sans-serif',
      'custom-font-url': 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400',
    }
  };

  window.__cmp = cmp;
</script>


<script src="https://cdn.digitrust.mgr.consensu.org/1/cmp.complete.bundle.js" async></script>

