{% include 'scarab_cart' %}
<script id="scarab-go">
{% if customer.email %}
    ScarabQueue.push(['setEmail','{{customer.email}}']);
{%else%}
	{% if checkout.customer.email %}
	    ScarabQueue.push(['setEmail','{{checkout.customer.email}}']);
    {%endif%}
{%endif%}
ScarabQueue.push(['go']);
</script>
