<script id="scarab-cart">
ScarabQueue.push(['cart', [
  {% if checkout.line_items %}
    {% for item in checkout.line_items %}
      {item: '{{item.variant_id}}', price: {{ item.line_price | divided_by: 100.00 }}, quantity: {{item.quantity}}}{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {%else%}
    {% if cart.items %}
      {% for item in cart.items %}
        {item: '{{item.variant_id}}', price: {{ item.line_price | divided_by: 100.00 }}, quantity: {{item.quantity}}}{% if forloop.last == false %},{% endif %}
      {% endfor %}
  	{%endif%}
  {% endif %}]
]);
</script>

