{% comment %}
------------------------------------------------------------------------------
  Hreflang - https://moz.com/learn/seo/hreflang-tag
  - Serve alternate languages on search engines
  - Sample tags for EU and US stores below

  <link href="{{ canonical_url | replace: shop.domain, 'eu.mystore.com' }}" hreflang="en-EU" rel="alternate">
  <link href="{{ canonical_url | replace: shop.domain, 'us.mystore.com' }}" hreflang="en-US" rel="alternate">
------------------------------------------------------------------------------
{% endcomment %}
<link href="{{ canonical_url | replace: shop.domain, 'crabtree-evelyn.ca' }}" hreflang="en-CA" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'crabtree-evelyn.ca' | append: '?lang=FR' }}" hreflang="fr-CA" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com.au' }}" hreflang="en-AU" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.co.uk' }}" hreflang="en-GB" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'crabtree-evelyn.com.hk' | append: '?lang=TW' }}" hreflang="zh-HK" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'crabtree-evelyn.com.hk' }}" hreflang="en-HK" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com.mx' }}" hreflang="en-MX" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com.mx' | append: '?lang=ES' }}" hreflang="es-MX" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com.my' }}" hreflang="en-MY" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com.sg' }}" hreflang="en-SG" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.com' }}" hreflang="en-US" rel="alternate">
<link href="{{ canonical_url | replace: shop.domain, 'www.crabtree-evelyn.eu' }}" hreflang="x-default" rel="alternate">
