<span class="visually-hidden">{{ shop.name }}</span>
<svg class="logo" viewBox="0 0 347 119" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5672 6.39173C21.3786 6.39173 23.0941 11.382 22.999 15.2246H29.6537C29.6537 8.55399 25.6528 0 15.5672 0C7.12085 0 -0.000244141 5.77664 -0.000244141 22.9641C-0.000244141 40.1486 7.12085 45.9253 15.5672 45.9253C25.6528 45.9253 29.6537 37.3709 29.6537 30.7003H22.999C23.0941 34.5429 21.3786 39.5335 15.5672 39.5335C7.85949 39.5335 6.80055 30.3008 6.80055 22.9641C6.80055 15.6244 7.85949 6.39173 15.5672 6.39173Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M72.342 22.2524C74.0922 19.7539 74.5994 16.7957 74.5994 14.1992C74.5994 8.51434 71.2672 0.914612 62.1614 0.914612L54.6186 0.917924V0.914612H47.9861V45.0138H54.6186V27.3126C54.6186 27.3126 61.4989 27.3381 61.5751 27.3381L68.2616 45.0138H75.1005L67.5323 26.1394C69.3649 25.3216 71.1118 24.05 72.342 22.2524ZM61.3499 22.059L54.6186 22.0937V6.59619C54.6186 6.59619 60.3287 6.62169 61.277 6.62169C67.5544 6.62169 68.5279 11.7514 68.5279 14.2562C68.5279 18.0799 66.5972 22.059 61.3499 22.059Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M103.19 0.91333L90.8821 45.0125H97.5848L100.064 36.0047H113.748L116.158 45.0125H122.959L110.533 0.91333H103.19ZM101.291 30.6686L106.881 7.80621L112.47 30.6686H101.291Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M183.687 6.91348H194.33V45.0138H200.966V6.91348H211.61V0.914917H183.687V6.91348Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M276.639 45.0129H301.508V39.1793H283.275V25.27H298.858V19.4364H283.275V6.76688H301.508V0.914062H276.639V45.0129Z"/>

  <path fill-rule="evenodd" clip-rule="evenodd" d="M321.31 45.0129H346.18V39.1793H327.946V25.27H343.529V19.4364H327.946V6.76688H346.18V0.914062H321.31V45.0129Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M99.8223 117.984H124.692V112.151H106.458V98.2415H122.041V92.4073H106.458V79.7381H124.692V73.8849H99.8223V117.984Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M156.417 107.685L156.274 108.332H156.182L156.008 107.685L147.064 73.884L145.627 73.8747H140.288L152.752 117.932L159.733 117.983L172.105 73.884H165.31L156.417 107.685Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M189.031 117.984H213.901V112.151H195.667V98.2415H211.251V92.4073H195.667V79.7381H213.901V73.8849H189.031V117.984Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M240.793 73.885H234.157V117.984H257.27V112.15H240.793V73.885Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M282.652 93.8687L282.519 94.4997H282.414L282.24 93.8687L273.457 73.885H266.482L279.053 101.89L279.12 102.249V117.917H285.772V102.249L285.838 101.89L298.07 73.885H291.047L282.652 93.8687Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M338.88 73.8513V105.471V105.855H338.762L338.661 105.474L320.817 73.8513H314.298V117.951H320.817V85.9469H320.884L321.036 86.3307L338.911 117.951H345.395V73.8513H338.88Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M254.306 22.2524C256.057 19.7539 256.564 16.7957 256.564 14.1992C256.564 8.51434 253.232 0.914612 244.126 0.914612L236.583 0.917924V0.914612H229.95V45.0138H236.583V27.3126C236.583 27.3126 243.463 27.3381 243.539 27.3381L250.226 45.0138H257.065L249.497 26.1394C251.329 25.3216 253.076 24.05 254.306 22.2524ZM243.314 22.059L236.583 22.0937V6.59619C236.583 6.59619 242.293 6.62169 243.241 6.62169C249.519 6.62169 250.492 11.7514 250.492 14.2562C250.492 18.0799 248.561 22.059 243.314 22.059Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M162.432 21.8531C165.618 19.8399 166.785 15.7595 166.785 12.5316C166.785 6.28266 163.152 0.956158 154.347 0.956158L140.771 0.911774V45.014L155.606 45.0173C160.958 45.0173 167.926 42.0461 167.926 31.8088C167.926 27.7791 166.176 23.8822 162.432 21.8531ZM147.407 6.74869L153.561 6.72352C158.814 6.72352 160.72 9.45947 160.72 13.2166C160.72 16.7992 158.83 19.656 154.078 19.7067H147.407V6.74869ZM153.821 39.1042L147.407 39.0883V24.8904H153.513C158.282 24.8904 161.516 26.479 161.516 31.7548C161.516 34.5067 160.146 39.1042 153.821 39.1042Z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M38.7095 98.6768H30.7673C29.0899 100.402 27.2036 102.348 25.4215 104.184L9.75606 88.2646C8.72561 87.2185 8.15821 85.8234 8.15821 84.3398C8.15821 81.2803 10.609 78.7881 13.6208 78.7881C16.633 78.7881 19.0838 81.2803 19.0838 84.3398H24.7369C24.7369 78.1094 19.7496 73.0399 13.6208 73.0399C7.48913 73.0399 2.50181 78.1094 2.50181 84.3398C2.50181 87.358 3.65581 90.196 5.75812 92.3327L7.31788 93.918C6.38249 94.8564 5.30798 95.9408 4.47693 96.7934C2.08976 99.2508 0.7771 102.504 0.7771 105.957C0.7771 113.15 6.53154 119 13.6083 119C17.0355 119 20.257 117.643 22.6823 115.18C23.0658 114.786 24.0963 113.727 25.4471 112.342L30.8179 117.802H38.8171L29.4198 108.252C32.9043 104.66 36.7784 100.665 38.7095 98.6768ZM18.681 111.115C17.3243 112.491 15.5234 113.252 13.6083 113.252C9.65139 113.252 6.43019 109.977 6.43019 105.957C6.43019 104.025 7.16883 102.206 8.50037 100.833C9.32182 99.9864 10.3933 98.9116 11.3158 97.9825L21.4458 108.277C20.0984 109.663 19.0679 110.722 18.681 111.115Z"/>
</svg>

<svg class="logo--horizontal" viewBox="0 0 2017 134"fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="m45.75 18.48c17.08 0 22.12 14.43 21.85 25.55h19.56c0-19.29-11.77-44.03-41.41-44.03-24.83 0-45.75 16.71-45.75 66.41s20.92 66.41 45.75 66.41c29.64 0 41.4-24.74 41.4-44.03h-19.55c0.27 11.11-4.77 25.55-21.85 25.55-22.66 0-25.77-26.7-25.77-47.92s3.11-47.94 25.77-47.94z"/>
  <path d="m212.63 64.35c5.14-7.23 6.63-15.78 6.63-23.29 0-16.44-9.8-38.42-36.56-38.42l-22.17 0.01v-0.01h-19.5v127.53h19.5v-51.18s20.22 0.07 20.44 0.07l19.66 51.12h20.1l-22.23-54.59c5.38-2.36 10.51-6.04 14.13-11.24zm-32.3-0.56l-19.78 0.1v-44.82s16.78 0.08 19.56 0.08c18.45 0 21.32 14.83 21.32 22.08-0.01 11.06-5.68 22.56-21.1 22.56z"/>
  <path d="m303.3 2.64l-36.17 127.53h19.7l7.28-26.05h40.22l7.08 26.05h20l-36.52-127.53h-21.59zm-5.58 86.05l16.43-66.11 16.43 66.11h-32.86z"/>
  <path d="m477.43 63.2c9.37-5.82 12.79-17.63 12.79-26.96 0-18.07-10.68-33.47-36.55-33.47l-39.91-0.13v127.54l43.6 0.01c15.73 0 36.21-8.59 36.21-38.2 0-11.65-5.14-22.93-16.14-28.79zm-44.17-43.68l18.09-0.08c15.44 0 21.03 7.92 21.03 18.78 0 10.37-5.55 18.63-19.52 18.78h-19.61v-37.48h0.01zm18.86 93.56l-18.86-0.04v-41.05h17.95c14.01 0 23.52 4.59 23.52 19.85 0 7.95-4.02 21.24-22.61 21.24z"/>
  <polygon points="539.9 19.99 571.19 19.99 571.19 130.17 590.69 130.17 590.69 19.99 621.98 19.99 621.98 2.64 539.9 2.64"/>
  <path d="m747.47 64.35c5.14-7.23 6.63-15.78 6.63-23.29 0-16.44-9.8-38.42-36.56-38.42l-22.17 0.01v-0.01h-19.5v127.53h19.5v-51.18s20.22 0.07 20.44 0.07l19.66 51.12h20.1l-22.24-54.58c5.39-2.37 10.52-6.05 14.14-11.25zm-32.31-0.56l-19.78 0.1v-44.82s16.78 0.08 19.56 0.08c18.45 0 21.31 14.83 21.31 22.08 0.009987 11.06-5.66 22.56-21.09 22.56z"/>
  <polygon points="813.11 130.17 886.21 130.17 886.21 113.3 832.61 113.3 832.61 73.08 878.41 73.08 878.41 56.21 832.61 56.21 832.61 19.56 886.21 19.56 886.21 2.64 813.11 2.64"/>
  <polygon points="944.41 130.17 1017.5 130.17 1017.5 113.3 963.91 113.3 963.91 73.08 1009.7 73.08 1009.7 56.21 963.91 56.21 963.91 19.56 1017.5 19.56 1017.5 2.64 944.41 2.64"/>
  <path d="m1217.3 74.34h-23.34c-4.93 4.99-10.48 10.62-15.72 15.93l-46.04-46.04c-3.03-3.03-4.7-7.07-4.7-11.35 0-8.85 7.21-16.05 16.06-16.05s16.06 7.2 16.06 16.05h16.62c0-18.02-14.66-32.68-32.68-32.68s-32.68 14.66-32.68 32.68c0 8.73 3.4 16.94 9.57 23.11l4.59 4.58c-2.75 2.71-5.91 5.85-8.35 8.32-7.01 7.1-10.88 16.51-10.88 26.5 0 20.8 16.92 37.71 37.72 37.71 10.07 0 19.54-3.92 26.67-11.04 1.14-1.14 4.16-4.2 8.13-8.21l15.79 15.79h23.51l-27.62-27.62c10.23-10.38 21.62-21.93 27.29-27.68zm-58.87 35.97c-3.98 3.98-9.28 6.18-14.91 6.18-11.63 0-21.09-9.47-21.09-21.09 0-5.58 2.16-10.85 6.08-14.82 2.42-2.45 5.56-5.56 8.28-8.24l29.77 29.77c-3.96 4-6.99 7.06-8.13 8.2z"/>
  <polygon points="1294.9 130.17 1368 130.17 1368 113.3 1314.4 113.3 1314.4 73.08 1360.2 73.08 1360.2 56.21 1314.4 56.21 1314.4 19.56 1368 19.56 1368 2.64 1294.9 2.64"/>
  <polygon points="1461.2 100.39 1460.8 102.26 1460.6 102.26 1460 100.39 1433.8 2.64 1429.5 2.61 1413.8 2.61 1450.5 130.03 1471 130.17 1507.4 2.64 1487.4 2.64"/>
  <polygon points="1557.1 130.17 1630.2 130.17 1630.2 113.3 1576.6 113.3 1576.6 73.08 1622.4 73.08 1622.4 56.21 1576.6 56.21 1576.6 19.56 1630.2 19.56 1630.2 2.64 1557.1 2.64"/>
  <polygon points="1709.2 2.64 1689.7 2.64 1689.7 130.17 1757.7 130.17 1757.7 113.3 1709.2 113.3"/>
  <polygon points="1832.3 60.43 1832.3 60.43 1831.9 62.26 1831.6 62.26 1831.1 60.43 1831.1 60.43 1805.2 2.64 1784.8 2.64 1821.7 83.63 1821.9 84.67 1821.9 129.98 1841.4 129.98 1841.4 84.67 1841.6 83.63 1877.6 2.64 1857 2.64"/>
  <polygon points="1997.6 2.64 1997.6 94.09 1997.6 94.09 1997.6 95.19 1997.2 95.19 1996.9 94.1 1944.5 2.64 1925.3 2.64 1925.3 130.17 1944.5 130.17 1944.5 37.63 1944.6 37.63 1945.1 38.73 1997.6 130.17 2016.7 130.17 2016.7 2.64"/>
</svg>
