<a href="/cart" class="cart--open-right off-canvas--open" data-off-canvas--open="right-sidebar">
  <span class="visually-hidden">{{ 'layout.header.cart' | t }}</span>
  <svg class="icon icon__bag" width="24" height="24">
    <use href="#shopping-bag"></use>
  </svg>
  <span class="number-wrapper" data-item-count="{{ cart.item_count }}">
    <span class="number cart--external--total-items">{{ cart.item_count }}</span>
  </span>
  <!-- {% include 'snippet-symbol' with 'cart' %} -->
</a>
