<div class="title clearfix" role="banner">

  {% if section.settings.logo %}
    {% capture image_height %}x{{ section.settings.logo-height }}{% endcapture %}
    {% assign key = section.settings.logo %}
    {% assign alt = section.settings.logo.alt %}

    <a href="{{ routes.root_url }}" role="banner" title="{{ shop.name }}">
      <img class="logo-image"
           src="{{ key | img_url: image_height }}"
           srcset="{{ key | img_url: image_height }} 1x,
                   {{ key | img_url: image_height, scale: 2 }} 2x"
           alt="{{ alt | default: shop.name }}"
           itemprop="logo">
    </a>
  {% else %}
    <a class="font--section-heading" href="{{ routes.root_url }}">{{ shop.name }}</a>
  {% endif %}
</div>