:root {
  --font--section-heading--size: 28px;
  --font--block-heading--size: 20px;
  --font--heading--uppercase: uppercase;
  --font--paragraph--size: 16px;
  --font--heading--family: "Roboto Condensed", sans-serif;
  --font--heading--weight: 700;
  --font--heading--normal-weight: 400;
  --font--heading--style: normal;
  --font--accent--family: "Roboto Condensed", sans-serif;
  --font--accent--weight: 300;
  --font--accent--style: normal;
  --font--paragraph--family: "Roboto Condensed", sans-serif;
  --font--paragraph--weight: 300;
  --font--paragraph--style: normal;
  --font--bolder-paragraph--weight: 400;

  --image--loading-animation: url(//cdn.shopify.com/s/files/1/0033/4731/6845/t/42/assets/AjaxLoader.gif?v=6643103100573399637);
  --image--grabbing-icon: url(//cdn.shopify.com/s/files/1/0033/4731/6845/t/42/assets/grabbing.png?v=1629955…);
  --image--popup: url(//cdn.shopify.com/s/assets/no-image-2048-5e88c1b…_1200x.gif);

  --color--accent: #f3e9df;
  --color-text: #3c3c3c;
  --color-page-bg: #ffffff;
  --color-panel-bg: #f2efe8;
  --color-border: #ebebeb;
  --color-error: #f66767;
  --color-button: #ffffff;
  --color-button-bg: #3c3c3c;
  --color--body--light: #6c6c6c;
  --color--alternative: #ffffff;
  --color-header: #000000;
  --color-header-bg: #ffffff;
  --color-menubar: #000000;
  --color-cart: #000000;
  --color-footer: #000000;
  --color-footer-bg: #ffffff;
  --color-slider-caption: #ffffff;
  --color-slider-caption-bg: rgba(0, 0, 0, 0);
  --color-slider-button: #000000;
  --color-slider-button-bg: #ffffff;
  --color-slider-button-hover-bg: #474747;
  --color-slider-nav: #454242;
  --color-product-slider-bg: #ffffff;
  --color-featured-promo-bg: #f7f7f7;
  --color-social-feed-bg: #ffffff;
  --color-grid-sale: #ffffff;
  --color-grid-sale-bg: #272727;
  --color-grid-sold-out: #ffffff;
  --color-grid-sold-out-bg: #cccccc;
  --color-tabs-accordions: #ebebeb;
}
