/*  3.7 - Promo Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.announcement--root {
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.announcement--root[data-alternative-color="true"] {
  color: var(--color--alternative);
}

.announcement--root[data-alternative-color="true"] a,
.announcement--root[data-alternative-color="true"] a:link,
.announcement--root[data-alternative-color="true"] a:hover,
.announcement--root[data-alternative-color="true"] a:visited {
  color: var(--color--alternative);
}

.announcement--link {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.announcement--wrapper {
  padding: 0 8px;
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .announcement--wrapper {
    display: block;
    max-width: 100%;
  }
}

.announcement--wrapper > * {
  padding: 8px;
}

.announcement--icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0;
  line-height: 1;
}

.announcement--icon img {
  max-height: 25px;
}

@media only screen and (max-width: 767px) {
  .announcement--icon {
    display: none;
  }
}

.announcement--text {
  text-transform: none;
}

.announcement--text p {
  margin: 0;
}
