/* Align
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.fw--align--center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fw--align--center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fw--align--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fw--align--center-x.fw--align--center-y {
  transform: translate(-50%, -50%);
}

.fw--align--left {
  position: absolute;
  left: 0;
}

.fw--align--right {
  position: absolute;
  right: 0;
}

.fw--align--top {
  position: absolute;
  top: 0;
}

.fw--align--bottom {
  position: absolute;
  bottom: 0;
}

.fw--align--fill-y--dynamic,
.fw--align--fill-y--fixed {
  display: block;
}
