.is-hidden,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.visible-desktop {
  display: none !important;

  @include desktop {
    display: inline-block !important;
  }
}

.visible-mobile {
  display: inline-block;

  @include desktop {
    display: none;
  }
}
