/* Initialize
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.fw--blocks:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.show-after-js {
  visibility: hidden;
}

html.after-js-loaded .show-after-js {
  visibility: visible;
}

.image-scale-hack {
  transform: rotate(0.0001deg);
}

iframe[src="//localhost:3000/preview_bar"]
{
  display: none;
}
