.divider {
  display: block;
  border-top: 1px solid $border;
}

.panel {
  background: var(--color-panel-bg);
  border: 1px solid $border;
  border-radius: 3px;
}

.list--no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  1.4 - Utilities
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.show-for-medium-only {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .show-for-medium-only {
    display: inherit !important;
  }
}

.image-scale-hack {
  transform: rotate(0.0001deg);
}

.clearfix:after,
.fw--blocks:after {
  content: "";
  display: table;
  clear: both;
}

.remove_button_styles,
.modal.video .close,
.popup-modal-close {
  appearance: none;
  color: $button;
  text-transform: inherit;
  background: transparent;
  font-size: 14px;
}

.plain-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 5px;
  }
}

.hide,
.hide-until-js,
.hide-for-js {
  display: none;
}

.no-js .hide-until-js,
.no-js .hide-for-js {
  display: inherit;
}

.divider {
  border-top: 1px solid $border;
}

.border-decoration {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 2.5em;

  &:after {
    content: "";
    display: block;
    border-bottom: 1px solid $border;
  }
}
