.text-align--left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}

.text-align--right {
  text-align: right;
}

@include desktop {
  .text-align--medium-left {
    text-align: left;
  }
  .text-align--medium-center {
    text-align: center;
  }
  .text-align--medium-right {
    text-align: right;
  }
}

@include large-desktop {
  .text-align--large-left {
    text-align: left;
  }
  .text-align--large-center {
    text-align: center;
  }
  .text-align--large-right {
    text-align: right;
  }
}
