<div class="customer--root">
  <h1 class="font--section-heading">
    {{ 'customer.activate_account.page_title' | t }}
  </h1>
  <p class="activate-account--create-password">{{ 'customer.activate_account.subtext' | t }}</p>

  {% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}

  <label for="customer_password">{{ 'customer.activate_account.password' | t }}</label>
  <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />

  <label for="customer_password_confirmation">
    {{ 'customer.activate_account.password_confirm' | t }}
  </label>
  <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />

  <div class="activate-account--button-container">
    <input class="font--button" type="submit" value="{{ 'customer.activate_account.submit' | t }}" />
    <div class="font--block-link">
      <a href="{{ routes.root_url }}">
        {{ 'customer.activate_account.cancel' | t }}
      </a>
    </div>
  </div>
  {% endform %}
</div>
