{% paginate customer.addresses by 5 %}
  <div class="customer--root">
    <div id="customer-addresses">
      <h1>
        {{ 'customer.addresses.page_title' | t }}
      </h1>
      <div class="account--breadcrumb-container">
        {% include 'framework--breadcrumbs' %}
      </div>

      <div class="address--container">
        {% for address in customer.addresses %}
          <div class="address--table">
            <div id="view_address_{{address.id}}" class="address--customer">
              <h4 class="font--block-heading">
                {{ address.street }}

                {% if address == customer.default_address %}
                  <span class="font--paragraph">
                    {{ 'customer.addresses.default' | t }}
                  </span>
                {% endif %}
              </h4>

              <p class="address--actions">
                <span class="address--actions-edit font--block-link">
                  {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}
                </span>
                <span class="font--block-link">
                  {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
                </span>
              </p>

              <div class="address--view font--paragraph">
                <p>{{ address.first_name }} {{address.last_name }}</p>
                <p>{{ address.company }}</p>
                <p>{{ address.street }}</p>
                <p>{{ address.city }}
                  {% if address.province_code %}
                    , {{ address.province_code }}
                  {% endif %}
                </p>
                <p>{{ address.country }} {{ address.zip }}</p>
                <p>{{ address.phone }}</p>
              </div>
            </div>

            <div id="edit_address_{{address.id}}" class="address--edit" style="display:none;">
              {% form 'customer_address', address %}
                <table class="address--customer-table">
                  <tr>
                    <td>
                      <label for="address_first_name_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.first_name' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_first_name_{{form.id}}"
                            class="address_form"
                            name="address[first_name]"
                            value="{{form.first_name}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_last_name_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.last_name' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_last_name_{{form.id}}"
                            class="address_form"
                            name="address[last_name]"
                            value="{{form.last_name}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_company_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.company' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_company_{{form.id}}"
                            class="address_form"
                            name="address[company]"
                            value="{{form.company}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_address1_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.address1' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_address1_{{form.id}}"
                            class="address_form"
                            name="address[address1]"
                            value="{{form.address1}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_address2_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.address2' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_address2_{{form.id}}"
                            class="address_form"
                            name="address[address2]"
                            value="{{form.address2}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_city_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.city' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_city_{{form.id}}"
                            class="address_form"
                            name="address[city]"
                            value="{{form.city}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_country_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                    </td>
                    <td>
                      <select id="address_country_{{form.id}}"
                              name="address[country]"
                              data-default="{{form.country}}">
                        {{ country_option_tags }}
                      </select>
                    </td>
                  </tr>
                  <tr id="address_province_container_{{form.id}}" style="display:none">
                    <td>
                      <label for="address_province_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                    </td>
                    <td>
                      <select id="address_province_{{form.id}}"
                              class="address_form"
                              name="address[province]"
                              data-default="{{form.province}}">
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_zip_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.zip' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_zip_{{form.id}}"
                            class="address_form"
                            name="address[zip]"
                            value="{{form.zip}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="address_phone_{{form.id}}" class="font--accent">
                        {{ 'customer.addresses.phone' | t }}
                      </label>
                    </td>
                    <td>
                      <input type="text"
                            id="address_phone_{{form.id}}"
                            class="address_form"
                            name="address[phone]"
                            value="{{form.phone}}"
                            size="40" />
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="address--checkbox-container font--paragraph">
                      {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
                    </td>
                  </tr>
                </table>

                <div class="address--button-container">
                  <input class="font--button" type="submit" value="{{ 'customer.addresses.update' | t }}"/>
                  <span class="font--block-link">
                    <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">
                      {{ 'customer.addresses.cancel' | t }}
                    </a>
                  </span>
                </div>
              {% endform %}
            </div>
          </div>
        {% endfor %}

        <div class="font--block-link">
          <a href="#"
            onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"
            class="add-new-address">
            {{ 'customer.addresses.add_new' | t }}
          </a>
        </div>
        <div id="add_address" class="edit_address" style="display:none;">
          {% form 'customer_address', customer.new_address %}

          {{ form.errors | default_errors }}

          <table class="address--customer-table">
            <tr>
              <td>
                <label for="address_first_name_new" class="font--accent">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
              </td>
              <td>
                <input type="text"
                      id="address_first_name_new"
                      class="address_form"
                      name="address[first_name]"
                      value="{{form.first_name}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_last_name_new" class="font--accent">{{ 'customer.addresses.last_name' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_last_name_new"
                      class="address_form"
                      name="address[last_name]"
                      value="{{form.last_name}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_company_new" class="font--accent">{{ 'customer.addresses.company' | t }}</label>
              </td>
              <td>
                <input type="text"
                      for="address_company_new"
                      class="address_form"
                      name="address[company]"
                      value="{{form.company}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_address1_new" class="font--accent">{{ 'customer.addresses.address1' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_address1_new"
                      class="address_form"
                      name="address[address1]"
                      value="{{form.address1}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_address2_new" class="font--accent">{{ 'customer.addresses.address2' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_address2_new"
                      class="address_form"
                      name="address[address2]"
                      value="{{form.address2}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_city_new" class="font--accent">{{ 'customer.addresses.city' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_city_new"
                      class="address_form"
                      name="address[city]"
                      value="{{form.city}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_country_new" class="font--accent">{{ 'customer.addresses.country' | t }}</label>
              </td>
              <td>
                <select id="address_country_new"
                        name="address[country]"
                        data-default="{{form.country}}">
                  {{ country_option_tags }}
                </select>
              </td>
            </tr>
            <tr id="address_province_container_new" style="display:none">
              <td>
                <label for="address_province_new" class="font--accent">
                  {{ 'customer.addresses.province' | t }}
                </label>
              </td>
              <td>
                <select id="address_province_new"
                        class="address_form"
                        name="address[province]"
                        data-default="{{form.province}}">
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_zip_new" class="font--accent">{{ 'customer.addresses.zip' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_zip_new"
                      class="address_form"
                      name="address[zip]"
                      value="{{form.zip}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="address_phone_new" class="font--accent">{{ 'customer.addresses.phone' | t }}</label>
              </td>
              <td>
                <input type="text"
                      id="address_phone_new"
                      class="address_form"
                      name="address[phone]"
                      value="{{form.phone}}"
                      size="40" />
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="address--checkbox-container font--paragraph">
                {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
              </td>
            </tr>
          </table>

          <div class="address--button-container">
            <input class="font--button" type="submit" value="{{ 'customer.addresses.add' | t }}" />
            <span class="font--block-link">
              <a  href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
                {{ 'customer.addresses.cancel' | t }}
              </a>
            </span>
          </div>
        {% endform %}
      </div>

      {% if paginate.pages > 1 %}
        <div class="width--12 text-align--center">
          {% include 'framework--pagination' %}
        </div>
      {% endif %}

    </div>
  </div>


  <script type="text/javascript" charset="utf-8">
    // initialize observers on address selectors
    new Shopify.CountryProvinceSelector(
      'address_country_new', 'address_province_new',
      { hideElement: 'address_province_container_new' }
    );

    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector(
        'address_country_{{address.id}}', 'address_province_{{address.id}}',
        { hideElement: 'address_province_container_{{address.id}}' }
      );
    {% endfor %}
  </script>

{% endpaginate %}
