<main class="main-content">
  <div class="customer--root">
    <div id="customer-login" class="customer--login">
      <p id="account-reset" class="account--reset font--paragraph">
        {{ 'customer.login.reset_instructions' | t }}
      </p>
      <h1>{{ 'customer.login.page_title' | t }}</h1>
      {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      <label for="customer_email" class="label font--accent">{{ 'customer.login.email' | t }}</label>
      <input type="email" value="" name="customer[email]" id="customer_email" class="text" required />

        {% if form.password_needed %}
        <label for="customer_password" class="label font--accent">
          {{ 'customer.login.password' | t }}
        </label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" required />
        <p class="account--forgot-password font--block-link">
          <a href="#" onclick="showRecoverPasswordForm();return false;">
            {{ 'customer.login.forgot_password' | t }}
          </a>
        </p>
        {% endif %}

        <div class="account--button-container">
          <input class="btn account--sign-in" type="submit" value="{{ 'customer.login.sign_in' | t }}">
          <a class="btn account--register" href="{{ shop.url }}/account/register">
            {{ 'customer.login.new_account' | t }}
          </a>
        </div>
      {% endform %}
    </div>

    <div id="recover-password" style="display:none;" class="account--recover-password">
      <h1 class="font--section-heading">
        {{ 'customer.login.reset_password' | t }}
      </h1>
      <p class="account--reset-instructions font--paragraph">{{ 'customer.login.reset_instructions' | t }}</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="email" class="label font--accent">{{ 'customer.login.email' | t }}</label>
      <input type="email" value="" size="30" name="email" id="recover-email" class="text" required />

      <div class="account--password-buttons">
        <input class="font--button account--submit" type="submit" value="{{ 'customer.login.submit' | t }}"/>
        <span class="font--block-link">
          <a class="account--cancel" href="#" onclick="hideRecoverPasswordForm();return false;">
            {{ 'customer.login.cancel' | t }}
          </a>
        </span>
      </div>

      {% if form.posted_successfully? or form.errors %}
      <script>window.location.hash = '#recover-successful';</script>
      {% endif %}
      {% endform %}
    </div>

    {% if shop.checkout.guest_login %}
    <div id="guest" class="columns">
      <h1>{{ 'customer.login.guest_title' | t }}</h1>
      {% form 'guest_login' %}
      <input class="btn" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
      {% endform %}
    </div>
    {% endif %}
  </div>

  {% comment %} @TODO: move into coffeescript class? {% endcomment %}
  <script type="text/javascript">
    function showRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'block';
      document.getElementById('customer-login').style.display='none';
    }

    function hideRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'none';
      document.getElementById('customer-login').style.display = 'block';
    }

    function showRecoverSuccess() {
      document.getElementById('account-reset').style.display = 'block';
    }

    if (window.location.hash == '#recover') { showRecoverPasswordForm() }

    if (window.location.hash == '#recover-successful') { showRecoverSuccess() }
  </script>

</main>
