<div class="customer--root">

  <h1 class="font--section-heading">
    {{ 'customer.order.page_title' | t: name: order.name }}
    <span class="note order_date">
      &mdash; {{ order.created_at | date: format: 'month_day_year' }}
    </span>
  </h1>

  <div class="account--breadcrumb-container">
    {% include 'framework--breadcrumbs' %}
  </div>

  {% if order.cancelled %}
  <div id="order_cancelled" class="flash notice">
    <h5 id="order_cancelled_title">{{ 'customer.order.cancelled' | t }}
      <span class="note">{{ order.cancelled_at | date: format: 'month_day_year' }}</span>
    </h5>
    <span class="note">{{ order.cancel_reason }}</span>
  </div>
  {% endif %}

  <div id="order_payment" class="columns">
    <h2 class="font--block-heading">{{ 'customer.order.billing_address' | t }}</h2>
    <p>
      <span class="note">{{ 'customer.order.payment_status' | t }}:</span>
      <span class="status_{{ order.financial_status }}">
        {% assign trans_paid  = 'customer.order.paid' | t %}
        {% assign trans_pending = 'customer.order.pending' | t %}
        {% assign trans_authorized = 'customer.order.authorized' | t %}
        {% assign trans_abandoned = 'customer.order.abandoned' | t %}
        {% assign trans_refunded = 'customer.order.refunded' | t %}
        {% assign trans_voided = 'customer.order.voided' | t %}
        <em>
        {{ order.financial_status | replace: 'paid', trans_paid | replace: 'pending', trans_pending | replace: 'authorized', trans_authorized | replace: 'abandoned', trans_abandoned | replace: 'refunded', trans_refunded | replace: 'voided', trans_voided }}
        </em>
      </span>
    </p>

    <div class="address--view">
      <p>{{ order.billing_address.name }}</p>
      <p>{{ order.billing_address.company }}</p>
      <p>{{ order.billing_address.street }}</p>
      <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
      <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
      <p>{{ order.billing_address.phone }}</p>
    </div>
  </div>

  {% if order.shipping_address %}
  <div id="order_shipping" class="columns">
    <h2 class="font--block-heading">
      {{ 'customer.order.shipping_address' | t }}
    </h2>
    <p>
      <span class="note">{{ 'customer.order.fulfillment_status' | t }}:</span>
      <span class="status_{{ order.fulfillment_status }}">
        <em>
          {% assign trans_fulfilled = 'customer.order.fulfilled' | t %}
          {% assign trans_unfulfilled = 'customer.order.unfulfilled' | t %}
          {% assign trans_partial = 'customer.order.unfulfilled' | t %}
          {{ order.fulfillment_status | replace: 'unfulfilled', trans_unfulfilled | replace: 'fulfilled',  trans_fulfilled | replace: 'partial', trans_partial }}
        </em>
      </span>
    </p>
    <div class="address--view">
      <p>{{ order.shipping_address.name }}</p>
      <p>{{ order.shipping_address.company }}</p>
      <p>{{ order.shipping_address.street }}</p>
      <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
      <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
      <p>{{ order.shipping_address.phone }}</p>
    </div>
  </div>
  {% endif %}

  <table id="order_details" class="order--table responsive">
    <thead>
      <tr class="font--accent">
        <th>{{ 'customer.order.item' | t }}</th>
        <th>{{ 'customer.order.sku' | t }}</th>
        <th>{{ 'customer.order.price' | t }}</th>
        <th>{{ 'customer.order.quantity' | t }}</th>
        <th class="order--heading--total">{{ 'customer.order.total' | t }}</th>
      </tr>
    </thead>

    <tbody>
      {% for line_item in order.line_items %}
      <tr id="{{ line_item.id }}">
        <td class="order--item--title" data-label="{{ 'customer.order.item' | t }}" >
          {{ line_item.title | link_to: line_item.product.url }}
          {% if line_item.fulfillment %}
            <div class="note">
              {% assign date = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
              {{ 'customer.order.fulfilled_at' | t: date: date }}<br />
              {{ 'customer.order.tracking_company' | t }}: {{ line_item.fulfillment.tracking_company }}
              <br />
              {% if line_item.fulfillment.tracking_number %}
                {{ 'customer.order.tracking_number' | t }}: {{ line_item.fulfillment.tracking_number }}
                <br />
              {% endif %}

              {% if line_item.fulfillment.tracking_url %}
                <a href="{{ line_item.fulfillment.tracking_url }}">
                  {{ 'customer.order.track_shipment' | t }}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </td>
        <td class="order--item--sku sku note" data-label="{{ 'customer.order.sku' | t }}" >{{ line_item.sku }}</td>
        <td class="order--item--price font--accent" data-label="{{ 'customer.order.price' | t }}" >
          {% if line_item.original_line_price > line_item.final_line_price %}
            <div class="font--light-accent">
              <s class="money">{{ line_item.original_price | money }}</s>
            </div>
          {% endif %}
          <div class=" font--accent money">{{ line_item.final_price | money }}</div>

          {% if line_item.line_level_discount_allocations.size > 0 %}
            <div class=" font--light-accent">
              {% for discount_allocation in line_item.line_level_discount_allocations %}
                {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
              {% endfor %}
            </div>
          {% endif %}
        </td>
        <td class="order--item--quantity font--accent" data-label="{{ 'customer.order.quantity' | t }}" >
          {{ line_item.quantity }}
        </td>
        <td class="order--item--total font--accent" data-label="{{ 'customer.order.total' | t }}" >
          {% if line_item.original_line_price > line_item.final_line_price %}
            <div class="font--light-accent">
              <s class="money">{{ line_item.original_line_price | money }}</s>
            </div>
          {% endif %}
          <div class="money">
          {{ line_item.quantity | times: line_item.final_price | money }}
          </div>
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td></td>
        <td></td>
      </tr>

      <tr class="order_summary">
        <td>{{ 'customer.order.subtotal' | t }}</td>
        <td colspan="3"></td>
        <td class="order--item--total money font--accent">{{ order.line_items_subtotal_price | money }}</td>
      </tr>

      {%- if order.cart_level_discount_applications != blank -%}
        {%- for discount_application in order.cart_level_discount_applications -%}
          <tr>
            <td class="" colspan="4">
              <div class="order--discount--label">{{ 'customer.order.discount' | t }}</div>
              <div class="font--light-accent">{{ discount_application.title }}</div>
            </td>
            <td class="order--discount font--light-accent">
              -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
            </td>
          </tr>
        {%- endfor -%}
      {%- endif -%}

      {% for shipping_method in order.shipping_methods %}
        <tr>
          <td>{{ shipping_method.title }}:</td>
          <td colspan="3"></td>
          <td class="order--item--total font--accent money">{{ shipping_method.price | money }}</td>
        </tr>
      {% endfor %}

      {% for tax_line in order.tax_lines %}
        <tr>
          <td>{{ tax_line.title }} {{ tax_line.rate | times: 100 }}%:</td>
          <td colspan="3"></td>
          <td class="order--item--total font--accent money">{{ tax_line.price | money }}</td>
        </tr>
      {% endfor %}

      <tr>
        <td>{{ 'customer.order.total' | t }}</td>
        <td colspan="3"></td>
        <td class="order--item--total font--accent money">{{ order.total_price | money }} {{ order.currency }}</td>
      </tr>
    </tbody>

  </table>

</div>
