<div id="customer-reset-password" class="customer--root account--reset-password">

  <h1>
		{{ 'customer.reset_password.page_title' | t }}
	</h1>
  {% form 'reset_customer_password' %}
  {{ form.errors | default_errors }}
  <label for="password">{{ 'customer.reset_password.password' | t }}</label>
  <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
  <label for="password_confirmation">
    {{ 'customer.reset_password.password_confirmation' | t }}
  </label>
  <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />
  <div class="account--button-container">
    <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
  </div>
  {% endform %}
</div>
