/*  3.7 - Promo Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.announcement--root {
  background-color: #06555c;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.announcement--link {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.announcement--wrapper {
  padding: 0 8px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .announcement--wrapper {
    display: block;
    max-width: 100%;
  }
}

.announcement--wrapper > * {
  padding: 8px;
}

.announcement--icon {
  display: none;
  flex-shrink: 0;
  padding-right: 0;
  line-height: 1;

  @include desktop {
    display: inline-block;
  }

  img {
    max-height: 25px;
  }
}

.announcement--text {
  text-transform: none;
  p {
    margin: 0;
  }
}
