.section--featured-text {
  background: #f2efe9;

  .featured-text {
    grid-column: main;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  svg {
    width: 4rem;
    height: 4rem;
  }

  h2 {
    @include font-size(3.2);
    line-height: 1.25;
    letter-spacing: 1.6px;
  }

  p {
    @include font-size(1.5);
    line-height: 1.33;
    letter-spacing: 0.75px;
    width: 35rem;
    margin: auto;

    strong {
      display: block;
    }
  }
}
