// Featured Content
.featured-content {
  position: relative;
  grid-column: full;

  .featured-content--block {
    picture {
      display: flex;
      justify-content: center;
      max-width: 192rem;
      margin: auto;
    }
  }

  .featured-content--content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column;
    text-align: center;

    h2 {
      color: $white;
      @include font-size(5);
      line-height: 1.05;
      margin-bottom: 2rem;
      text-shadow: 0px 0px 5px #000;
      text-transform: uppercase;

      @include desktop {
        @include font-size(5.2);
        line-height: 1.05;
      }
    }

    a {
      @include font-size(1.8);
      text-transform: uppercase;

      span {
        position: relative;
        padding-bottom: 0.5rem;

        &:after {
          content: "";
          height: 1px;
          width: 0px;
          position: absolute;
          bottom: 20px;
          left: 0px;
          will-change: width;
          transition: width 0.2s ease-out;
          background-color: #fff;
          bottom: 0;
        }
      }

      &:hover span:after {
        width: 100%;
      }
    }
  }

  &[data-text-position="center"] {
    .featured-content--content {
      justify-content: center;
    }
  }

  &[data-dark-background="true"] {
    .featured-content--content a {
      color: $white;
    }
  }
}
