.section--featured-collection {
  padding: 7.2rem 0;

  h2 {
    grid-column: main;
    font-family: $font-impact;
    @include font-size(3.2);
    font-weight: normal;
    text-align: center;
    margin-bottom: 4rem;

    a {
      color: #000;
    }
  }

  .product-swiper {
    position: relative;
    grid-column: main;
    overflow: hidden;
    padding-bottom: 2rem;

    @include desktop {
      grid-column: 2 / span 2;
    }

    @include xlarge-screen {
      grid-column: main;
    }

    .swiper-slide {
      text-align: center;
      position: relative;

      .iWishAddColl {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    &:hover .swiper-scrollbar {
      opacity: 1;
    }

    .swiper-scrollbar {
      opacity: 0;
      transition: 1s;
    }
  }
}
