/* Featured Grid
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section--featured-grid {
  background-color: #f2efe9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.feature-grid {
  margin: 0 auto 2rem;
  max-width: 110rem;
  grid-column: main;

  @include desktop {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
  }

  .featured-grid--item {
    position: relative;
  }

  .featured-grid--header {
    grid-column: span 2;
    margin: 1rem 0 1rem 1rem;
    padding: 0;
    text-align: left;

    h2 {
      font-family: $font-impact;
      @include font-size(3.2);
      font-weight: normal;
      text-align: center;
    }

    @include desktop {
      margin: 1rem 0;
    }
  }

  .image--container {
    overflow: hidden;
    position: relative;

    img {
      transition: all 1s;
    }
  }

  h4 {
    margin: 1.5rem 0;
    font-weight: 700;
  }

  .btn {
    @include font-size(1.8);
  }

  a {
    font-weight: 700;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
