.section--review-carousel {
  padding: 7.2rem 0;

  section {
    grid-column: main;
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
  }

  .swiper-review-container {
    width: 100%;

    .swiper-slide {
      display: flex;
      overflow: hidden;
      background-color: blue;

      &:nth-of-type(odd) {
        background-color: #d5a58b;
      }

      .image--container {
        max-width: 50%;
        margin-right: 2rem;
      }
    }
  }
}

.swiper-nav {
  > div {
    cursor: pointer;
    display: inline-block;
  }
}
