/*  4.7 - Article
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.article--root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;

  @include desktop {
    padding: 72px 48px;
  }

  > * {
    width: 100%;
    padding: 0 16px 16px;

    @include desktop {
      padding: 0 0 32px;
    }

    &:first-child {
      padding: 0 0 16px;

      @include desktop {
        padding: 0 0 72px;
      }
    }

    &:last-child {
      padding: 0 16px;

      @include desktop {
        padding: 0;
      }
    }
  }
}

.article--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

@media only screen and (min-width: 768px) {
  .article--heading {
    padding-bottom: 32px !important;
  }
  .article--root[data-full-width="true"][data-show-featured="true"]
    .article--heading {
    margin: 0 -48px;
    width: calc(100% + (2 * $spacing--section--x));
    max-width: calc(100% + (2 * $spacing--section--x));
  }
  .article--root[data-title-position="center"][data-show-featured="true"]
    .article--heading {
    position: relative;
  }
  .article--root[data-title-position="left"][data-show-featured="true"]
    .article--heading {
    flex-direction: row;
  }
  .article--root[data-title-position="left"][data-show-featured="true"]
    .article--heading
    > *:not(.article--info) {
    width: 50%;
  }
}

.article--heading > * {
  width: 100%;
}

.article--root[data-apply-overlay="true"] .article--image .image--container,
.article--root[data-apply-overlay="true"]
  .article--image
  .placeholder--container {
  position: relative;
}

.article--root[data-apply-overlay="true"]
  .article--image
  .image--container:after,
.article--root[data-apply-overlay="true"]
  .article--image
  .placeholder--container:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.article--header--info {
  order: 1;
  margin: 0 auto;
  padding: 0 16px 16px;
}

.article--root[data-show-featured="false"] .article--header--info {
  padding: 32px 16px 8px;
}

.article--root[data-show-featured="false"] .article--header--info:only-child {
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .article--header--info {
    padding: 32px;
  }
  .article--header--info > *:not(:last-child) {
    padding-bottom: 16px;
  }
  .article--root[data-show-featured="true"][data-full-width="true"]
    .article--header--info {
    padding-left: 48px;
    padding-right: 48px;
  }
  .article--root[data-title-position="center"][data-show-featured="true"]
    .article--header--info {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    padding-top: 0;
  }
  .article--root[data-title-position="left"][data-show-featured="true"]
    .article--header--info {
    padding: 32px 32px 0 48px;
  }
  .article--root[data-title-position="left"][data-show-featured="true"][data-full-width="false"]
    .article--header--info {
    padding-left: 0;
  }
  .article--root[data-title-position="below"] .article--header--info {
    padding-bottom: 0;
  }
  .article--root[data-show-featured="false"]
    .article--header--info:first-child {
    padding: 72px 48px 0;
  }
}

.article--image {
  padding-bottom: 16px;
  order: 1;
  justify-content: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .article--image {
    padding-bottom: 0;
  }
  .article--root[data-title-position="left"] .article--image .image--container,
  .article--root[data-title-position="left"]
    .article--image
    .placeholder--container {
    min-height: 400px;
  }
  .article--root[data-title-position="left"] .article--image img {
    object-fit: cover;
    font-family: "object-fit: cover"; //????
  }
  .article--root[data-title-position="center"] .article--image {
    padding-bottom: 32px;
  }
  .article--root[data-title-position="below"] .article--image {
    order: 0;
  }
}

.article--root[data-show-author="false"][data-show-date="false"]
  .article--image {
  padding-bottom: 0;
}

.article--title {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .article--root[data-title-position="center"][data-show-featured="true"]
    .article--title {
    padding: 0;
  }
  .article--root[data-title-position="center"][data-alt-color="true"][data-show-featured="true"]
    .article--title {
    color: var(--color--alternative);
  }
  .article--root[data-title-position="left"] .article--title {
    text-align: left;
  }
  .article--root[data-title-position="left"][data-show-featured="false"]
    .article--title {
    text-align: center;
  }
  .article--root[data-show-author="false"][data-show-date="false"]
    .article--title {
    padding-bottom: 0;
  }
}

.article--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article--info[data-position="grouped-with-title"] {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .article--root[data-title-position="left"]
    .article--info[data-position="grouped-with-title"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .article--info[data-position="grouped-with-title"] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article--root[data-title-position="above"]
    .article--info[data-position="grouped-with-title"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article--root[data-title-position="left"]
    .article--info[data-position="grouped-with-title"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .article--root[data-title-position="left"][data-show-featured="false"]
    .article--info[data-position="grouped-with-title"] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .article--root[data-title-position="below"]
    .article--info[data-position="grouped-with-title"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.article--info[data-position="by-self"] {
  padding: 0 16px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (max-width: 767px) {
  .article--info[data-position="by-self"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .article--root[data-title-position="above"]
    .article--info[data-position="by-self"] {
    display: none;
  }
  .article--root[data-title-position="center"]
    .article--info[data-position="by-self"] {
    padding: 0;
    max-width: 800px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .article--root[data-title-position="center"][data-show-featured="false"]
    .article--info[data-position="by-self"] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .article--root[data-title-position="center"][data-full-width="true"][data-show-featured="true"]
    .article--info[data-position="by-self"] {
    padding: 0 48px;
    max-width: calc($max-width--small + (2 * $spacing--section--x));
  }
  .article--root[data-title-position="left"]
    .article--info[data-position="by-self"] {
    display: none;
  }
  .article--root[data-title-position="below"]
    .article--info[data-position="by-self"] {
    display: none;
  }
}

.article--timesince {
  text-align: right;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .article--timesince {
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .article--root[data-title-position="left"] .article--timesince {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

.article--dot {
  padding: 0 8px;
}

@media only screen and (max-width: 767px) {
  .article--dot {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .article--root[data-title-position="left"] .article--dot {
    display: none;
  }
}

.article--author {
  -ms-flex-item-align: center;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .article--author {
    -ms-flex-item-align: center;
    align-self: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .article--root[data-title-position="left"] .article--author {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

.article--content {
  max-width: 800px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .article--content {
    padding-bottom: 72px;
  }
}

.article--content > * {
  padding: 0 0 8px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .article--content > * {
    padding-bottom: 16px;
  }
}

.article--content > *:last-child {
  padding-bottom: 0;
}

.article--navigation {
  max-width: 800px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .article--navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 72px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.article--navigation > *:not(:last-child) {
  padding-bottom: 16px;
}

.article--navigation .article--tag-info {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .article--navigation .article--tag-info {
    text-align: left;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .article--navigation .article--tag-info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.article--tagged-in {
  padding: 0 0 8px;
}

@media only screen and (min-width: 768px) {
  .article--tagged-in {
    display: inline-block;
    padding-bottom: 0;
    padding-right: 16px;
    position: relative;
    width: 100%;
    padding-bottom: 16px;
  }
}

.article--tags {
  display: inline;
  list-style-type: none;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .article--tags {
    margin: -8px;
  }
}

.article--tag {
  margin: 0 !important;
  line-height: 1 !important;
  display: inline-block !important;
  padding: 0 !important;
}

.article--tag a {
  display: inline-block;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .article--tag a {
    padding: 8px;
  }
}

.article--share {
  margin-left: auto;
}

.article--share--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.article--share-icon {
  margin: 0;
}

.article--share-icon a {
  padding: 8px;
  display: inline-block;
  outline: 0;
}

.article--share-icon svg {
  max-height: 16px;
}

.article--share-icon .facebook:hover {
  color: #3c5a99;
  -webkit-transition: 0.25s color ease-in;
  transition: 0.25s color ease-in;
}

.article--share-icon .twitter:hover {
  color: #1da1f2;
  -webkit-transition: 0.25s color ease-in;
  transition: 0.25s color ease-in;
}

.article--share-icon .twitter svg {
  width: 20px;
}

.article--share-icon .pinterest:hover {
  color: #bd081c;
  -webkit-transition: 0.25s color ease-in;
  transition: 0.25s color ease-in;
}

.article--share--comments {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article--comment-count {
  padding-left: 8px;
}

.article--back-to-blog {
  text-align: center;
}

.article--back-to-blog a {
  padding: 16px 16px;
  outline: 0;
}

@media only screen and (min-width: 768px) {
  .article--back-to-blog a {
    padding: 16px 0;
  }
}

.article--back-to-blog a > svg {
  vertical-align: middle;
  margin-right: 8px;
}

.article--read-more {
  text-align: center;
  max-width: 800px;
}

@media only screen and (min-width: 768px) {
  .article--read-more {
    padding: 0 0 32px;
  }
}

.article--recent-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1000px;
  padding-bottom: 32px;
}

.article--recent-articles h3 {
  padding: 8px 0 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .article--recent-articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 72px;
  }
  .article--recent-articles h3 {
    padding: 16px 0 0;
  }
  .article--root[data-two-recents="true"] .article--recent-articles {
    max-width: max-width;
  }
}

.article--recent-articles > * {
  padding-bottom: 16px;
  max-width: 800px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .article--recent-articles > * {
    padding: 0 16px;
    width: 33.33333%;
  }
  .article--root[data-two-recents="true"]
    .article--recent-articles
    > *:first-of-type {
    padding-left: 0;
  }
  .article--root[data-two-recents="true"]
    .article--recent-articles
    > *:last-of-type {
    padding-right: 0;
  }
}

.article--recent-articles > *:last-child {
  padding-bottom: 0;
}

.article--recent {
  display: none;
}

@media only screen and (min-width: 768px) {
  .article--recent {
    display: block;
  }
  .article--root[data-two-recents="true"] .article--recent {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .article--root[data-two-recents="true"] .article--next {
    width: 50%;
  }
}

.article--root[data-two-recents="true"] .article--previous {
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .article--root[data-two-recents="true"] .article--previous {
    width: 50%;
  }
}

.comments--heading {
  max-width: 600px;
  padding: 0 16px 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .comments--heading {
    padding: 0 0 32px;
    text-align: left;
  }
}

.article--root[data-enable-disqus="true"] .comments--heading {
  padding-bottom: 16px;
}

.comments--disqus {
  padding: 0 8px;
  max-width: 600px;
}

@media only screen and (min-width: 768px) {
  .comments--disqus {
    padding: 0;
  }
}

.template--article .footer {
  margin: 0;
}

.template-article .main-content {
  padding-top: 0;
}
