/*  4.6 - Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.blog--root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.blog--root[data-section-id="framework--blog"] {
  padding: 32px 0 0;
}

.blog--root[data-show-title="false"][data-show-tags="false"] {
  padding-top: 0;
}

@media only screen and (min-width: 768px) {
  .blog--root[data-show-featured="true"][data-section-id="framework--blog"] {
    padding-top: 0;
  }
  .blog--root[data-show-featured="false"][data-section-id="framework--blog"] {
    padding-top: 72px;
  }
  .blog--root[data-articles="0"][data-section-id="framework--blog"] {
    padding-top: 32px;
  }
}

.blog--root > * {
  padding: 0 0 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .blog--root > * {
    padding: 0 0 32px;
  }
}

.blog--featured {
  order: 1;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .blog--featured {
    padding-bottom: 32px !important;
  }
}

@media only screen and (min-width: 768px) {
  .blog--featured {
    order: 0;
    padding-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .blog--featured-container {
    position: relative;
  }
  .blog--root[data-image-height="small"] .blog--featured-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 400px;
  }
  .blog--root[data-image-height="small"]
    .blog--featured-container
    .blog--featured-image {
    height: 100%;
  }
  .blog--root[data-image-height="small"] .blog--featured-container .image--root,
  .blog--root[data-image-height="small"]
    .blog--featured-container
    .placeholder--root {
    height: 100%;
  }
  .blog--root[data-image-height="small"]
    .blog--featured-container
    .image--container,
  .blog--root[data-image-height="small"]
    .blog--featured-container
    .placeholder--container {
    height: 100%;
    padding-top: 0 !important;
  }
  .blog--root[data-image-height="small"] .blog--featured-container img {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover";
  }
  .blog--root[data-image-height="medium"] .blog--featured-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 640px;
  }
  .blog--root[data-image-height="medium"]
    .blog--featured-container
    .blog--featured-image {
    height: 100%;
  }
  .blog--root[data-image-height="medium"]
    .blog--featured-container
    .image--root,
  .blog--root[data-image-height="medium"]
    .blog--featured-container
    .placeholder--root {
    height: 100%;
  }
  .blog--root[data-image-height="medium"]
    .blog--featured-container
    .image--container,
  .blog--root[data-image-height="medium"]
    .blog--featured-container
    .placeholder--container {
    height: 100%;
    padding-top: 0 !important;
  }
  .blog--root[data-image-height="medium"] .blog--featured-container img {
    height: 640px;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover";
  }
}

.blog--root[data-apply-overlay="true"] .blog--featured-image .image--container,
.blog--root[data-apply-overlay="true"]
  .blog--featured-image
  .placeholder--container {
  position: relative;
}

.blog--root[data-apply-overlay="true"]
  .blog--featured-image
  .image--container:after,
.blog--root[data-apply-overlay="true"]
  .blog--featured-image
  .placeholder--container:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .blog--root[data-apply-overlay="true"]
    .blog--featured-image
    .image--container:after,
  .blog--root[data-apply-overlay="true"]
    .blog--featured-image
    .placeholder--container:after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 768px) {
  .blog--root[data-apply-overlay="true"][data-image-height="small"]
    .blog--featured-image
    .image--container:after {
    height: 400px;
  }
  .blog--root[data-apply-overlay="true"][data-image-height="medium"]
    .blog--featured-image
    .image--container:after {
    height: 640px;
  }
}

.blog--featured-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .blog--featured-header {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .blog--featured-header h2 a {
    display: inline-block;
    max-width: 1000px;
    text-align: center;
    margin: 0;
    padding: 0 48px 32px;
  }
  .blog--root[data-alt-color="true"] .blog--featured-header h2 a {
    color: var(--color--alternative);
  }
}

.blog--featured-image {
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .blog--featured-image {
    padding: 0;
  }
}

.blog--featured-title--mobile {
  padding: 0 16px 8px;
}

@media only screen and (min-width: 768px) {
  .blog--featured-title--mobile {
    display: none;
  }
}

.blog--featured-timesince {
  padding: 0 16px 8px;
}

@media only screen and (min-width: 768px) {
  .blog--featured-timesince {
    display: none;
  }
}

.blog--featured-excerpt {
  padding: 0 16px 8px;
}

@media only screen and (min-width: 768px) {
  .blog--featured-excerpt {
    display: none;
  }
}

.blog--featured-excerpt:last-child {
  padding-bottom: 0;
}

.blog--featured-readmore {
  padding: 0 16px;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .blog--featured-readmore {
    display: none;
  }
}

.blog--header--root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .blog--header--root {
    padding: 0 48px 72px;
  }
}

.blog--header {
  width: 100%;
  padding: 0 16px 32px;
}

@media only screen and (min-width: 768px) {
  .blog--header {
    padding: 0 32px;
    margin: 0 -32px;
    max-width: 864px;
  }
  .blog--root[data-columns="2"] .blog--header {
    max-width: 1264px;
  }
  .blog--root[data-columns="3"] .blog--header {
    max-width: 1264px;
  }
}

.blog--header > *:only-child {
  padding-bottom: 0;
}

.blog--title {
  width: 100%;
  text-align: center;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .blog--title {
    padding-bottom: 32px;
  }
}

.blog--filter--root {
  margin: -8px 0;
  width: 100%;
}

.blog--filter--header {
  padding: 0 0 8px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .blog--filter--header {
    display: none;
  }
}

.blog--filter--header h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.blog--filter--body {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.blog--filter--menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .blog--filter--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

.blog--filter--menu-item {
  display: none;
  margin: 0;
  line-height: 1em;
}

@media only screen and (min-width: 768px) {
  .blog--filter--menu-item {
    display: block;
  }
  .blog--filter--menu-item a {
    display: inline-block;
    padding: 8px;
  }
}

.blog--filter--select {
  max-width: 180px;
  padding: 16px 32px 16px 16px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .blog--filter--select {
    display: none;
  }
}

.blog--filter--select:focus {
  outline: 0;
}

.blog--body {
  order: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .blog--body {
    order: 0;
    padding: 0 48px 72px;
  }
}

.blog--list {
  width: 100%;
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .blog--list {
    padding: 0 16px;
  }
}

@media only screen and (min-width: 768px) {
  .blog--list {
    margin: -32px;
    max-width: 864px;
  }
  .blog--root[data-columns="2"] .blog--list {
    max-width: 1264px;
  }
  .blog--root[data-columns="3"] .blog--list {
    max-width: 1264px;
  }
}

.blog--list > *:not(:last-child) {
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .blog--list > *:not(:last-child) {
    padding-bottom: 32px;
  }
}

.blog--list--item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .blog--list--item {
    padding: 32px;
  }
  .blog--root[data-columns="2"] .blog--list--item {
    width: 50%;
  }
  .blog--root[data-columns="3"] .blog--list--item {
    width: 33.33333%;
  }
}

.blog--list--item > *:not(:last-child) {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .blog--list--item > *:not(:last-child) {
    padding-bottom: 16px;
  }
}

.blog--list--image-link {
  padding-bottom: 16px !important;
}

@media only screen and (min-width: 768px) {
  .blog--list--image-link {
    padding-bottom: 32px !important;
  }
}

@media only screen and (max-width: 767px) {
  .blog--list--item-image {
    margin: 0 -16px;
  }
}

.blog--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 16px 0;
}

@media only screen and (min-width: 768px) {
  .blog--footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 72px 32px 0;
    margin: 0 -32px;
    max-width: 864px;
  }
  .blog--root[data-columns="2"] .blog--footer {
    max-width: 1264px;
  }
  .blog--root[data-columns="3"] .blog--footer {
    max-width: 1264px;
  }
}

.blog--footer > *:not(:first-child) {
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .blog--footer > *:not(:first-child) {
    padding: 0;
  }
}

.blog--footer-rss {
  order: 1;
}

@media only screen and (min-width: 768px) {
  .blog--footer-rss {
    order: 0;
  }
  .blog--footer-rss:only-child {
    width: 100%;
    text-align: center;
  }
  .blog--footer-rss:only-child a {
    padding-left: 16px;
  }
}

.blog--footer-rss a {
  text-decoration: underline;
  padding: 8px;
}

@media only screen and (min-width: 768px) {
  .blog--footer-rss a {
    padding: 16px 16px 16px 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog--footer-pagination:only-child {
    width: 100%;
    text-align: center;
  }
}

.blog--footer-pagination .prev {
  padding-right: 10px;
}

.blog--footer-pagination .prev a {
  height: 19px;
}

.blog--footer-pagination .prev a > svg {
  display: inline-block;
  vertical-align: middle;
}

.blog--footer-pagination .next {
  padding-left: 10px;
}

.blog--footer-pagination .next a {
  height: 19px;
}

.blog--footer-pagination .next a > svg {
  display: inline-block;
  vertical-align: middle;
}

.blog--footer-pagination .page {
  display: inline-flex;
  justify-content: center;
  width: 25px;
}

.blog--footer-pagination .page a {
  width: 25px;
  text-align: center;
}

.blog--no-articles {
  padding: 72px 48px;
  margin: 0;
  max-width: 700px;
}

.blog--no-articles p {
  text-align: center;
}

.template--blog .footer {
  margin: 0;
}

.template-blog .main-content {
  padding-top: 0;
}

.blog--filter--body .blog--filter--select {
  padding: 0 32px 0 16px;
}
