/* Shopify Captcha
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.shopify-challenge__container {
  padding-top: 32px;

  @include desktop {
    padding-top: 72px;
  }
}
