/*  4.9 - Cart
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cart--root {
  padding: 96px 48px;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .cart--root[data-view="desktop"] {
    display: none;
  }
}

.cart--root[data-view="mobile"] {
  padding: 32px 16px;
}

@media only screen and (min-width: 768px) {
  .cart--root[data-view="mobile"] {
    display: none;
  }
}

.off-canvas--right-sidebar .cart--root {
  display: block !important;
}

.cart--header {
  padding-bottom: 32px;
  text-align: center;
}

.cart--root[data-has-items="false"] .cart--form {
  display: none;
}

.cart--body {
  display: table;
  width: 100%;
  table-layout: auto;
}

.cart--root[data-view="mobile"] .cart--body {
  border-top: 1px solid var(--color-border);
}

.cart--headings {
  display: table-row;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}

.cart--root[data-view="mobile"] .cart--headings {
  display: none;
}

.cart--headings > * {
  display: table-cell;
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
}

.cart--heading--total {
  text-align: right;
}

.cart--item {
  width: 100%;
  display: table-row;
}

.cart--root[data-view="mobile"] .cart--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--color-border);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 16px 0;
}

.cart--item > * {
  display: table-cell;
  vertical-align: middle;
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
}

.cart--root[data-view="mobile"] .cart--item > * {
  padding: 0;
  display: block;
  border: 0;
}

.cart--item--image {
  max-width: 150px;
}

.cart--root[data-view="mobile"] .cart--item--image {
  width: 35%;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 0;
}

.cart--root[data-view="mobile"] .cart--item--info {
  padding-left: 16px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  max-width: 65%;
}

.cart--root[data-view="mobile"] .cart--item--info > *:not(:last-child) {
  padding-bottom: 8px;
  text-align: left;
}

.cart--item--title > *:not(:last-child) {
  padding-bottom: 16px;
}

.cart--root[data-view="mobile"] .cart--item--title {
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
}

.cart--root[data-view="mobile"] .cart--item--title > *:not(:last-child) {
  padding-bottom: 8px;
}

.cart--item--price {
  text-align: center;
}

.cart--root[data-view="mobile"] .cart--item--price {
  text-align: left;
}

.cart--item--quantity {
  text-align: center;
}

.cart--root[data-view="mobile"] .cart--item--quantity {
  text-align: left;
}

.cart--quantity--input {
  padding: 0 9px;
  margin: 0;
  text-align: center;
}

.cart--quantity--input[data-loading="true"],
.cart--quantity--input[data-loading="true"]:focus {
  color: var(--color-border);
}

.cart--quantity--container {
  margin: 0;
}

.cart--item--remove {
  padding-top: 8px;
}

.cart--item--remove > * {
  font-size: 12px;
}

.cart--item--total {
  text-align: right;
}

.cart--root[data-view="mobile"] .cart--item--total {
  text-align: left;
}

.cart--footer {
  padding: 72px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart--root[data-view="mobile"] .cart--footer {
  padding: 32px 0 0;
  display: block;
}

.cart--notes {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 400px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.cart--root[data-view="mobile"] .cart--notes {
  text-align: center;
  max-width: 100%;
  padding-bottom: 32px;
}

.cart--notes--textarea {
  height: 120px;
  margin: 0;
}

.cart--root[data-view="mobile"] .cart--notes--textarea {
  height: 80px;
}

.cart--totals {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.cart--root[data-view="mobile"] .cart--totals {
  text-align: center;
}

.cart--totals > *:not(:last-child) {
  padding-bottom: 16px;
}

.cart--sub-total > *:not(:last-child) {
  padding-bottom: 8px;
}

.cart--discounts > *:not(:last-child) {
  padding-bottom: 8px;
}

.cart--total > *:not(:last-child) {
  padding-bottom: 8px;
}

.cart--total--price {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .cart--total--price {
    font-size: 16px;
  }
}

.cart--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart--root[data-view="mobile"] .cart--nav {
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cart--root[data-view="mobile"] .cart--checkout-button {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  outline: none;
}

.cart--root[data-view="mobile"] .cart--checkout-button:hover {
  background-color: #000;
  color: #fff;
}

.cart--continue-shopping {
  margin-right: 16px;
}

.cart--root[data-view="mobile"] .cart--continue-shopping {
  margin-right: 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 16px;
  width: 100%;
}

.cart--no-items {
  text-align: center;
}

.cart--root[data-has-items="true"] .cart--no-items {
  display: none;
}

.cart--additional-buttons {
  max-width: 300px;
  margin-left: auto;
}

.cart--root[data-view="mobile"] .cart--additional-buttons {
  max-width: unset;
}

.template-cart .main-content {
  padding: 0;
}

.fw--icon.fw--icon--plus,
.fw--icon.fw--icon--minus {
  width: 7px;
  vertical-align: middle;
}

/* Cart
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cart .number-wrapper .number.cart--external--total-items {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  display: block;
  position: absolute;
  left: 25px;
  top: 4px;
  height: 20px;
  width: 20px;
}

.cart a.header--cart-link.font--accent {
  position: relative;
  padding: 0px;
  margin-top: 0px;
}

.weglot-container.wg-default,
.wg-default,
.wg-default .country-selector {
  left: 48px !important;
  right: auto !important;
}
@media only screen and (max-width: 500px) {
  .weglot-container.wg-default,
  .wg-default,
  .wg-default .country-selector {
    left: 34px !important;
  }
}
.custom-product-details {
  display: table;
  float: left;
  width: 100%;
  .product--title {
    padding-bottom: 12px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
  }
  .product--price-wrapper {
    text-align: left;
  }
}
.custom-btn-add {
  display: block;
  float: left;
  clear: both;
  margin-top: 10px;
  button#add {
    height: 28px;
    line-height: 26px;
    font-size: 10.52026px;
  }
}

@media only screen and (max-width: 768px) {
  .custom-btn-add {
    float: left;
    width: 100%;
    button#add {
      float: left;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .cart .number-wrapper .number.cart--external--total-items {
    padding-left: 2px;
  }
}

.iwishShareContainer {
  display: none;
}

.iwishWrapper {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin: 0 auto;
}

.iwishMsg {
  text-align: center;
}

.iWishAdd {
  text-transform: uppercase;
}

.iwishTitle {
  text-align: center;
  color: #03555c;
  h1 {
    font-weight: 100;
  }
}

.tag-filter {
  padding-top: 0px !important;
  > div {
    label {
      display: none;
    }
    #sort-by {
      border: none;
      outline: none;
      line-height: 33px;
      height: 33px;
    }
  }
}

.card__footer-secondary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.meganav-search .card__footer-secondary,
.meganav-search__recommended-products .card__footer-secondary {
  -ms-flex-direction: column;
  flex-direction: column;
}
.iwishProducts {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.card__footer-secondary {
  display: table;
  width: 100%;
}
.card__title-price-container,
.card__title.subtitle-1 {
  float: left;
  width: 50%;
}
.card__title.subtitle-1 {
  width: 100%;
}
.product-price.money {
  display: block;
  float: left;
  width: 100%;
}
.card__cta-holder {
  float: right;
  width: 50%;
}

.card__cta-holder > div {
  float: right;
}

.card__footer {
  margin-top: 20px;
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded {
  border-radius: 0px;
}

.main-content
  [data-bv-show="rating_summary"]
  .bv_main_container
  .bv_button_buttonMinimalist,
#shopify-section-product
  .product-page--main-content
  .bv_avgRating_component_container.notranslate {
  display: none !important;
}

input[type="submit"].iwishBuyBtn {
  background-color: #03555c;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 0px;
  padding: 0px 26px;
  line-height: 28px;
  font-size: 10.52026px;
  width: 150px;
}
.iwish__button--remove {
  text-transform: uppercase;
  color: red !important;
}
.iwishMsgSuccess,
.iwishMsgError {
  max-width: 1000px;
  margin: 0 auto !important;
  margin-bottom: 15px !important;
}
.iWishLoginNote a {
  text-decoration: underline;
}
