/* Checkout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.template-cart {
  .main-content {
    background-color: #f8f7f3;

    .cart--root {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 1400px;

      .cart--no-items {
        text-align: left;
      }
    }

    .cart--header {
      text-align: left;

      h1 {
        color: #03555c;
        font-weight: 400;
      }
    }
    .cart--item > *,
    .cart--headings,
    .cart--headings > * {
      border-bottom: none;
    }
    .cart--form {
      display: table;
      width: 100%;
      .cart--footer {
        float: right;
        display: block;
        width: 480px;
        background-color: #fff;
        .cart--notes {
          display: none;
        }
        .cart--totals {
          margin: 0 auto;
          display: table;
        }
        .cart--total {
          text-align: center;
        }
        .cart--tax-info {
          text-align: center;
        }
        .cart--nav {
          margin: 0 auto;
          display: table;
          width: 100%;
          .cart--continue-shopping {
            float: left;
            margin-top: 10px;
          }
        }
        .cart--checkout-button {
          background-color: transparent;
          color: #000;
          outline: none;
          border: 1px solid #000;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
    .cart--body {
      width: 50%;
      float: left;
      .cart--item--image {
        padding: 0px;
      }
      .cart--item--title {
        width: 100%;
      }
    }
    .cart--head {
      display: table;
      float: left;
      width: 100%;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      .cart--item--image {
        float: left;
        max-width: 200px;
      }
      .cart--item--title {
        float: left;
        width: auto;
        padding-left: 10px;
        a {
          font-size: 16px;
          line-height: 6px;
        }
      }
      .cart--foot {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-top: 20px;
        .cart--item--price {
          float: left;
          .cart--heading--price {
            display: none;
          }
        }
        .cart--item--quantity {
          float: right;
          .cart--heading--quantity {
            display: none;
          }
          .cart--quantity--container {
            background-color: transparent;
            border: none;
            .cart--quantity--input {
              background-color: transparent;
              border: none;
              outline: none;
            }
          }
          .input--number .minus,
          .input--number .plus {
            background-color: transparent;
          }
        }
        .cart--item--remove {
          float: left;
          clear: both;
          a {
            color: red;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .template-cart .main-content .cart--root {
    padding-left: 15px;
    padding-right: 15px;
    .cart--form {
      .cart--footer {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .template-cart .main-content .cart--body {
    width: 100%;
  }
}
