/*  4.2 -  Collections List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.template-list-collections .font--section-heading {
  padding-bottom: 20px;
}

.template-list-collections .collections-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.template-list-collections .collection-item {
  max-width: 100%;
  margin: 1.25em 0;
  text-align: center;
}

.template-list-collections .collection-item:hover .caption {
  opacity: 1;
}

.template-list-collections .collection-item .image-wrapper {
  max-width: 100%;
  width: 100%;
}

.template-list-collections .collection-item .image-wrapper.placeholder {
  width: 100%;
}

.template-list-collections .collection-item .image-wrapper img {
  max-width: 100%;
}

.template-list-collections .pagination {
  float: right;
}

.template-list-collections .image-wrapper {
  display: inline-block;
}

.template-list-collections .caption {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .template-list-collections .caption {
    -webkit-transition: 0.4s opacity ease-in-out;
    transition: 0.4s opacity ease-in-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.template-list-collections .caption .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-page-bg);
  opacity: 0.9;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .template-list-collections .caption .bg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .template-list-collections .caption .inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    text-align: center;
  }
}

.template-list-collections .caption .font--block-heading {
  position: relative;
  z-index: 1;
  padding: 0 0 10px 0;
}
