/*  4.8 - Comments
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.comments--root {
  max-width: 600px;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .comments--root {
    padding: 0;
  }
}

.comments--root > * {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .comments--root > * {
    padding-bottom: 16px;
  }
}

.comments--list {
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .comments--list {
    max-width: 525px;
    padding-bottom: 32px;
  }
}

.comment--item {
  padding: 16px 0 0;
}

@media only screen and (min-width: 768px) {
  .comment--item {
    padding-top: 16px;
  }
}

.comment--item:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

@media only screen and (min-width: 768px) {
  .comment--item:before {
    margin-bottom: 16px;
  }
}

.comment--item:first-of-type {
  padding-top: 0;
}

.comment--item:first-of-type:before {
  display: none;
}

.comment--item p {
  margin: 0;
}

.comment--content {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .comment--content {
    padding: 0 0 0 32px;
  }
}

.comment--meta {
  padding: 0 0 8px;
}

@media only screen and (min-width: 768px) {
  .comment--meta {
    padding-bottom: 16px;
  }
}

.comments--none {
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .comments--none {
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .comments--form:before {
    content: "";
    display: block;
    margin-bottom: 32px;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
  }
}

.comments--form > * {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .comments--form > * {
    padding-bottom: 16px;
  }
}

.comments--form:last-child {
  padding-bottom: 0;
}

.comments--form input {
  margin: 0;
  outline: 0;
}

.comments--form label {
  position: absolute;
  margin: 0;
  top: 9px;
  padding-left: 16px;
  opacity: 0;
}

.comments--form textarea {
  margin: 0;
  outline: 0;
}

.comments--form ::-webkit-input-placeholder {
  opacity: 0.7;
}

.comments--form ::-moz-placeholder {
  opacity: 0.7;
}

.comments--form ::-ms-input-placeholder {
  opacity: 0.7;
}

.comments--form ::placeholder {
  opacity: 0.7;
}

.comments--form .font--button {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .comments--form .font--button {
    width: 50%;
  }
}

.comments--form .success {
  text-align: center;
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .comments--form .success {
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .comments--form-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
}

.comments--form-name {
  padding: 0 0 8px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .comments--form-name {
    width: 50%;
    padding: 0 8px 16px 0;
  }
}

.comments--form-email {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .comments--form-email {
    width: 50%;
    padding: 0 0 16px 8px;
  }
}

.comments--form-input {
  position: relative;
}

.comments--form-input textarea,
.comments--form-input textarea::-webkit-input-placeholder {
  text-transform: none;
}

.comments--form-input textarea,
.comments--form-input textarea::-moz-placeholder {
  text-transform: none;
}

.comments--form-input textarea,
.comments--form-input textarea::-ms-input-placeholder {
  text-transform: none;
}

.comments--form-input textarea,
.comments--form-input textarea::placeholder {
  text-transform: none;
}

.comments--form-moderated {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .comments--form-moderated {
    text-align: left;
  }
}

.comments--form-error {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 768px) {
  .comments--form-error {
    text-align: left;
  }
}

.comments--form-heading {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .comments--form-heading {
    padding-bottom: 16px;
  }
}

.comments--pagination {
  text-align: right;
}

.comments--pagination .prev {
  padding-right: 10px;
}

.comments--pagination .prev a {
  height: 19px;
}

.comments--pagination .prev a > svg {
  display: inline-block;
  vertical-align: middle;
}

.comments--pagination .next {
  padding-left: 10px;
}

.comments--pagination .next a {
  height: 19px;
}

.comments--pagination .next a > svg {
  display: inline-block;
  vertical-align: middle;
}

.comments--pagination .page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
}

.comments--pagination .page a {
  width: 25px;
  text-align: center;
}
