/*  4.10 - Customer Pages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.page--account .layout--main-content,
.page--create-account .layout--main-content,
.page-create-account .main-content,
.page--reset-account .layout--main-content,
.page-reset-account .main-content {
  padding: 0;
}

.page-account .customer--root,
.page--account .customer--root,
.page-addresses .customer--root,
.page--addresses .customer--root,
.page-create-account .customer--root,
.page--create-account .customer--root,
.page-reset-account .customer--root,
.page--reset-account .customer--root,
.template-customersorder .customer--root,
.template--customers--order .customer--root {
  max-width: 700px;
  margin: 0 auto;
  padding: 72px 48px;
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
  .page-account .customer--root,
  .page--account .customer--root,
  .page-addresses .customer--root,
  .page--addresses .customer--root,
  .page-create-account .customer--root,
  .page--create-account .customer--root,
  .page-reset-account .customer--root,
  .page--reset-account .customer--root,
  .template-customersorder .customer--root,
  .template--customers--order .customer--root {
    padding: 16px;
    padding: 32px 16px;
  }
}

.page-account .customer--root h1,
.page--account .customer--root h1,
.page-addresses .customer--root h1,
.page--addresses .customer--root h1,
.page-create-account .customer--root h1,
.page--create-account .customer--root h1,
.page-reset-account .customer--root h1,
.page--reset-account .customer--root h1,
.template-customersorder .customer--root h1,
.template--customers--order .customer--root h1 {
  text-align: center;
  padding-bottom: 32px;
}

.page-account .customer--root h2,
.page--account .customer--root h2,
.page-addresses .customer--root h2,
.page--addresses .customer--root h2,
.page-create-account .customer--root h2,
.page--create-account .customer--root h2,
.page-reset-account .customer--root h2,
.page--reset-account .customer--root h2,
.template-customersorder .customer--root h2,
.template--customers--order .customer--root h2 {
  padding-bottom: 16px;
}

.page-account .customer--root h4,
.page--account .customer--root h4,
.page-addresses .customer--root h4,
.page--addresses .customer--root h4,
.page-create-account .customer--root h4,
.page--create-account .customer--root h4,
.page-reset-account .customer--root h4,
.page--reset-account .customer--root h4,
.template-customersorder .customer--root h4,
.template--customers--order .customer--root h4 {
  padding-bottom: 16px;
}

.page-account .customer--root thead th,
.page-account .customer--root tbody td,
.page--account .customer--root thead th,
.page--account .customer--root tbody td,
.page-addresses .customer--root thead th,
.page-addresses .customer--root tbody td,
.page--addresses .customer--root thead th,
.page--addresses .customer--root tbody td,
.page-create-account .customer--root thead th,
.page-create-account .customer--root tbody td,
.page--create-account .customer--root thead th,
.page--create-account .customer--root tbody td,
.page-reset-account .customer--root thead th,
.page-reset-account .customer--root tbody td,
.page--reset-account .customer--root thead th,
.page--reset-account .customer--root tbody td,
.template-customersorder .customer--root thead th,
.template-customersorder .customer--root tbody td,
.template--customers--order .customer--root thead th,
.template--customers--order .customer--root tbody td {
  padding: 16px;
}

.page-account .customer--root .errors a,
.page--account .customer--root .errors a,
.page-addresses .customer--root .errors a,
.page--addresses .customer--root .errors a,
.page-create-account .customer--root .errors a,
.page--create-account .customer--root .errors a,
.page-reset-account .customer--root .errors a,
.page--reset-account .customer--root .errors a,
.template-customersorder .customer--root .errors a,
.template--customers--order .customer--root .errors a {
  text-decoration: underline;
}

.template--customers--order .customer--root,
.template-customersorder .customer--root {
  max-width: 1000px;
}

.address--email {
  padding-bottom: 16px;
}

.address--full {
  padding-bottom: 32px;
}

.address--view {
  padding-bottom: 32px;
}

.address--view p {
  margin: 0;
}

.address--view p:last-of-type {
  padding-bottom: 16px;
}

.address--actions-edit {
  padding-right: 8px;
}

.order--table,
.account--orders-table {
  margin: 0 auto;
  width: 100%;
}

.order--table thead th,
.account--orders-table thead th {
  border-bottom: solid 1px #eaeaea;
  font-weight: normal;
}

.order--table td a,
.account--orders-table td a {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .order--table tbody tr,
  .account--orders-table tbody tr {
    padding: 0;
  }
  .order--table td:empty,
  .account--orders-table td:empty {
    display: none;
  }
}

.order--heading--total {
  min-width: 150px;
}

@media only screen and (min-width: 768px) {
  .order--heading--total {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .order--item--quantity {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .order--discount {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .order--item--price {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .order--item--total {
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .order--discount {
    text-align: right;
  }
}

.address--actions {
  padding-bottom: 16px;
  margin: 0;
}

.address--edit {
  padding-bottom: 32px;
}

.address--customer-table {
  border: 0;
  margin: 16px auto;
}

.address--customer-table label,
.address--customer-table input,
.address--customer-table select {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .address--customer-table input,
  .address--customer-table select {
    font-size: 16px;
  }
  .address--customer-table tr td:first-child {
    padding: 16px 0;
  }
  .address--customer-table tr td:last-child {
    padding-right: 0;
  }
}

.address--button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.address--button-container .font--button {
  margin: 0;
}

.address--button-container span {
  margin-left: 12px;
}

.customer--root tbody td.address--checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
}

.customer--root tbody td.address--checkbox-container input[type="checkbox"] {
  margin: 0 8px 0 0;
}

.account--reset {
  display: none;
  text-align: center;
  margin-bottom: 32px;
  padding: 8px;
  background-color: #e6f9ee;
  color: #01c753;
  border: 1px solid #01c753;
  border-radius: 2px;
}

.account--button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .account--button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.account--button-container input {
  margin-bottom: 0;
}

.activate-account--create-password {
  padding-bottom: 16px;
}

.activate-account--button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .activate-account--button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.activate-account--button-container input {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .activate-account--button-container input {
    width: 100%;
  }
}

.activate-account--button-container a {
  margin-left: 16px;
}

@media only screen and (max-width: 767px) {
  .activate-account--button-container a {
    padding: 16px;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .account--orders-table tbody {
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .account--orders-table tbody {
    text-align: center;
  }
}

.account--breadcrumb-container {
  text-align: center;
}

.account--breadcrumb-container .fw--breadcrumbs {
  padding: 0 0 32px;
}

.account--reset-instructions,
.account--forgot-password {
  padding-bottom: 32px;
}

.account--cancel {
  padding-left: 16px;
}

.account--submit {
  margin-bottom: 0;
  width: auto;
}

.account--password-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.account--password-buttons input {
  margin: 0;
}

input[type="submit"].account--sign-in {
  width: 100%;
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  input[type="submit"].account--sign-in {
    width: auto;
  }
}

a.account--register {
  margin: 8px 0 0;
  width: 100%;
  text-align: center;
  height: auto;
}

@media only screen and (min-width: 768px) {
  a.account--register {
    margin: 0 0 0 16px;
    width: auto;
  }
}

input[type="submit"].account--create {
  width: 100%;
  text-align: center;
  margin: 0;
  height: auto;
}

@media only screen and (min-width: 768px) {
  input[type="submit"].account--create {
    width: auto;
  }
}

a.account--login {
  margin: 8px 0 0;
  width: 100%;
  text-align: center;
  height: auto;
}

@media only screen and (min-width: 768px) {
  a.account--login {
    margin: 0 0 0 16px;
    width: auto;
  }
}

body.template--customers--register input[type="password"] {
  margin-bottom: 32px;
}

.account--orders {
  padding-bottom: 32px;
}

.account--orders h4 {
  padding-bottom: 32px;
}

@media only screen and (max-width: 767px) {
  .account--orders {
    padding-bottom: 16px;
  }
  .account--orders h4 {
    padding-bottom: 16px;
  }
}

.customer--login input:not(.font--button),
.customer--register input:not(.font--button),
.page-create-account input:not(.font--button),
.account--recover-password input:not(.font--button),
.account--reset-password input:not(.font--button) {
  margin-bottom: 16px;
}
