/*  4.5 - Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.template-page .main-content {
  padding: 72px 48px;
}

@media only screen and (max-width: 767px) {
  .template-page .main-content {
    padding: 32px 16px;
  }
}

.template-page .main-content .row {
  max-width: 1000px;
  margin: 0;
}

.template-page .main-content .row.full-width {
  max-width: none;
}

.template-page .main-content .row.single-column {
  max-width: 700px;
}

.template-page .main-content .row.center {
  margin: 0 auto;
}

.template-page .main-content .left-side-column,
.template-page .main-content .right-side-column {
  position: relative;
  float: left;
}

@media only screen and (min-width: 768px) {
  .template-page .main-content .left-side-column,
  .template-page .main-content .right-side-column {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .template-page .main-content .left-side-column.with-2-sidebars,
  .template-page .main-content .right-side-column.with-2-sidebars {
    width: 25%;
  }
}

.template-page .main-content .left-side-column {
  padding-right: 30px;
}

.template-page .main-content .right-side-column {
  padding-left: 30px;
}

.template-page .main-content .main-column {
  position: relative;
  float: left;
}

@media only screen and (min-width: 768px) {
  .template-page .main-content .main-column {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .template-page .main-content .main-column.with-2-sidebars {
    width: 50%;
  }
}

.template-page .main-content .contact-form input[type="text"],
.template-page .main-content .contact-form input[type="email"],
.template-page .main-content .contact-form input[type="tel"] {
  max-width: 300px;
  margin-bottom: 16px;
}

.template-page .main-content .contact-form textarea {
  max-width: 300px;
  height: 100px;
  margin-bottom: 16px;
}

.contact-page--submit-button input {
  width: 100%;
  max-width: 300px;
}
