/*  4.11 - Password
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.template--password,
.template-password {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--color--alternative) !important;
}

.template--password .layout--main-content,
.template-password .layout--main-content {
  padding: 0;
}

.template--password .layout--main-content + .shopify-section,
.template-password .layout--main-content + .shopify-section {
  display: none;
}

.template--password.show-border .off-canvas--main-content,
.template-password.show-border .off-canvas--main-content {
  border: none;
}

.template--password a,
.template--password label,
.template-password a,
.template-password label {
  color: var(--color--alternative);
}

.template--password .layout--header,
.template--password .layout--footer,
.template--password .feedback-bar,
.template--password header.header--root,
.template--password .shopify-section.section--header,
.template--password .shopify-section.section--footer,
.template-password .layout--header,
.template-password .layout--footer,
.template-password .feedback-bar,
.template-password header.header--root,
.template-password .shopify-section.section--header,
.template-password .shopify-section.section--footer {
  display: none;
}

.password--root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .password--root {
    padding: 0 48px;
  }
}

.password--background-image {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
}

.password--background-image .image--root,
.password--background-image .image--container {
  height: 100vh;
}

.password--background-image img {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
}

.password--root[data-password--logo-height="30"] .password--logo .image--root {
  height: 30px;
}

.password--root[data-password--logo-height="50"] .password--logo .image--root {
  height: 50px;
}

.password--root[data-password--logo-height="70"] .password--logo .image--root {
  height: 70px;
}

.password--root[data-password--logo-height="90"] .password--logo .image--root {
  height: 90px;
}

.password--root[data-password--logo-height="110"] .password--logo .image--root {
  height: 110px;
}

.password--root[data-password--logo-height="130"] .password--logo .image--root {
  height: 130px;
}

.password--root[data-password--logo-height="150"] .password--logo .image--root {
  height: 150px;
}

.password--root[data-password--logo-height="170"] .password--logo .image--root {
  height: 170px;
}

.password--root[data-password--logo-height="190"] .password--logo .image--root {
  height: 190px;
}

.password--root[data-password--logo-height="210"] .password--logo .image--root {
  height: 210px;
}

.password--root[data-password--logo-height="230"] .password--logo .image--root {
  height: 230px;
}

.password--root[data-password--logo-height="250"] .password--logo .image--root {
  height: 250px;
}

.password--logo {
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  .password--logo {
    padding: 72px 0;
  }
}

.password--login {
  z-index: 3;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media only screen and (min-width: 768px) {
  .password--login {
    top: 32px;
    right: 32px;
  }
}

.password--login-form {
  visibility: hidden;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 350px;
  padding: 0 16px;
}

.password--login-form input[type="password"] {
  background-color: transparent;
  color: var(--color--alternative);
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .password--login-form input[type="password"] {
    margin-bottom: 16px;
  }
}

.errors ul {
  margin-bottom: 0;
}

.errors li {
  margin: 0;
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .errors li {
    padding-bottom: 16px;
  }
}

.password--button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.password--button-container .font--button--inverted {
  margin: 0;
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .password--button-container .font--button--inverted {
    margin-right: 16px;
  }
}

.password--main {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
}

.password--main a .font--section-heading {
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  .password--main a .font--section-heading {
    padding: 72px 0;
  }
}

.password--main a + .font--section-heading {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .password--main a + .font--section-heading {
    padding-bottom: 16px;
  }
}

.password--main .font--section-heading + .font--paragraph {
  padding-bottom: 32px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .password--main .font--section-heading + .font--paragraph {
    padding-bottom: 72px;
  }
}

.password--main .font--block-heading {
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .password--main .font--block-heading {
    padding-bottom: 32px;
  }
}

.password--main .font--block-heading p {
  margin: 0;
}

.password--mailing-list {
  padding-bottom: 96px;
  max-width: 300px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .password--mailing-list {
    max-width: 380px;
  }
}

.password--mailing-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .password--mailing-list form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.password--mailing-list .mailing-list--seperator + .font--button--inverted {
  max-width: 300px;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .password--mailing-list .mailing-list--seperator + .font--button--inverted {
    width: auto;
    margin-left: 16px;
  }
}

.password--mailing-list input[type="email"] {
  background-color: transparent;
  color: var(--color--alternative);
  border: none;
  border-bottom: 1px solid var(--color--alternative);
  margin-bottom: 8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .password--mailing-list input[type="email"] {
    padding-left: 0;
    margin: 0;
    width: 260px;
    text-align: left;
  }
}

.password--mailing-list input[type="email"]::-webkit-input-placeholder {
  text-transform: none;
  color: var(--color--alternative);
}

.password--mailing-list input[type="email"]:-moz-placeholder {
  text-transform: none;
  color: var(--color--alternative);
}

.password--mailing-list input[type="email"]::-moz-placeholder {
  text-transform: none;
  color: var(--color--alternative);
}

.password--mailing-list input[type="email"]:-ms-input-placeholder {
  text-transform: none;
  color: var(--color--alternative);
}

.password--mailing-list .success,
.password--mailing-list .error {
  font-style: italic;
  margin: 0;
  padding-top: 16px;
}

@media only screen and (min-width: 768px) {
  .password--mailing-list .success,
  .password--mailing-list .error {
    padding-top: 0;
  }
}

.password--mailing-list .error {
  color: var(--color-error);
}

.password--powered-by {
  text-align: center;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .password--powered-by {
    padding-bottom: 72px;
  }
}

.password--errors ul,
.password--errors li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.password--errors li {
  padding-bottom: 16px;
}

.lock-svg {
  width: 12.8px;
  height: 12.8px;
  display: inline-block;
  vertical-align: baseline;
}

.shopify-logo-svg {
  width: 82.28571px;
  height: 24px;
  display: inline-block;
  line-height: 0;
  vertical-align: top;
}

.shopify-logo-svg,
.lock-svg {
  color: var(--color--alternative);
}

.shopify-logo-svg path,
.lock-svg path {
  fill: currentColor;
}

.shopify-name {
  display: none;
}

.template-password .main-content {
  padding: 0;
}

.template-password .font--button--inverted {
  width: auto;
}

.template-password .font--block-link a:after {
  border-bottom-color: white;
}
