/*  4.4 - Product
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.size-chart {
  display: none;
}

.product-low-in-stock p {
  font-weight: var(--font--bolder-paragraph--weight);
}

.template-product .popup-modal.size-chart-container {
  color: var(--color-text);
  width: 760px;
}

.template-product .popup-modal.size-chart-container .size-chart {
  display: block;
  width: 100%;
  overflow: auto;
  background: var(--color-page-bg);
  padding: 4em 2em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .template-product .popup-modal.size-chart-container .size-chart {
    overflow: initial;
  }
}

@media only screen and (min-width: 768px) {
  .template-product .main-content .row {
    margin: 0 -16px;
    width: calc(100% + 32px);
  }
}

html.no-cssgrid .template-product .border-decoration {
  display: none !important;
}

.template-product .price--container {
  margin: 0;
  padding-bottom: 32px;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .template-product .price--container {
    font-size: 16px;
    padding-bottom: 16px;
  }
}

.template-product header .breadcrumbs {
  padding-bottom: 10px;
}

.template-product header .previous-next [class*="fw--icon--arrow"] {
  font-size: 80%;
}

.template-product header .previous-next .fw--icon--arrow-right {
  margin-left: 5px;
}

.template-product header .previous-next .fw--icon--arrow-left {
  margin-right: 5px;
}

.template-product header .previous-next .columns {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .template-product header .previous-next .columns {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 1px;
  }
}

.template-product article {
  padding-top: 30px;
  padding-bottom: 100px;
}

@media only screen and (min-width: 768px) {
  .template-product article .left-column {
    width: 50%;
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .template-product article .left-column {
    width: 25%;
    display: block;
  }
}

.template-product article .right-column {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .template-product article .right-column {
    display: block;
  }
}

.template-product article .variants.hidden {
  display: none;
}

.template-product article .variants .selector-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.template-product article .variants .selector-wrapper select {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.template-product article .variants .selector-wrapper .size-chart-trigger {
  margin-left: 16px;
}

.template-product article .variants label {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.template-product article .price--container .actual-price {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .template-product article .price--container .actual-price {
    font-size: 16px;
  }
}

.template-product article .price--container .compare-price {
  text-decoration: line-through;
}

.template-product article .quanity-cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 12px;
}

.template-product article .quanity-cart-row[data-smart-payment-button="true"] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.template-product
  article
  .quanity-cart-row[data-smart-payment-button="true"]
  .quantity {
  padding-bottom: 15px;
}

.template-product article .quanity-cart-row .add-to-cart {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.template-product article .quanity-cart-row .add-to-cart button.add {
  width: 100%;
  border: 2px solid var(--color-button-bg);
  position: relative;
}

.template-product article .quanity-cart-row .add-to-cart button.add:focus {
  background: var(--color-button);
  color: var(--color-button-bg);
}

.template-product
  article
  .quanity-cart-row
  .add-to-cart
  button.add[data-loading="true"]
  .fw--loading_animation {
  display: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
}

.template-product
  article
  .quanity-cart-row
  .add-to-cart
  button.add[data-loading="true"]
  .text {
  visibility: hidden;
}

.template-product article .quanity-cart-row .quantity {
  margin-right: 22px;
  max-width: 60px;
}

.template-product article .quanity-cart-row .quantity input {
  margin: 0;
}

.template-product article .add-to-cart .sold-out {
  display: none;
  padding: 24px 0 0 0;
  float: left;
  color: var(--color-error);
  max-width: 180px;
}

.template-product article .add-to-cart .sold-out.long {
  padding-top: 21px;
}

.template-product article .add-to-cart.disabled .purchase {
  display: none;
}

.template-product article .add-to-cart.disabled .sold-out {
  display: block;
}

.template-product article .product-unavailable {
  max-width: 250px;
  display: none;
}

.template-product article .product-unavailable input[type="email"] {
  float: left;
  width: 180px;
}

.template-product article .product-unavailable .button {
  float: left;
  margin-left: 5px;
  width: auto;
  padding: 0 10px;
}

.template-product article .description.show-for-medium-down {
  padding-top: 30px;
}

.template-product .social-share {
  text-align: center;
  background: var(--color-panel-bg);
  padding: 50px 0;
}

.template-product .social-share .title {
  margin-bottom: 30px;
}

.template-product .similar-products {
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.template-product .similar-products h2.title {
  margin-bottom: 30px;
}

.template-product .similar-products .product-item {
  margin-bottom: 0;
}

.product-page--main-content {
  display: grid;
  grid-template-columns: minmax(100%, 100%);
  grid-template-rows: auto auto 1fr;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .product-page--main-content {
    grid-template-columns: minmax(40%, 40%) minmax(60%, 60%);
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--main-content {
    grid-template-columns: minmax(50%, 50%) minmax(50%, 50%);
  }
}

html.no-cssgrid .product-page--main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-page--title-n-vendor {
  padding: 0 16px;
}

.product-page--title-n-vendor > * {
  padding-bottom: 16px;
}

.product-page--cart-form-block {
  grid-row: 2;
  padding: 0 16px 16px;
}

@media only screen and (max-width: 767px) {
  .product-page--cart-form-block {
    grid-row: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--root[data-cart-form-position="right"]
    .product-page--cart-form-block {
    grid-row: 1 / span 3;
    grid-column: 3;
  }
}

@media only screen and (min-width: 768px) {
  .product-page--cart-form form {
    max-width: 250px;
  }
}

.font--button.product-page--smart-payment-buttons {
  padding-bottom: 12px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  height: inherit;
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__more-options {
  text-decoration: underline;
}

.font--button.product-page--smart-payment-buttons:hover {
  background-color: rgba(255, 255, 255, 0);
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded {
  background: var(--color-button-bg);
  color: var(--color-button);
  font-family: var(--font--accent--family);
  font-weight: var(--font--accent--weight);
  font-style: var(--font--accent--style);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .font--button.product-page--smart-payment-buttons
    .shopify-payment-button__button--unbranded {
    font-size: 13px;
  }
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded:link,
.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded:visited,
.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded:hover,
.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded:focus {
  color: var(--color-button);
  background: var(--color-button-bg);
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--unbranded[disabled="disabled"] {
  display: none;
}

.font--button.product-page--smart-payment-buttons
  .shopify-payment-button__button--hidden {
  display: none;
}

.product-page--thumbs {
  grid-row: 3;
}

@media only screen and (max-width: 767px) {
  .product-page--thumbs {
    grid-row: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--thumbs {
    grid-row: 3;
    grid-column: 1;
  }
}

@media only screen and (max-width: 767px) {
  .product-page--thumbs[data-position="cart-form-column"] {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .product-page--thumbs[data-position="cart-form-column"] {
    display: none;
  }
}

html.no-cssgrid .product-page--thumbs[data-position="cart-form-column"] {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .product-page--thumbs[data-position="image-column"] {
    display: none;
  }
}

html.no-cssgrid .product-page--thumbs[data-position="image-column"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page--thumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .product-page--thumbs-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.product-page--thumb {
  padding: 8px;
  cursor: pointer;
  text-align: left;
  max-width: 32%;
  width: 100px;
  outline: none;
}

.product-page--thumb[data-active="true"] img {
  outline: 1px solid var(--color-border);
}

@media only screen and (min-width: 768px) {
  .product-page--thumb {
    max-width: none;
  }
}

.product-page--images {
  padding: 0 16px;
  text-align: center;
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .product-page--images {
    grid-row: 2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .product-page--images {
    grid-row: 1 / span 4;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--images {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}

.product-page--images .modal--link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@media only screen and (max-width: 767px) {
  .product-page--images .modal--link {
    cursor: default;
  }
}

.product-page--images-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
}

.product-page--root[data-zoom-enabled="true"]
  .product-page--images-container:hover {
  background: var(--color-page-bg);
  border: 1px solid var(--color-border);
}

@media only screen and (max-width: 767px) {
  .product-page--root[data-zoom-enabled="true"]
    .product-page--images-container:hover {
    border: none;
  }
}

.product-page--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-page--image[data-active="false"] {
  display: none;
}

.product-page--image img {
  -ms-flex-item-align: center;
  align-self: center;
}

.product-page--zoom-image {
  position: absolute;
  background: var(--color-page-bg);
}

@media only screen and (max-width: 767px) {
  .product-page--zoom-image {
    display: none !important;
  }
}

.product-page--description {
  padding: 0 16px;
}

@media only screen and (max-width: 767px) {
  .product-page--description {
    padding-top: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .product-page--description {
    grid-column: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--description {
    grid-row: span 3;
    grid-column: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--root[data-cart-form-position="right"]
    .product-page--description {
    grid-row: 2;
    grid-column: 1;
  }
}

@media only screen and (min-width: 768px) {
  .product-page--no-grid--left-column {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .product-page--no-grid--right-column {
    width: 60%;
  }
}
