/* Product Details
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.product--details {
  display: table;
  width: 100%;
  .custom-product-details a div.product--title {
    float: left;
  }
  .product--price span {
    font-weight: 400;
  }
  a div.product--price-wrapper {
    float: right;
  }
  .custom-iwish {
    position: absolute;
    top: 26px;
    right: 0px;
    a img {
      width: 20px;
      margin-top: -7px;
    }
    a.iWishAddColl {
      height: 30px;
      width: 20px;
      display: block;
      transition: background-image 0.2s ease;
      -webkit-transition: background-image 0.2s ease;
    }
    a.iWishAddColl:hover {
      background-image: url("https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      img {
        display: none;
      }
    }
    a.iWishAddColl.iwishAdded {
      background-image: url("https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
    }
  }
}

.iwishMsgInfo {
  margin-bottom: 30px;
}

.card__review a.bv_main_container {
  float: left !important;
  margin-top: 10px !important;
  .bv_averageRating_component_container,
  .bv_numReviews_component_container {
    display: none !important;
  }
}
