/* Tabs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.shogun-tabs.shogun-rounded {
  float: left;
  display: table;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 10px !important;
}

.shogun-tabs-body {
  border-top: none !important;
}

.product-page--description {
  padding-left: 0px;
  margin-top: 15px;
}
