<section data-section-id="{{ section.id }}" data-section-type="bv-instsgram-curations">
  {% include 'bazaarvoice-curations' with
    block_title: section.settings.title,
    type: 'general',
  %}
</section>

{% schema %}
  {
    "name": "Instafeed",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Instagram"
      },
      {
        "type": "text",
        "id": "display_tag",
        "label": "Display Tag",
        "default": "test",
        "info": "This is the value provided to us by BazaarVoice."
      }
    ],
    "presets": [
      {
        "name": "Instafeed",
        "category": "Apps"
      }
    ]
  }
{% endschema %}

