{% assign products_per_row = section.settings.collections-products-per-row | to_number %}
{% assign products_per_page =  products_per_row | to_number | times: 10 %}

{% paginate collection.products by products_per_page %}


<div
  class="collection"
  data-section-id="{{ section.id }}"
  data-js-class="Collection"
  data-section-type="collection">

  <header class="row collection--top-row">
    <div class="left columns large-6">
      {% if section.settings.collections-breadcrumbs-show %}
        {% include 'snippet-breadcrumbs' %}
      {% endif %}
    </div>
    <div class="right columns large-6">
      <div class="header-paging">
      	{% include 'snippet-pagination' %}
      </div>
      <div class="tag-filter font--accent">
        <div>
          <label for="sort-by">Sort by</label> 
          <select id="sort-by">
            <option value="manual">Featured</option>
            <option value="price-ascending">Price: Low to High</option>
            <option value="price-descending">Price: High to Low</option>
            <option value="title-ascending">A-Z</option>
            <option value="title-descending">Z-A</option>
            <option value="created-ascending">Oldest to Newest</option>
            <option value="created-descending">Newest to Oldest</option>
            <option value="best-selling">Best Selling</option>
          </select>
        </div>
        <script>
        Shopify.queryParams = {};
        if (location.search.length) {
          for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
            aKeyValue = aCouples[i].split('=');
            if (aKeyValue.length > 1) {
              Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
            }
          }
        }
        jQuery('#sort-by')
          .val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
          .bind('change', function() {
            Shopify.queryParams.sort_by = jQuery(this).val();
            location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
          });
        </script>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="columns">
      <div class="divider"></div>
    </div>
  </div>

  <div class="row">
    {% if section.settings.show-title or collection.description.size > 0 %}
      <div class="collection--header">
        {% if section.settings.show-title %}
          <h1 class="collection--title font--section-heading">{{ collection.title }}</h1>
        {% endif %}

        {% if collection.description.size > 0 %}
          <article class="collection--description font--paragraph">
            {{ collection.description }}
          </article>
        {% endif %}
      </div>
    {% endif %}

    {% if shop.products_count == 0 %}

      {% include 'snippet-default-products' %}

    {% else %}
    
      <section class="row">
        
        <div
          class="product-grid--root collection-list"
          data-items-per-row="{{ section.settings.collections-products-per-row }}"
          data-mobile-items-per-row="{{ section.settings.mobile-items-per-row }}"
          data-js-class="ProductGrid"
        >
          
          {% for product in collection.products %}
            {% include 'partial--product' %}
           
          {% endfor %}
       

        </div>
      </section>

    {% endif %}
  </div>

  <div class="row">
    <div class="columns">
      <div class="divider bottom-margin"></div>
    </div>
  </div>


  <footer class="row collection--bottom-row">
    <div class="left columns large-6">
      {% if section.settings.collections-breadcrumbs-show %}
        {% include 'snippet-breadcrumbs' %}
      {% endif %}
    </div>
    <div class="right columns large-6">
      {% include 'snippet-pagination' %}
    </div>

  </footer>

</div>

{% endpaginate %}

<script>
  theme.collection = {
    title: '{{ collection.title | escape }}',
    url_for_type: '{{ collection.title | url_for_type }}',
    url_for_handle: '{{ collection.title | url_for_vendor }}',
    handle: '{{ collection.handle }}',
    tag: '{{ "tag" | link_to_tag: "tag" }}'
  };

  theme.collection.products = {
    first_type: '{{ collection.products.first.type | escape }}',
    first_vendor: '{{ collection.products.first.vendor | escape }}'
  };
</script>

{% schema %}
{
  "name": "Collection",
  "class": "section--collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "collections-breadcrumbs-show",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collections-tags-show",
      "label": "Show tag filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show-title",
      "label": "Show title",
      "default": false
    },
    {
      "id": "collections-products-per-row",
      "label": "Products per row",
      "type": "radio",
      "options": [
        { "value": "3", "label": "3"},
        { "value": "4", "label": "4"}
      ],
      "default": "4"
    },
    {
      "id": "mobile-items-per-row",
      "label": "Products per row for small devices",
      "type": "radio",
      "options": [
        { "value": "1", "label": "1"},
        { "value": "2", "label": "2"}
      ],
      "default": "2"
    }
  ]
}
{% endschema %}