{% assign products_per_row = section.settings.collections-products-per-row | to_number %}
{% comment %}{% assign products_per_page =  products_per_row | to_number | times: 10 %}{% endcomment %}
{% assign products_per_page =  50 %}
{% paginate collection.products by products_per_page %}
<div class="collection" data-section-id="{{ section.id }}" data-js-class="Collection" data-section-type="collection">
  <header>
    <h1 id="bc-sf-filter-collection-header" class="page-title">{{ collection.title }}</h1>
    {% if section.settings.collections-breadcrumbs-show %}
      {% include 'snippet-breadcrumbs' %}
    {% endif %}
    <div>
      <div class="bc-sf-filter-toolbar-item text-right" id="bc-sf-filter-top-sorting"></div>
    </div>
  </header>

  {% if collection.description.size > 0 %}
  <article id="bc-sf-filter-collection-description" class="description columns">
    {{ collection.description }}
  </article>
  {% endif %}

  <section>
    <div id="bc-sf-filter-default-toolbar">
      <div class="bc-sf-filter-default-toolbar-inner">
        <div class="bc-sf-filter-toolbar-item bc-sf-filter-toolbar-count">
          <span id="bc-sf-filter-total-product"></span>
        </div>
      </div>
    </div>
    <div id="bc-sf-filter-tree-h">
      {% include 'bc-sf-filter-tree-placeholder-h' %}
    </div>
    <div id="bc-sf-filter-tree-mobile">
      {% include 'bc-sf-filter-skeleton', type: 'button' %}
    </div>
    <div id="bc-sf-filter-tree">
      {% include 'bc-sf-filter-tree-placeholder' %}
    </div>

    <div id="bc-sf-filter-products" class="product-grid product-grid--root" data-items-per-row="{{ section.settings.collections-products-per-row }}" data-mobile-items-per-row="{{ section.settings.mobile-items-per-row }}" data-js-class="ProductGrid" data-bc-sort="{{ collection.default_sort_by }}">
      {% for product in collection.products %}
        {% include 'partial--product' %}
      {% endfor %}
    </div>
  </section>

  <footer>
    <div id="bc-sf-filter-load-more"></div>
    {% comment %}
    <div class="left columns large-6">
      {% if section.settings.collections-breadcrumbs-show %}
        {% include 'snippet-breadcrumbs' %}
      {% endif %}
    </div>
    {% endcomment %}
    <div class="right columns large-6">
      <ul id="bc-sf-filter-bottom-pagination" class="pagination"></ul>
    </div>
  </footer>
</div> <!-- .collection -->

{% endpaginate %}

<script>
  theme.collection = {
    title: '{{ collection.title }}',
    url_for_type: '{{ collection.title | url_for_type }}',
    url_for_handle: '{{ collection.title | url_for_vendor }}',
    handle: '{{ collection.handle }}',
    tag: '{{ "tag" | link_to_tag: "tag" }}'
  };

  theme.collection.products = {
    first_type: '{{ collection.products.first.type }}',
    first_vendor: '{{ collection.products.first.vendor }}'
  };
</script>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      toolbar_viewas: "View As",
      sale: {{ 'collections.sale' | t | json }},
      sold_out: {{ 'collections.sold_out_html' | t | json }},
      was_price: {{ 'collections.was' | t | json }},
      from_price: {{ 'collections.from' | t | json }},
      pagination_previous: {{ 'general.pagination.previous' | t | json }},
      pagination_next: {{ 'general.pagination.next' | t | json }},
      items_with_count_before: 'Showing',
      items_with_count_one: "result",
      items_with_count_other: "results",
      addtocart: {% assign temp = 'products.add_to_cart' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "ADD TO BAG" {% endunless %},

    },
    custom: {
      products_per_page: {% if products_per_page %} {{ products_per_page | json }} {% else %} 24 {% endif %},
      products_per_row: {% if products_per_row %} {{ products_per_row }} {% else %} 4 {% endif %},
      hover_image_enable: {% if settings.hover-image-enabled %} {{ settings.hover-image-enabled | json }} {% else %} false {% endif %},
      vendor_enable: {% if settings.brand-show %} {{ settings.brand-show | json }} {% else %} false {% endif %},
      show_sorting: {% if section.settings.show_sorting %} {{ section.settings.show_sorting | json }} {% else %} false {% endif %},
    }
  };
</script>

{% schema %}

{
  "name": "Collection",
  "class": "section--collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "collections-breadcrumbs-show",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collections-tags-show",
      "label": "Show tag filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show-title",
      "label": "Show title",
      "default": false
    },
    {
      "id": "collections-products-per-row",
      "label": "Products per row",
      "type": "radio",
      "options": [
        { "value": "3", "label": "3"},
        { "value": "4", "label": "4"}
      ],
      "default": "4"
    },
    {
      "id": "mobile-items-per-row",
      "label": "Products per row for small devices",
      "type": "radio",
      "options": [
        { "value": "1", "label": "1"},
        { "value": "2", "label": "2"}
      ],
      "default": "2"
    }
  ]
}
{% endschema %}
