{% if section.settings.home-product-slider-collection == blank or collections[section.settings.home-product-slider-collection].handle != section.settings.home-product-slider-collection %}
  {% for c in collections %}
    {% if c.products-count > 0 %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign collection = collections[section.settings.home-product-slider-collection] %}
{% endif %}

{%- assign slider_limit = section.settings.max_products -%}
{% include 'framework--background-colors', bg_color: section.settings.background-color %}


<div class="product-slider{% if collection.products.size < 4 and collection.products.size != 0 %} disabled{% endif %}{{ settings.color-icons-theme }}" style="{% if bg_color %}background-color: {{ bg_color }};{% endif %}">
  <div class="row header">
    <div class="columns">
     <h2>
      {% if collection.products.size %}
        {{ collection.title | link_to: collection.url }}
      {% else %}
        {{ 'home.onboarding.featured_collection' | t }}
      {% endif %}
     </h2>
   </div>
  </div>
  <div class="row content">
    <div class="product-grid-root" data-flickity='{ "draggable": ">1", "groupCells": "80%", "pageDots": false, "wrapAround": true, "fade": true, "setGallerySize": false, "cellAlign": "left" }'>
      {% if collection.products.size and collection.products.size > 0 %}
        {% for product in collection.products limit: slider_limit %}
        {% capture image %}
          {%
            include 'framework--image',
            image: product.featured_image
          %}
        {% endcapture %}
        <div class="carousel-cell">
          <a href="{{ product.url }}" aria-label="{{ product.title }}">
            {{ image }}

            {% if settings.enable_product_reviews %}
            <div class="card__review" data-bv-product-Id="{{ product.id }}" data-bv-redirect-url="{{ product.url }}" data-bv-show="inline_rating"></div>
            {% endif %}

            <div class="yotpo bottomLine" style="margin-bottom:10px"
                   data-appkey="7wPePRbdKVaNXHZbYjFq54llUqu6pMurFHzmY8Xb"
                   data-domain="{{shop.permanent_domain | escape }}"
                   data-product-id="{{ product.id }}"
                   data-product-models="{{ product.id }}"
                   data-name="{{ product.title | escape }}"
                   data-url="{{ shop.url }}{{ product.url }}"
                   data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}">
                {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
                {%- assign time_now = 'now' | date: '%s' %}
                {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
                {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
                {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
                {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
                {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
                        {%- assign yotpo_bottomline_obsolete = false %}
                {%- else %}
                  {%- assign yotpo_bottomline_obsolete = true %}
                {%- endif %}
                {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
                	{{ product.metafields.yotpo.bottomline }}
                {%- endif %}
            	</div>
            <h3>{{ product.title }}</h3>
            <p>
              {{ product.price | money }}
            </p>
            <div class="custom-iwish wishlist">
              {% include 'iwish_v2' with 'iwishCollection' %}
            </div>
          </a>
        </div>
        {% endfor %}
      {% endif %}
    </div> <!-- .product-grid.clearfix -->
  </div> <!-- .row.content -->
  <div class="swiper-scrollbar"></div>
</div><!-- #product-slider -->

{% schema %}
{
  "name": "Featured collection",
  "class": "section--featured-collection",
  "settings": [
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light grey", "value": "light" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "none"
    },
    {
      "type": "collection",
      "id": "home-product-slider-collection",
      "label": "Choose collection"
    },
    {
      "label": "Amount of products to show",
      "id": "max_products",
      "type": "range",
      "min": 4,
      "max": 20,
      "step": 4,
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
