{% if section.settings.home-product-slider-collection == blank or collections[section.settings.home-product-slider-collection].handle != section.settings.home-product-slider-collection %}
  {% for c in collections %}
    {% if c.products-count > 0 %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign collection = collections[section.settings.home-product-slider-collection] %}
{% endif %}

{%- assign slider_limit = section.settings.max_products -%}
{% include 'framework--background-colors', bg_color: section.settings.background-color %}

<h2>
 {% if collection.products.size %}
   {{ collection.title | link_to: collection.url }}
 {% else %}
   {{ 'home.onboarding.featured_collection' | t }}
 {% endif %}
</h2>

<div class="product-swiper{% if collection.products.size < 4 and collection.products.size != 0 %} disabled{% endif %}{{ settings.color-icons-theme }}" style="{% if bg_color %}background-color: {{ bg_color }};{% endif %}">
  <div class="swiper-wrapper">
    {% if collection.products.size and collection.products.size > 0 %}
    {% for product in collection.products limit: slider_limit %}
    {% capture image %}
      {%
        include 'framework--image',
        image: product.featured_image
      %}
    {% endcapture %}
    <div class="swiper-slide">
      <a href="{{ product.url }}" aria-label="{{ product.title }}">
        {{ image }}
        {% include 'yotpo-reviews' %}
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
      </a>
      <div class="custom-iwish wishlist">
        {% include 'iwish_v2' with 'iwishCollection' %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="swiper-scrollbar"></div>
</div>

<script>
var reviewSwiper = new Swiper('.product-swiper', {
  direction: 'horizontal',
  loop: true,
  autoHeight: true,
  height: "400px",
  slidesPerView: 1,
  breakpoints: {
    768: {
      slidesPerGroup: 4,
      slidesPerView: 4,
      spaceBetween: 20
    }
  },
  scrollbar: {
    el: '.swiper-scrollbar',
    draggable: true,
  },
})
</script>

{% schema %}
{
  "name": "Featured collection",
  "class": "section--featured-collection",
  "settings": [
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light grey", "value": "light" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "none"
    },
    {
      "type": "collection",
      "id": "home-product-slider-collection",
      "label": "Choose collection"
    },
    {
      "label": "Amount of products to show",
      "id": "max_products",
      "type": "range",
      "min": 4,
      "max": 20,
      "step": 4,
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
