{%- assign block_count = section.blocks.size -%}

{% if block_count > 0 %}
  {%- assign column_count = 12 | divided_by: block_count -%}
{% endif %}

<footer class="footer" data-js-class="Footer" data-section-id="{{ section.id }}" data-section-type="footer">
  {% for block in section.blocks limit: block_count %}

      {% case block.type %}
        {% when 'about' %}
        <div>
          <a class="site-footer__logo" href="/">
            {% include 'site-logo' %}
          </a>
          {% if block.settings.about-title != blank %}
          <div class="footer--block--heading font--block-heading">
            {{ block.settings.about-title | escape }}
          </div>
          {% endif %}

          {% if block.settings.text != blank %}
          <div class="text font--paragraph">{{ block.settings.text }}</div>
          {% endif %}
          {% assign show_social = false %}
          {% if settings.footer-facebook-follow-url.size > 0 or
                settings.footer-twitter-follow-url.size > 0  or
                settings.footer-instagram-follow-url.size > 0 or
                settings.footer-pinterest-follow-url.size > 0 or
                settings.footer-tumblr-follow-url.size > 0 or
                settings.footer-vimeo-follow-url.size > 0 or
                settings.footer-youtube-follow-url.size > 0 %}
            {% assign show_social = true %}
          {% endif %}
           {% if show_social %}
          <div class="social-follow">
            {% include 'snippet-social-follow' %}
          </div>
          {% endif %}
        </div>


        {% when 'menu' %}
        <div>
          <h3>
            {{ block.settings.menu-title | escape }}
          </h3>
          <nav class="footer_nav" role="navigation">
          {% if linklists[block.settings.menu].links.size > 0 %}
            {% assign footer_nav = block.settings.menu %}
            {% for link in linklists[footer_nav].links %}
            <a href="{{ link.url }}" title="{{ link.title }}">
              {{ link.title }}
            </a>
            {% endfor %}
          {% endif %}
          </nav>

        </div>

        {% when 'subscribe' %}

        <div class="footer--subscribe">
          {% if block.settings.subscribe--show-newsletter or show_social %}
            {% assign newsletter_title = 'layout.footer.newsletter_title' | t %}
            {% if newsletter_title.size > 0 %}
            <h3>
              {{ newsletter_title }}
            </h3>
            {% endif %}
          {% endif %}

          {% if block.settings.subscribe--show-newsletter or settings.popup--newsletter--enabled %}
            <div id="mailing-list-module" {% if block.settings.subscribe--show-newsletter == false and settings.popup--newsletter--enabled %}style="display:none;"{% endif %}>
              {% if block.settings.newsletter--heading != blank %}
                {{ block.settings.newsletter--heading }}
              {% endif %}

              {% form 'customer', id: 'footer_form' %}
                {% if form.errors %}
                  <p class="error feedback">
                    {% for field in form.errors %}
                      {{ field }} {{ form.errors.messages[field] }}
                    {% endfor %}
                  </p>
                {% endif %}
                <div class="form-field">
                  <input type="hidden" name="contact[tags]" value="newsletter" />
                    <input type="hidden" name="contact[first_name]" value="Newsletter" />
                    <input type="hidden" name="contact[last_name]"  value="Subscriber" />
                  <input type="hidden" name="return_to" value="/pages/thanks-for-signing-up-to-our-newsletter" />
                  <label for="footer-email" class="hidden">
                    {{ 'layout.footer.newsletter_placeholder' | t }}
                  </label>
                  <input id="footer-email" type="email" placeholder="{{ 'layout.footer.newsletter_placeholder' | t }}" required name="contact[email]" />
                  <input type="submit" value="{{ 'layout.footer.newsletter_button' | t }}" required name="subscribe" />
                </div>


                  <div class="form-field">
                    <input name="customer[accepts_marketing]" type="hidden" value="">
                    <input id="customer[accepts_marketing]" class="input-checkbox" name="customer[accepts_marketing]" type="checkbox" required>
                    <label class="checkbox__label subtitle-2" for="customer[accepts_marketing]">
                      {{ 'layout.footer.newsletter_accepts' | t }}
                    </label>

                  </div>
                {% if form.posted_successfully? or form.errors %}
                  <script>window.location.hash = '#feedback-bar--newsletter';</script>
                {% endif %}
              {% endform %}
            </div>
          {% endif %}

        </div>
      {% endcase %}
  {% endfor %}

  {% if section.blocks.size == 0 %}
    {% include 'snippet-no-blocks' %}
  {% endif %}

  <div class="copyright">
    <small>
      &copy; {{ shop.name }} {{ 'now' | date: '%Y' }}
    </small>
  </div>

</footer>


{% schema %}
{
  "name": "Footer",
  "class": "section--footer",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "about",
      "name": "About store",
      "settings": [
        {
          "type": "text",
          "id": "about-title",
          "label": "Title",
          "default": "Store"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>© Your brand name here<p>"
        },
        {
          "type": "checkbox",
          "id": "footer-payment-options-show",
          "label": "Enable payment logos",
          "default": true
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu-title",
          "label": "Title",
          "default": "Info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show submenu items."
        },
		{
          "type": "text",
          "id": "contact_title",
          "label": "Contact title",
          "default": "Contact"
		},
		{
          "type": "richtext",
          "id": "contact",
          "label": "Contact information",
          "default": "<p>Crabtree & Evelyn</p><p>(Overseas) Limited</p><p>15 Bonhill Street</p><p>London, EC2A 4DN</p><p><a href=\"mailto:online@crabtree-evelyn.co.uk\">online@crabtree-evelyn.co.uk</a></p>"
		}
      ]
    },
	{
      "type": "subscribe",
      "name": "Subscribe",
      "settings": [
        {
          "id": "newsletter--heading",
          "label": "Newsletter heading",
          "type": "richtext",
          "default": "<p>Sign up to our mailing list</p>"
        },
        {
          "type": "checkbox",
          "id": "subscribe--show-newsletter",
          "label": "Show newsletter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "subscribe--show-social-icons",
          "label": "Show social icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
