{% if section.settings.enable_product_reviews_listing %}
  <section class="template-product__reviews reviews section" js-reviews-container>
    <div class="container container--wide">
      <div class="row">
        <div class="reviews__header col xs12">
          <h3 class="reviews__title h4 color--plant decoration-after">{{ 'products.reviews_title' | t }}</h3>
        </div>

        <div class="template-product__reviews-container col xs12">
          {% include 'bv-ratings-reviews' %}
        </div>
      </div>
    </div>
  </section>
{% endif %}


{% schema %}
  {
    "name": "Product Reviews",
    "settings": [

			{
				"type": "checkbox",
				"id": "enable_product_reviews_listing",
				"label": "Enable product reviews listing",
				"default": true,
				"info": "Show BazaarVoice review listing on product pages."
			}
]
  }
{% endschema %}


