{% comment %} Translations {% endcomment %}
{% assign title_t = 'home.onboarding.product_title' | t %}
{% assign vendor_t = 'home.onboarding.vendor' | t %}
{% assign price_t = 'home.onboarding.price' | t %}
{% assign sold_out_t = 'products.sold_out.product' | t %}
{% assign sold_out_variant_t = 'products.sold_out.variant' | t %}
{% assign unavailable_variant_t = 'products.unavailable_variant' | t %}
{% assign product_image_t = 'products.product_image' | t %}

{% comment %} Variables {% endcomment %}
{% include 'framework--background-colors', bg_color: section.settings.background-color %}
{% assign heading = section.settings.heading %}
{% assign product = all_products[section.settings.featured_product] %}
{% assign product_id = product.id %}
{% assign product_url = product.url %}
{% assign variant = product.selected_or_first_available_variant %}
{% assign link = product.url %}
{% assign title = product.title %}
{% assign vendor = product.vendor %}
{% assign vendor_url = product.vendor | url_for_vendor %}
{% assign show_vendor = section.settings.show_vendor %}
{% assign vendor = product.vendor %}
{% assign actual_price = variant.price | money %}
{% assign compare_price = '' %}
{% capture compare_price %}
  {% if variant.price < variant.compare_at_price %}
    {{ price_was_t }} {{ variant.compare_at_price | money }}
  {% endif %}
{% endcapture %}

{% assign show_variants = false %}
{% if product.variants.size > 1 %} {% assign show_variants = true %} {% endif %}

{% capture variants %}
  {% for variant in product.variants %}
    <option
      data-sku="{{ variant.sku }}"
      {% if variant.inventory_quantity <= 0 and variant.available == false %}DISABLED {% endif %}
      {% if variant == product.selected_or_first_available_variant %}selected="selected" {% endif %}
      value="{{ variant.id }}"
    >
      {{ variant.title }} - {{ variant.price | money }}
    </option>
  {% endfor %}
{% endcapture %}

{% comment %} Onboarding {% endcomment %}
{% assign onboarding = true %}
{% if section.settings.featured_product != blank %}
  {% assign onboarding = false %}
{% endif %}

{% if onboarding %}
  {% assign title = title_t %}
  {% assign vendor = vendor_t %}
  {% assign actual_price = price_t %}
  {% capture image %}
    {%
      include "framework--placeholder",
      type: "product",
      aspect_ratio: 0.75,
      placeholder_index: 1
    %}
  {% endcapture %}
{% endif %}

{% comment %} View {% endcomment %}
<div
  class="featured-product--root"
  data-section-id="{{ section.id }}"
  data-js-class="FeaturedProduct"
  data-id="{{ product_id }}"
  data-show-variants="{{ show_variants }}"
  data-onboarding="{{ onboarding }}"
  style="{% if bg_color %}background-color: {{ bg_color }};{% endif %}"
>
  <div class="featured-product--container">
    {% if heading != blank %}
      <div class="featured-product--header">
        <h2 class="featured-product--heading font--section-heading"><a href="{{ product_url }}">{{ heading }}</a></h2>
      </div>
    {% endif %}

    <div class="featured-product--body">
      {% if onboarding %}
        <div class="featured-product--image" data-active="true">{{ image }}</div>
      {% else %}
        {% for image in product.images %}
          {% assign active = false %}
          {% if image.id == product.featured_image.id %}
            {% assign active = true %}
          {% endif %}

          <div
            class="featured-product--image"
            data-image-id="{{ image.id }}"
            data-active="{{ active }}"
          >
            <a href="{{ product_url }}" aria-label="{{ product_image_t }}">
              {% include 'framework--image', image: image %}
            </a>
          </div>
        {% endfor %}
      {% endif %}

      <div class="featured-product--info">
        <div class="featured-product--info--container">

          <h2 class="font--section-header"><a href="{{ product_url }}">{{ title }}</a></h2>

          {% if show_vendor %}
            <div class="featured-product--vendor font--accent">
              <a href="{{ vendor_url }}">{{ vendor }}</a>
            </div>
          {% endif %}

          <div class="featured-product--sold-out--variant font--light-accent">
            {{ sold_out_variant_t }}
          </div>
          <div class="featured-product--unavailable-variant font--light-accent">
            {{ unavailable_variant_t }}
          </div>

          {% if product.available == false %}
            <div class="featured-product--sold-out--product font--light-accent">{{ sold_out_t }}</div>
          {% endif %}

          <div class="featured-product--price-wrapper">
            <span class="featured-product--actual-price money font--accent">{{ actual_price }}</span>&nbsp;
            <span class="featured-product--compare-price money font--light--accent">{{ compare_price }}</span>
          </div>

          {% if onboarding %}
            <div class="featured-product--add-to-cart">
              <div class="font--button">
                {{ 'products.add_to_cart' | t }}
              </div>
            </div>
          {% else %}
            <div class="featured-product--cart-form">
              {% form 'product', product %}
                <div class="featured-product--variants">
                  <label for="featured-product--select--{{ product_id }}-option-0" class="hidden">
                    {{ 'products.variants' | t }}
                  </label>
                  <select name="id" id="featured-product--select--{{ product_id }}">
                    {{ variants }}
                  </select>
                </div>

                {% assign cart_button_class = 'font--button' %}
                {% if section.settings.smart_payment_button %}
                  {% assign cart_button_class = 'font--secondary-button' %}
                {% endif %}

                <button
                  class="featured-product--add-to-cart {{ cart_button_class }}"
                  type="submit"
                  name="add"
                >
                  <span class="text">{{ 'products.add_to_cart' | t }}</span>
                  <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation">
                  </span>
                </button>

                {% if section.settings.smart_payment_button %}
                  <div class="featured-product--smart-payment-buttons">
                    {{ form | payment_button }}
                  </div>
                {% endif %}
              {% endform %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="featured-product--json" aria-hidden="true">{{ product | json }}</div>
</div>


{% schema %}
  {
    "name": "Featured product",
    "class": "section--featured-product",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light grey", "value": "light" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "type": "checkbox",
        "id": "smart_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "id": "heading",
        "label": "Heading",
        "type": "text"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "id": "show_vendor",
        "label": "Show vendor",
        "type": "checkbox",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
