{% comment %} Variables {% endcomment %}
{% assign heading = section.settings.heading | escape %}
{% include 'framework--background-colors', bg_color: section.settings.background-color %}

{% comment %} View {% endcomment %}
<div class="featured-text" data-section-id="{{ section.id }}" style="{% if bg_color %}background-color: {{ bg_color }};{% endif %}">
  <div class="featured-text--container">
    <svg>
      <use href="#exploration"></use>
    </svg>
    {% if heading != blank %}
    <h2>{{ heading }}</h2>
    {% endif %}
    {{ section.settings.text }}
  </div>
</div>


{% schema %}
  {
    "name": "Rich text",
    "class": "section--featured-text",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light grey", "value": "light" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
