
{% if section.settings.enable_curations %}
  {% include 'bazaarvoice-curations' with
    block_title: section.settings.curations_title,
    type: 'product'
  %}
{% endif %}


{% schema %}
  {
    "name": "Product page Curations",
    "settings": [
      {
        "type": "header",
        "content": "Curations"
      },
      {
        "type": "checkbox",
        "id": "enable_curations",
        "label": "Enable BazaarVoice Curations",
        "default": true
      },
      {
        "type": "text",
        "id": "curations_title",
        "label": "Curations section title",
        "default": "@CRABTREEANDEVELYN"
      }

	]
}

{% endschema %}
