{% paginate customer.orders by 20 %}

  <div class="customer--root">

    <h1 class="font--section-heading">
      {{ 'customer.account.page_title' | t }}
    </h1>
    <div class="account--breadcrumb-container">
      {% include 'framework--breadcrumbs' %}
    </div>


    <div class="address--info">
      <h4 class="font--block-heading">{{ customer.name }}</h4>
      <p class="address--email font--paragraph">{{ customer.email }}</p>
      <div class="address--view font--paragraph">

        {% if customer.default_address != nil %}
          <p>{{ customer.default_address.address1 }}</p>

          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}

          <p>{{ customer.default_address.city }},
          {% if address.province_code %}
            {{ customer.default_address.province_code }},
          {% endif %}
          {{ customer.default_address.country }}</p>
          <p>{{ customer.default_address.zip }}</p>
          <p>{{ customer.default_address.phone }}</p>
        {% endif %}

        <div class="font--block-link">
          <a id="view_address" href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }}</a>
        </div>

      </div>
    </div>

    <div class="account--orders">
      <h4 class="font--block-heading">{{ 'customer.account.orders' | t }}</h4>
      {% if customer.orders.size != 0 %}
        <table class="account--orders-table responsive">
          <thead class="font--accent">
            <tr>
              <th>{{ 'customer.account.order' | t }}</th>
              <th>{{ 'customer.account.date' | t }}</th>
              <th>{{ 'customer.account.payment_status' | t }}</th>
              <th>{{ 'customer.account.fulfillment_status' | t }}</th>
              <th>{{ 'customer.account.total' | t }}</th>
            </tr>
          </thead>
          <tbody class="font--paragraph">
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
              <td>{{ order.name | link_to: order.customer_url }}</td>
              <td>
                <span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span>
              </td>
              <td><span class="status_{{ order.financial_status }}">
                {% assign trans_paid  = 'customer.order.paid' | t %}
                {% assign trans_pending = 'customer.order.pending' | t %}
                {% assign trans_authorized = 'customer.order.authorized' | t %}
                {% assign trans_abandoned = 'customer.order.abandoned' | t %}
                {% assign trans_refunded = 'customer.order.refunded' | t %}
                {% assign trans_voided = 'customer.order.voided' | t %}
                {{ order.financial_status | replace: 'paid', trans_paid | replace: 'pending', trans_pending | replace: 'authorized', trans_authorized | replace: 'abandoned', trans_abandoned | replace: 'refunded', trans_refunded | replace: 'voided', trans_voided }}</span>
              </td>
              <td><span class="status_{{ order.fulfillment_status }}">
                {% assign trans_fulfilled = 'customer.order.fulfilled' | t %}
                {% assign trans_unfulfilled = 'customer.order.unfulfilled' | t %}
                {% assign trans_partial = 'customer.order.unfulfilled' | t %}
                {{ order.fulfillment_status | replace: 'unfulfilled', trans_unfulfilled | replace: 'fulfilled',  trans_fulfilled | replace: 'partial', trans_partial }}</span>
              </td>
              <td class="money">
                {{ order.total_price | money }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
        <p class="font--paragraph">{{ 'customer.account.no_orders' | t }}</p>
      {% endif %}

    </div>

    <div class="font--block-link">{{ 'customer.account.logout' | t | customer_logout_link }}</div>

    {% if paginate.pages > 1 %}
      <div class="width--12 text-align--center">
        {% include 'framework--pagination' %}
      </div>
    {% endif %}

  </div>

{% endpaginate %}

