<div class="header-root" data-section-id="{{ section.id }}" data-section-type="header-section" data-js-class="Header">
  <div class="container">
    {% if settings.show_multiple_currencies  %}
    <div class="header--currency">
      {% include 'snippet-currency-selector' %}
    </div>
    {% endif %}
    <a href="#" class="menu--open-left off-canvas--open visible-mobile" data-off-canvas--open="left-sidebar">
      <svg class="fw--icon fw--icon--menu">
        <use xlink:href="#fw--icon--menu"></use>
      </svg>
    </a>
    <div class="header--logo">
      <a href="/" role="banner" title="{{ shop.name }}">
        <svg class="logo logo-desktop">
        	<use href="#CrabtreeEvelyn_Logo_BLACK"></use>
        </svg>
        <svg class="logo logo-mobile">
          <use href="#CrabtreeEvelyn_Logo"></use>
        </svg>
      </a>
    </div>
    {% include 'menu-top' %}
    {% include 'menu' %}
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent-menu",
      "label": "Transparent on home page",
      "info": "Only recommended with a full width image in top section"
    },
    {
      "type": "checkbox",
      "id": "header-account-show",
      "label": "Enable customer account links",
      "default": true,
      "info": "[You will also need to enable customer accounts in your store settings](http:\/\/docs.shopify.com\/manual\/your-store\/customers\/customer-accounts)"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "checkbox",
      "id": "header-menu-center",
      "label": "Center align"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "checkbox",
      "id": "header-logo-center",
      "label": "Center align"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "1600 x 200px max"
    },
    {
      "label": "Image Height",
      "id": "logo-height",
      "type": "range",
      "min": 15,
      "max": 100,
      "step": 5,
      "default": 50,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    }
  ]
}
{% endschema %}
