<div class="single-column{% if section.settings.center-content--enabled %} center{% endif %}">
  <div class="page-content">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Pages",
  "class": "section--pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "center-content--enabled",
      "label": "Center content",
      "default": true
    }
  ]
}
{% endschema %}
