{% comment %} Variables {% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign product_vendor_handle = product.vendor | handle %}
{% if collections[product_vendor_handle].handle == product_vendor_handle %}
  {% assign vendor_url = collections[product_vendor_handle].url %}
{% else %}
  {% assign vendor_url = product.vendor | url_for_vendor %}
{% endif %}

{% comment %} Get Content Parts {% endcomment %}
{% assign product_content = product.description %}
{% assign content_parts = product_content | split: '---' %}


{% capture thumbnail_images %}
  {% for image in product.images %}
    {% assign active_image = false %}
    {% if featured_image == image %}
      {% assign active_image = true %}
    {% endif %}

    <div class="product-page--thumb" data-active="{{ active_image }}" data-id="{{ image.id }}" tabindex="0">
      {% include 'framework--image', image: image, widths: '90, 180' %}
    </div>
  {% endfor %}
{% endcapture %}


{% comment %} View {% endcomment %}
<div class="product-page--root" data-js-class="ProductPage" data-section-id="{{ section.id }}" data-section-type="product_page" data-magnify="1.7" data-zoom-enabled="{{ section.settings.product-zoom-enabled }}" data-product-modal-enabled="{{ section.settings.product-modal-enabled }}" data-size-chart-enabled="{{ section.settings.product-size-chart-enabled }}" data-size-chart-option="{{ section.settings.product-size-chart-option }}" data-cart-form-position="{{ section.settings.cart-form-position }}" {% if section.settings.low-in-stock-amount > 0 %} data-product-low-in-stock-amount="{{ section.settings.low-in-stock-amount }}"{% endif %} data-product-size-chart-enabled="{{ section.settings.product-size-chart-enabled }}" data-js-class="ProductPage">

  {% if section.settings.product-breadcrumbs-show %}
    {% include 'snippet-breadcrumbs' %}
  {% endif %}

  {% if collection %}
  <header>
    <div class="previous-next row">

        {% if collection.previous_product or collection.next_product %}
          <div class="font--accent columns large-3 small-6">
            {% if collection.previous_product %}
              <a class="left" title="{{ collection.previous_product.title }}" href="{{ collection.previous_product.url }}">
                {% include 'snippet-symbol' with 'arrow-left' %} {{ 'products.previous_item' | t }}
              </a>
            {% endif %}
            <div class="border-decoration show--large"></div>
          </div>

          <div class="font--accent columns large-3 large-offset-6 small-6">
            {% if collection.next_product %}
              <a class="right" href="{{ collection.next_product.url }}" title="{{ collection.next_product.title }}">{{ 'products.next_item' | t }}
                {% include 'snippet-symbol' with 'arrow-right' %}
              </a>
            {% endif %}
            <div class="border-decoration show--large"></div>
          </div>
        {% endif %}
    </div>
  </header>
  {% endif %}


  <article class="row" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: '1200x' }}" />

    <div class="product-page--main-content">
  		{% if product.images.size > 0 %}
      <div class="product-page--images">
        <div class="product-page--images-container">
          <div class="modal--root" data-js-class="FrameworkModal">

            {% for image in product.images %}
              {% assign active_image = false %}
              {% if featured_image == image %}
                {% assign active_image = true %}
              {% endif %}

              {% if section.settings.product-modal-enabled %}
                <div class="modal--link">
              {% endif %}
                <div class="product-page--image" data-active="{{ active_image }}" data-id="{{ image.id }}" >
                  {%
                    include 'framework--image',
                    image: image,
                    preload: true
                  %}
                </div>

                {% if section.settings.product-zoom-enabled %}
                  <div class="product-page--zoom-image" data-id="{{ image.id }}" data-aspect-ratio="{{ image.aspect_ratio }}">
                    {%
                      include "framework--image",
                      image: image
                    %}
                  </div>
                {% endif %}

              {% if section.settings.product-modal-enabled %}
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.product-modal-enabled %}
              <div class="product-page--modal-images">
                {% for image in product.images %}
                  <div class="modal--content">
                    {%
                      include "framework--image",
                      image: image
                    %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        </div>
          {% if product.images.size > 1 %}
          <div class="product-page--thumbs" data-position="image-column">
            <div class="product-page--thumbs-container">
              {{ thumbnail_images }}
            </div>
          </div>
        {% endif %}
     {% if product.images.size > 1 %}
        <div class="product-page--thumbs" data-position="cart-form-column">
          <div class="product-page--thumbs-container">
            {{ thumbnail_images }}
          </div>
        </div>
      {% endif %}
      </div>
      {% endif %}
      <!-- <div class="product-page--title-n-vendor"></div> -->
      <div class="product-page--cart-form-block">
        <h1 itemprop="name">{{ product.title }}</h1>
        {% if settings.brand-show %}
        <div itemprop="brand"><a class="font--light-accent" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a></div>
        {% endif %}

	      {% comment %} Break down content and show subtitle here ? {% endcomment %}
        <div class="product-page--description" style="margin-bottom: .9rem;">
          <p itemprop="description">
             {{ content_parts[2] | strip_html }}
          </p>
        </div>
        {% include 'yotpo-reviews' %}
        <!-- <div class="yotpo bottomLine" style="margin-bottom:20px"
             data-appkey="7wPePRbdKVaNXHZbYjFq54llUqu6pMurFHzmY8Xb"
             data-domain="{{shop.permanent_domain | escape }}"
             data-product-id="{{ product.id }}"
             data-product-models="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
             data-description="{{ product.description | escape }}"
             data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
          {%- assign time_now = 'now' | date: '%s' %}
          {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
          {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
          {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
          {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
          {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
                  {%- assign yotpo_bottomline_obsolete = false %}
          {%- else %}
            {%- assign yotpo_bottomline_obsolete = true %}
          {%- endif %}
          {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
          	{{ product.metafields.yotpo.bottomline }}
          {%- endif %}
      	</div> -->

        <div>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}

            {% assign price_meta = product.selected_or_first_available_variant.price | divided_by: 100.00 %}
            <meta itemprop="price" content="{{ price_meta }}">

            <p class="price--container">
              {% assign variant = product.selected_or_first_available_variant %}
              <span class="actual-price money">{{ variant.price | money }}</span>&nbsp;<span class="compare-price">{% if variant.price < variant.compare_at_price %}<span class="money">{{ variant.compare_at_price | money }}</span>{% endif %}</span>
            </p>
          </div>
        </div>

        <div class="product-page--cart-form">
          {% form 'product', product %}
          <div class="variants {% unless product.variants.size > 1 %}hidden{% endunless %}">
            <label for="variant-listbox-option-0" class="hidden">
              {{ 'products.variants' | t }}
            </label>
            <select id="variant-listbox" name="id" class="medium">
              {% for variant in product.variants %}
              <option
                data-sku="{{ variant.sku }}"
                {% if variant.inventory_quantity <= 0 and variant.available == false %}DISABLED {% endif %}
                {% if variant == product.selected_or_first_available_variant %}selected="selected" {% endif %} value="{{ variant.id }}"
                {% if section.settings.low-in-stock-amount > 0 and
                  variant.inventory_management == "shopify" and
                  variant.inventory_policy == "deny"
                %}
                  data-inventory-quantity="{{ variant.inventory_quantity }}"
                {% endif %}
              >
                {{ variant.title }} - {{ variant.price | money }}
              </option>
              {% endfor %}
            </select>
          </div>
          {% include 'snippet-product-low-in-stock' %}
          <div class="quanity-cart-row" data-smart-payment-button="{{ section.settings.smart_payment_button }}">
            {% include 'snippet-quantity' %}

            <div class="add-to-cart">
              {% assign cart_button_class = 'font--button' %}
              {% if section.settings.smart_payment_button %}
                {% assign cart_button_class = 'btn-secondary' %}
              {% endif %}
              <button class="btn {{ cart_button_class }}" type="submit" name="add">
                <span class="text">{{ 'products.add_to_cart' | t }}</span>
                <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation"></span>
              </button>
            </div>
          </div>


          {% if section.settings.smart_payment_button %}
            <div class="product-page--smart-payment-buttons">
              {{ form | payment_button }}
            </div>
          {% endif %}
          <div class="product-wish">
            {% include 'iwish_v2' with 'iwishproduct' %}
          </div>
          {% endform %}
          <div itemprop="description" class="product-page--description">
            {% include 'product-accordion' %}
          </div>
        </div>

        {% include 'snippet-product-unavailable' %}
      </div>
    </div>
  </article>
</div> <!-- .product-page -->



<script>
  // variables to pass to theme.js
  var product_title = '{{ product.title | escape }}';
  var product_variant_size = {{ product.variants.size }};
  var product_options_size = {{ product.options.size }};
  var product_options_size = 10;
  var product_options_first = '{{ product.options.first | escape }}';
  var product_json = {{ product | json }};
  var product_language_was = '{{ 'products.was' | t | escape }}';

  var selectCallback = function(variant, selector) {
    theme.partials.ProductPage.variantSelected(variant, selector);
    // add your selectCallback code here...
  };

  theme.products = {
    size_chart: {
      label: '{{ "products.size_chart" | t }}'
    },
    low_in_stock: {
      one: '{{ "products.low_in_stock" | t: count: 1 }}',
      other: '{{ "products.low_in_stock" | t: count: 2 }}'
    }
  };

  $(function() {
    new Shopify.OptionSelectors("variant-listbox", {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
  });
</script>

{% if section.settings.product-size-chart-enabled %}
  {% include 'snippet-size-chart' %}
{% endif %}

{% schema %}
{
  "name": "Product pages",
  "class": "section--products",
  "settings": [
    {
      "type": "checkbox",
      "id": "product-breadcrumbs-show",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "smart_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-unavailable-form-show",
      "label": "Show notification form when product is unavailable"
    },
    {
      "type": "checkbox",
      "id": "product-modal-enabled",
      "label": "Enable modal popup",
      "default": true,
      "info": "Triggers when you click the main image"
    },
    {
      "type": "checkbox",
      "id": "product-zoom-enabled",
      "label": "Enable product zoom",
      "default": true,
      "info": "Triggers when you roll your mouse over the main image"
    },
    {
      "label": "Show low in stock notice when quantity is",
      "id": "low-in-stock-amount",
      "type": "range",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0,
      "info": "Set to 0 to disable this feature. Updated for each variant."
    },
    {
      "type": "header",
      "content": "Positions"
    },
    {
      "type": "paragraph",
      "content": "Screens under 1280px wide will rearrange the columns automatically to prevent content from getting squished."
    },
    {
      "id": "cart-form-position",
      "label": "Cart form",
      "type": "radio",
      "options": [
        { "value": "left", "label": "Left"},
        { "value": "right", "label": "Right"}
      ]
    },
    {
      "type": "header",
      "content": "Size chart"
    },
    {
      "type": "checkbox",
      "id": "product-size-chart-enabled",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "product-size-chart-option",
      "label": "Link from option",
      "default": "size"
    },
    {
      "type": "page",
      "id": "product-size-chart-page-content",
      "label": "Page content"
    },
      {
        "type": "header",
        "content": "Delivery & Returns"
      },
      {
        "type": "page",
        "id": "delivery_returns",
        "label": "Page content to be used in the Delivery and Returns accordion."
      }

  ]
}
{% endschema %}
