@mixin mobile {
  @media only screen and (max-width: 767px) { @content; }
}

@mixin desktop {
  @media only screen and (min-width: 768px) { @content; }
}

{% comment %}
  Here's an example of a customization
  You can paste this at the bottom of the page to see how it works

  /* Author - Date - Customization */
  /* E.g. Troop Themes - 12th November .... - Changed paragraph colors */
  body {
    @include mobile {
      color: blue;
    }

    @include desktop {
      color: green;
    }
  }
{% endcomment %}

/* Add your theme customizations below */

/* WIP Blockshop - 19/03/2020 - styled reviews */
.reviews__header.col.xs12, #BVRRSearchContainer, [data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container, [data-bv-show=rating_summary] .bv_main_container .bv_main_container_row_flex, .bv-cv2-cleanslate .bv-core-container-67 .bv-control-bar {
  display:none!important;
}
.template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-section-summary{border-bottom:1px solid #d8d6d4!important;margin-bottom:0!important;padding:2.5rem 0 2rem!important}
.template-product__reviews-container .bv-flex-container-responsive{display:-ms-flexbox!important;display:flex!important;-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important}
.template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-inline-histogram {
  width:100%!important;
}
@media (min-width:48em) {
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-section-summary{border-top:1px solid #d8d6d4!important;padding:3.5rem 0 2.5rem!important}
  .template-product__reviews-container .bv-flex-container-responsive{-ms-flex-pack:center;justify-content:center;-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important}
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-content-item-author-profile-offset-on, .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-inline-histogram {
    width:70%!important;
    padding-left:0px!important;
  }
  #BVRRContainer {
  	width:calc(100% - 5rem);
  }
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-content-item.bv-content-review .bv-author-profile, .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-secondary-rating-summary {
  	width:30%!important
  }
}
@media (min-width:64em) {
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-content-item-author-profile-offset-on, .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-inline-histogram {
  	width:40.2%!important;
    padding-left:0px!important;
  }
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-content-item.bv-content-review .bv-author-profile, .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate [class*=bv-core-container-] .bv-secondary-rating-summary {
  	width:25.6%!important;
  }
  .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate .bv-content-item:after, .template-product__reviews-container .bv-cv2-cleanslate.bv-cv2-cleanslate .bv-content-item:before {
  	width:16.666%!important;
  }
}

.bv-cv2-cleanslate .bv-core-container-67 .bv-content-item:before, .bv-cv2-cleanslate .bv-core-container-67 .bv-content-item:after {
  content:""!important;
  display:table!important;
}

#BVRRContainer {
  margin:0 auto;
  max-width:1520px;
  width:calc(100% - 2rem);
}

#shopify-section-framework--product-reviews {
   .bv-cv2-cleanslate .bv-core-container-67 .bv-action-bar-header {
     font-weight:400!important;
     float:none!important;
     text-align: left!important;
     padding-top:20px!important;
     color:#03555c!important;
   }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-action-bar button {
    outline:none!important;
    border-radius:0px!important;
    background-image:none!important;
    background-color:#fff!important;
    color:#03555c!important;
    border:1px solid #03555c!important;
    transition:background-color 0.2s ease;
    -webkit-transition:background-color 0.2s ease;
    &:hover {
      background-color:#03555c!important;
      color:#fff!important;
    }
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row span.bv-table-cell:first-of-type {
	width:62px!important;
  	padding-left:0px!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-section-summary-inline .bv-secondary-rating-summary .bv-table .bv-table-row div.bv-table-cell,
  .bv-histogram-filter-helper, .bv-cv2-cleanslate .bv-core-container-67 .bv-control-bar, .bv-popup-prosnap-userinfo.bv-contains-profile-button {
	display:none!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-section-summary-inline .bv-secondary-rating-summary .bv-secondary-rating-summary-list {
  	margin-top:0px!important;
    margin-left:0px!important
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-section-summary .bv-inline-histogram-header .bv-content-title {
  	font-weight:100!important;
    font-size:14px!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-section-summary .bv-content-title {
  	font-size:18px!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-secondary-ratings-container, .bv-cv2-cleanslate .bv-core-container-67 .bv-content-secondary-ratings-value {
  	border-radius:0px!important;
    background-image:none!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-item .bv-content-btn, .bv-cv2-cleanslate .bv-core-container-67 .bv-content-item .bv-content-feedback-vote.bv-content-feedback-vote-active button.bv-content-report-btn {
  	color:#fff!important;
    background-image:none!important;
    border:none!important;
    outline:none!important;
    padding:4px 16px!important;
    box-shadow:none!important;
	border:1px solid #03555c!important;
    font-family:Roboto Condensed,sans-serif!important;
    font-weight:100!important;
    font-size:14px!important;
    &:hover {
      color:#03555c!important;
      background-color:#fff!important;
    }
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-data dl dd, .bv-cv2-cleanslate .bv-core-container-67 .bv-content-data-label-container .bv-content-data-label,
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-summary p, .bv-cv2-cleanslate .bv-core-container-67 .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author.bv-fullprofile-popup-target h3 {
  	font-family:Roboto Condensed,sans-serif!important;
    font-weight:100!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-title {
  	font-weight:400!important;
  }
  .bv-content-actions-container.bv-active-feedback {
  	padding-left:0px!important;
  }
  .bv-cv2-cleanslate .bv-core-container-67 .bv-content-item.bv-content-review .bv-author-profile .bv-inline-profile .bv-author.bv-fullprofile-popup-target h3 {
  	outline:none!important;
  }
}

#bv-mboxzone-lightbox .bv-mbox-wrapper.bv-mbox-content-submission-review.bv-mbox-wide.bv-mbox-box {
  background-color:#fff!important;
}


/* WIP Blockshop - 19/03/2020 - styled ingredients section on product display page */
.background--sand {
  background-color:#ead3c4;
}
.ingredients__title{
  color:#640909;
  margin-bottom:0;
  font-weight:100;
}
.decoration-after:after {
  content:"";
  border-bottom:1px solid;
  display:block;
  height:1px;
  margin:1.5rem 0;
  width:32px;
}

.ingredient__copy,.ingredient__title{
  color:#640909;
}

.ingredients {
  padding:4rem 0;
  .container {
    margin:0 auto;
    max-width:1520px;
    width:calc(100% - 2rem);
  }
  .ingredient {
  	float:left;

    width:50%;
    margin-bottom:42px;
  }
  .subtitle-1 {
  	font-family: Roboto Condensed,sans-serif;
    font-size:16px;
    font-weight:400;
    letter-spacing:0;
    line-height:1.4;
    text-transform:none;
    margin-bottom:1rem;
  }
  .ingredient__copy {
    font-family: Roboto Condensed,sans-serif;
  }
  .row {
  	display:block;
    margin-bottom:1rem;
    width:100%;
  }
  @media (min-width:64em) {
    .subtitle-1 {
      font-size:18.4px;
    }
  }
}

@media (min-width:48em){
  .ingredients{
    padding:6rem 0;
    .container {
      width:calc(100% - 5rem);
    }
  }
}

@media only screen and (max-width: 500px) {
  .ingredients {
  	.ingredient {
      width:100%;
  	}
    .row {
      margin-bottom:0px;
    }
  }
}


/* WIP Blockshop - 19/03/2020 - styled how to use section on product display page */
.background--plaster-light {
  background-color:#f8f7f3;
}
.howtouse {
  padding:4rem 0;
  .container {
  	margin: 0 auto;
    max-width:1520px;
    width:calc(100% - 2rem);
  }
  .container-sub {
  	margin: 0 auto;
    width:90%;
  }
  .row {
  	display:grid;
    grid-gap:1rem;
    grid-template-columns: repeat(12,fr1);
    width:100%;
  }
  .row .col.offset-xs12, .row .col.xs12 {
  	grid-column-end: span 12;
  }
  .button.button--primary.button--outlined {
  	background-color:transparent;
    border:1px solid #03555c;
    color:#03555c;
    &:hover {
      color:#fff;
      background-color:#03555c;
    }
  }
}
.howtouse .image-container,.howtouse .video-container{
  margin-top:4rem;
}
.howtouse__image {
  background-position:50%;
  background-size:cover;
  width:100%;
}
.howtouse .h4 {
  color:#03555c;
  font-weight:400;
}
.howtouse .body-2{
  margin-bottom:2rem;
}
@media (max-width:47.99em){
  .howtouse .col.xs12 .container--sub{
    padding:0 2rem;
    width:100%;
  }
  .howtouse .image-container,.howtouse .video-container,.howtouse__image{
    margin-left:-1rem;
    width:calc(100% + 2rem)
  }
}
@media (min-width:48em){
  .howtouse {
    padding:6rem 0;
    .row {
      grid-gap:2.5rem;
    }
    .row .col.m4, .row .col.offset-m4 {
      grid-column-end: span 4;
    }
    .container {
      width:calc(100% - 5rem);
    }
  }
  .howtouse .image-container,.howtouse .video-container{
    margin:0;
  }
  .howtouse .centered{
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
  }
  .howtouse .centered .container--sub{
    max-width:320px;
  }
}
@media (max-width:63.99em){
  .howtouse .container{
    width:100%;
  }
}
.cssgridlegacy .howtouse .video-container,.no-cssgrid .howtouse .video-container{
  margin-bottom:1rem;
}
@media (min-width:48em){
  .cssgridlegacy .howtouse,.no-cssgrid .howtouse{
    padding:6rem 0;
  }
  .cssgridlegacy .howtouse .row,.no-cssgrid .howtouse .row{
    -ms-flex-align:start;
    align-items:flex-start;
    display:-ms-flexbox;
    display:flex
  }
  .cssgridlegacy .howtouse .centered,.no-cssgrid .howtouse .centered{
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
  }
  .cssgridlegacy .howtouse .centered .container--sub,.no-cssgrid .howtouse .centered .container--sub{
    max-width:320px;
  }
}

/* WIP Blockshop - 19/03/2020 - styled UGC */
.bv-curations-cleanslate .bv-lightbox-theme-minimalist .fm-carousel-wrapper {
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items {
  	left:0px!important;
  }
  .bv-fm-shopnow-carousel-header {
  	margin-top:10px!important;
    color:#00AB8E!important;
    font-weight:400!important;
  }
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items .bv-fm-shopnow-carousel-product-image {
	width:100%!important;
  }
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items .bv-fm-shopnow-carousel-product-info .bv-fm-shopnow-carousel-product-name {
  	text-align:left!important;
    font-size:10px!important;
    font-weight:400!important;
    line-height:14px!important;
    min-height:28px!important;
  }
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items .bv-fm-shopnow-carousel-product-info .bv-fm-ratingstars-container .bv-fm-update-ratingstars {
  	float:left!important;
    margin-top:10px!important;
  }
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items .bv-fm-shopnow-carousel-product-info .bv-fm-rating-statistics {
  	float:left!important;
    clear:both!important;
  }
  .bv-fm-shopnow-carousel .bv-fm-shopnow-body .bv-fm-shopnow-carousel-items .bv-shopnow-button {
  	float:left!important;
    &:hover {
      background-color:#01937a!important;
    }
  }
}

/* WIP Blockshop - 19/03/2020 - styled boost search page and filters */
#bc-sf-filter-products {
  .product--root .product--details {
    .product--title {
      text-align:left;
    }
    a:last-child {
      float:left;
      display:block;
      font-size:12px;
    }
  }
}

{% comment %}
@media (min-width:1600px){
  #bc-sf-filter-products {
    .product--root {
      width:367px;
    }
  }
}
{% endcomment %}


#bc-sf-filter-tree-h .bc-sf-filter-option-block .bc-sf-filter-block-title a,
#bc-sf-filter-tree-h .bc-sf-filter-option-block .bc-sf-filter-block-content,
#bc-sf-filter-tree-h .bc-sf-filter-option-block .bc-sf-filter-block-title a.selected div {
  border:none!important;
}

#bc-sf-filter-tree-h .bc-sf-filter-block-content .noUi-target {
  display:none!important;
}

#bc-sf-filter-tree-h .bc-sf-filter-block-content .bc-sf-filter-option-range-amount input {
  width:150px!important;
}

.product--image .iWishAddColl {
  position:absolute;
  right:10px;
  top:10px;
  z-index:99999999;
  height:24px;
  width:20px;
  cursor:pointer;
  &:hover {
  	background-image:url("https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208");
    background-size:20px;
    background-repeat:no-repeat;
    background-position:0px 3px;
    img {
      display:none;
    }
  }
}

.product--image .iWishAddColl.iwishAdded {
  background-image:url("https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208");
  background-size:20px;
  background-repeat:no-repeat;
  background-position:0px 3px;
}

.product--root .product--details {
  .card__review-container {
  	display:block;
    float:left;
    width:100%;
    padding-bottom:10px;
  }
}

body .bc-sf-search-suggestion-wrapper-style2 .bc-sf-search-suggestion-header-view-all {
  padding-right:0px!important;
  width:73%;
}

/* WIP Blockshop - 20/03/2020 - styled header */
header.header--root {
  padding-top:10px;
  .hd-icons {
    .header--cart {
      top:-3px;
    }
  }
  .header--bottom-row {
  	padding-top:0px;
    .x-menu--level-1--link>a {
      padding-bottom:20px;
      font-weight:600;
    }
  }
  .x-menu--overlap-icon {
  	top:15px;
  }
}

@media only screen and (max-width: 768px) {
  .header--menu .header--cart {
    margin-top:4px;
  }
}

@media only screen and (max-width: 500px) {
  .header--mobile .header--cart {
    top:7px;
    right:40px;
  }
  .header--mobile .header--mobile--title {
  	margin:0 auto;
    margin-right:50px;
  }
  .header--mobile--menu .fw--icon--menu {
  	margin-top:6px;
  }
}

.header--top-row>* {
  padding:2px;
}

/* WIP Blockshop - 20/03/2020 - style product style button */
.product--root a .product--sale {
  right:52px;
  background-color:#03555c;
}

/* WIP Blockshop - 20/03/2020 - style sort option */
.section--collection #bc-sf-filter-top-sorting label {
  display:none;
}

#shopify-section-collection {
   #bc-sf-filter-collection-header {
  	font-weight:500;
  }
  .header-paging .pagination {
  	float:right;
	.arrow.right a, .arrow.left a {
      font-size:12px;
      margin-top:2px;
    }
  }
  #bc-sf-filter-default-toolbar {
  	display:block;
    position:absolute;
    right:0px;
    margin-right:40px!important;
    padding-top:16px!important;
    padding-left:25px;
    .bc-sf-filter-filter-dropdown {
      line-height:33px;
      height:33px;
      border:none;
      outline:none;
      padding-right:20px;
    }
  }
}

/* WIP Blockshop - 23/03/2020 - Changed weglot Taiwan flag to hong kong */
.wg-li.flag-1.tw a:before{
  background-image:url(https://cdn.shopify.com/s/files/1/0052/0041/2758/files/Flag_of_Hong_Kong.svg?v=1584965296);
  background-position: center!important;
}

/* WIP Blockshop - 24/03/2020 - styled cookie banner for small screen */
@media only screen and (max-width: 1536px) {
  .CMP_intro_container-thin .CMP_intro_btns button {
    width:160px;
  }
}

/* WIP Blockshop - 24/03/2020 - styled accordion on PDP */
.accordion-wrapper ul.accordion li {
  border-bottom:1px solid #d8d6d4;
  &.active {
    .content {
      padding-bottom:20px;
      padding-left:10px;
      padding-right:0px;
      div{
        font-size:12px;
        font-weight:500;
      }
    }
    .trigger:after {
      content: '';
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-color: #03555c;
      border-width: 0px 1px 1px 0px;
      transform: rotate(223deg);
      transition: border-width 150ms ease-in-out;
      position:absolute;
      top:15px;
      right:0px;
      cursor:pointer;
    }
    .accordion__content--limited-height {
      max-height:150px;
      overflow-y:scroll;
    }
    .accordion__content--limited-height::-webkit-scrollbar-thumb {
      background: #03555c;
      border-radius: 4px;
    }
    .accordion__content--limited-height::-webkit-scrollbar {
      width:.25rem;
    }
  }
  .trigger {
  	padding:6px 23px;
    padding-left:0px;
    position:relative;
    div {
      font-size:14px;
      font-weight:500;
    }
    .bg {
      background-color:transparent;
    }
    &:after {
      content: '';
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-color: #03555c;
      border-width: 0px 1px 1px 0px;
      transform: rotate(45deg);
      transition: border-width 150ms ease-in-out;
      position:absolute;
      top:10px;
      right:0px;
      cursor:pointer;
    }
  }
  .content {
    padding-left:0px;
    padding-top:0px;
  }
}

/* WIP Blockshop - 24/03/2020 - styled icons in header  */
.header--account-icon svg, .header--search svg {
  width:24px;
  height:24px;
}

.x-menu li:nth-child(5) {
  position:relative;
  &:after {
    content:'';
    height:12px;
    width:2px;
    display:block;
    background-color:#3C3C3C;
    position:absolute;
    right:0px;
    top:16px;
  }
}

/* WIP Blockshop - 24/03/2020 - removed payments from footer  */
.footer--root .payment-icons--root {
  display:none;
}

/* WIP Blockshop - 25/03/2020 - styled heading in carousel  */
.section--slideshow .slider .slide .caption .font--section-heading {
  font-size:34px;
}
.section--slideshow .slider .slide .caption .sub-title {
  font-size:18px;
}

/* WIP Blockshop - 25/03/2020 - styled buttons  */
.section--slideshow .slider .slide .caption a.font--button,
.template-index #shopify-section-1584436963433 .featured-grid--root .featured-grid--body .featured-grid--item--link-container,
.custom-btn-add button#add {
  min-width:180px;
  min-height:45px;
  text-align:center;
}

.template-index #shopify-section-1584436963433 .featured-grid--root .featured-grid--body .featured-grid--item--link-container {
  line-height:23px;
}

.custom-btn-add button#add {
  font-size:14px;
  font-weight:600;
}

/* WIP Blockshop - 25/03/2020 - styled homepage  */
#shopify-section-1585128719910 {
  .featured-text--root {
  	padding-bottom:0px;
  }
  .featured-text--container{
  	max-width:100%;
    padding-left:12px;
  }
  .featured-text--heading.font--section-heading {
  	font-weight:500;
    text-align:left;
  }
  .featured-text--body p {
  	text-align:left;
    font-weight:400;
  }
}

.template-index .section--featured-collection .product-slider {
  padding-bottom:72px;
  .font--section-heading {
  	text-align:left;
  }
}

@media only screen and (max-width: 500px) {
  .header--mobile {
  	padding-top:0px;
    padding-bottom:4px;
  }
  .section--slideshow .slider .slide {
    height:250px;
  }
  .section--slideshow .slider .slide .caption .font--section-heading {
  	font-size:22px;
  }
  .section--slideshow .slider .slide .caption .sub-title {
  	font-size:14px;
  }
}

/* WIP Blockshop - 25/03/2020 - styled iwish for mobile  */
@media only screen and (max-width: 500px) {
  .header--mobile .wishlist .iWishCount{
    right:-17px;
    top:4px;
  }
}

/* WIP Blockshop - 26/03/2020 - styled PDP  */
.template-product article .quanity-cart-row .quantity {
  margin-right:0px;
  width:100%;
  display:table;
  max-width:100%;
  label {
  	float:left;
    margin-top:10px;
    font-weight:500;
  }
  input {
  	float:right;
    width:125px;
    text-align:center;
  }
}

.product-wish {
  margin-top:20px;
  margin-left:0px;
  .iwishAddWrap {
  	text-align:center;
    a {
    	background-image:url(https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart.svg?v=1583499456);
      	background-repeat:no-repeat;
      	background-size:18px;
      	background-position:100% 2px;
      	width:176px;
      	display:block;
      	margin:0 auto;
      	font-weight:500;
      	transform:background-image ease 0.2s;
      	-webkit-transform:background-image ease 0.2s;
      &:hover {
      	background-image:url(https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208);
      }
      &.iwishAdded {
        background-image:url(https://cdn.shopify.com/s/files/1/0052/0041/2758/files/heart-hover.png?v=1583752208);
        color:#03555c;
      }
    }
  }
}

/* WIP Blockshop - 26/03/2020 - styled Homepage  */
.section--slideshow .slider .slide .caption a.font--button {
  border: 1px solid #000;
  font-weight:600;
}

#shopify-section-1585128719910 .featured-text--body {
  margin-bottom:0px;
  line-height:27px;
  p {
  	font-size:22px;
    max-width:1000px;
  }
}

#shopify-section-1585130349939 .product-slider.length--39 {
  padding-bottom:40px;
  padding-top:0px;
}

.instafeed__header {
  text-align:left;
  h3 {
  	display:block;
  }
}

#shopify-section-1584436963433 .featured-grid--header {
  max-width:1170px;
  text-align:left;
}

@media only screen and (max-width: 1540px) {
  #shopify-section-1584436963433 {
  	padding-top:2px;
  }
}

@media only screen and (max-width: 1023px) {
  .x-menu[data-x-menu--overlap='true'] {
  	height:10px;
  }
  header.header--root .x-menu--overlap-icon {
  	top:-31px;
  }
}

@media only screen and (max-width: 740px) {
  .section--slideshow .slider .slide .caption .sub-title, .section--slideshow .slider .slide .caption .font--section-heading {
  	color:#000;
  }
  .header--mobile .wishlist .iWishCount {
  	right:-19px;
  }
}

@media only screen and (max-width: 500px) {
  #shopify-section-1585128719910 .featured-text--container {
    padding-left:0px;
  }
  #shopify-section-1585128719910 .featured-text--body p {
  	font-size:10px;
  }
  #shopify-section-1585128719910 .featured-text--heading.font--section-heading {
  	font-size:15px;
  }
}

.CMP_popup_content {
  display:none;
}

.template-page .main-content .row.single-column {
  max-width:1000px;
}

.hulk_cookie_bar {
  z-index:99999999!important;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .product-page--images {
    grid-column: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .product-page--images {
    grid-column: 1;
  }
}

@media only screen and (max-width: 1540px) {
  .custom-product-details .product--title, .product--price {
    min-height:50px;
  }
}


@media only screen and (max-width: 900px) {
  .custom-product-details .product--title, .product--price {
    font-size:11px;
  }
}

.product-recommendations--title {
  text-align:left;
  max-width:1166px;
  margin:0 auto;
}

/* WIP Blockshop - 27/03/2020 - styled Homepage  */
@media only screen and (max-width: 900px) {
  .iwishItem {
    width:48%!important;
  }
}

@media only screen and (max-width: 600px) {
  .iwishItem {
    width:100%!important;
  }
  .customer--root {
    #guest {
      margin-top:30px;
      input {
      	width:100%;
      }
    }
  }
}

/* WIP Blockshop - 27/03/2020 - styled Homepage  */
.font--button.product-page--smart-payment-buttons .shopify-payment-button__button--unbranded, button#add {
  font-weight:600;
  outline:none;
}

.template-index .main-content, .template-page .main-content {
  padding-top:156px;
}

.template-collection .main-content {
  padding-top:156px;
}

/* WIP Blockshop - 30/03/2020 - styled sticky header  */
.sticky-header {
  position:fixed;
  top:0px;
  width:100vw;
  z-index:9999999;
  &.stuck-header {
  	border-bottom: 1px solid #EBEBEB;
  }
}

@media only screen and (max-width: 768px) {
  .header--menu .header--cart {
  	top:-40px;
  }
  .header--menu .wishlist {
  	margin-top:-32px;
  }
  .main-content {
  	padding-top:120px;
  }
  .template-index .main-content {
  	padding-top:110px;
  }
  .custom-btn-add button#add {
  	min-width:150px;
  }
}

@media only screen and (max-width: 600px) {
  .sticky-header header.header--root {
    padding-top:0px;
  }
  .main-content {
  	padding-top:100px!important;
  }
  .template-index .main-content {
  	padding-top:60px;
  }
  .left.columns.large-6, .right.columns.large-6 {
  	width:50%;
  }
  .left.columns.large-6 {
    #bc-sf-filter-collection-header {
    	padding-bottom:5px;
    }
    ul {
      padding-bottom:20px;
    }
  }
  .right.columns.large-6 {
  	padding-top:23px;
  }
  header div.title a {
  	background-image:url(https://cdn.shopify.com/s/files/1/0052/0041/2758/files/CE-Logo.svg?v=1585566060);
    background-repeat:no-repeat;
    background-size:93px;
    height:40px;
    width:100px;
    display:block;
    margin-left:8px;
    img {
      display:none;
    }
  }
  .header--mobile .header--mobile--title {
  	margin-right:auto;
    margin-top:8px;
  }
  .header--mobile .wishlist {
  	margin-right:48px;
  }
  .header--mobile .header--search {
  	order:inherit;
    margin-top:10px;
    margin-left:10px;
  }
  #shopify-section-1583172507889 .instafeed {
  	.bv-curations-cleanslate.bv-carousel-wrapper .fm-carousel.bv-carousel-theme-minimalist {
      height:288px!important;
      .fm-carousel-wrapper {
      	height:288px!important;
      }
  	}
    .bv-curations-cleanslate .fm-carousel .fm-update {
      height:288px!important;
      width:288px!important;
    }
  }
  .custom-btn-add button#add {
  	min-width:auto;
  }
}

#bc-sf-filter-products .product--root .product--details .product--title {
  font-weight:500;
  text-transform:capitalize;
}

/* WIP Blockshop - 31/03/2020 - Pushed content down  */
.main-content {
  padding-top:156px;
}

@media only screen and (max-width: 600px) {
  #s-b537db01-be21-446f-8e8d-e5a7d481ffab .shogun-tabs > li > .shogun-tab-box > .shogun-tab-title {
    font-size:10px!important;
  }
  .instafeed {
  	margin-top:0px;
    margin-bottom:0px;
  }
  .template-collection .main-content {
  	padding-top:70px;
  }
}


/* WIP Blockshop - 01/03/2020 - zendesk for mobile  */
@media only screen and (max-width: 600px) {
  body iframe.zEWidget-webWidget.zEWidget-webWidget--active {
    max-height:550px;
    bottom:0px;
    top: auto!important;
  }
}

/* WIP Blockshop - 01/03/2020 - moved filter around PLP */
#bc-sf-filter-tree-h {
  float:left;
  padding-top:10px;
  width:100%
}

.collection footer {
  .left .breadcrumbs {
  	padding-bottom:0px;
  }
  .right.columns.large-6 {
  	width:100%;
    #bc-sf-filter-load-more {
      padding-top:0px;
      padding-bottom:50px;
      #bc-sf-filter-load-more-total {
      	margin-top:0px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #shopify-section-collection #bc-sf-filter-default-toolbar {
  	padding-top:6px!important;
    padding-bottom:8px;
    margin-right:20px!important;
  }
  #shopify-section-collection .bc-sf-filter-toolbar-item.text-right select {
  	margin-top:16px;
  }
  #bc-sf-filter-tree-mobile {
  	margin-top:40px!important;
  }
}

#footer_form {
  position:relative;
}
.newsletter-form__checkbox.checkbox-wrapper {
  position:absolute;
  bottom:-40px;
  left:0px;
  display:table;
  label {
  	float:right;
    cursor:pointer;
    font-size:11px;
    font-weight:600;
  }
}

/* WIP Blockshop - 03/03/2020 - fixing PDP checkout */
.template-product article .quanity-cart-row {
  display:table;
  width:100%;
  .add-to-cart {
  	margin-top:15px;
  }
}

/* WIP Blockshop - 03/03/2020 - styled register issue */
.page--account .layout--main-content, .page--create-account .layout--main-content, .page-create-account .main-content, .page--reset-account .layout--main-content, .page-reset-account .main-content {
  padding-top:100px;
}

.template-cart .main-content {
  padding-top:85px;
}

/* WIP Blockshop - 04/03/2020 - removed unwanted info from product */
.cart--item-properties {
  display:none;
}

/* WIP Blockshop - 04/03/2020 - removed part of reviews on PDP */
body #shopify-section-framework--product-reviews {
  .bv-cv2-cleanslate .bv-core-container-59 .bv-syndication-summary,
  .bv-cv2-cleanslate .bv-core-container-59 .bv-product-family-summary,
  .bv-cv2-cleanslate .bv-core-container-59 .bv-control-bar, .bv-content-item.bv-stub-content-item.bv-focusable {
  	display:none!important;
  }
}

/* WIP Blockshop - 04/03/2020 - fixed zendesk height */
@media only screen and (max-height: 700px) {
  .zEWidget-webWidget.zEWidget-webWidget--active {
    max-height:465px!important;
  }
}

.site-footer__logo-col.col.xs12.l2 {
  margin-right:20px;
}

/* WIP Blockshop - 06/03/2020 - styled insta header */
.instagram--heading.font--section-heading {
  max-width:1390px;
  margin: 0 auto;
  text-align:left;
  a {
  	color:#03555c;
  }
}

/* WIP Blockshop - 06/03/2020 - styled iwish */
.iwishImgWrap {
  height:auto!important;
}

.iwishMeta-title, .iwishMeta-price, .iwishMeta-variant-title {
  float:left;
  clear:both;
  width:150px;
  text-align:left;
}

.iwishRemoveBtn {
  float:left;
  clear:both;
}

.template-product__reviews.reviews.section .bv-cv2-cleanslate .bv-core-container-59 .bv-action-bar button {
  background-color:transparent!important;
  color:#03555c!important;
  border-radius:0px!important;
  border: 1px solid #03555c!important;
  &:hover {
  	background-color:#03555c!important;
    color:#fff!important;
  }
}

@media only screen and (max-width: 600px) {
  .instagram--heading.font--section-heading {
  	padding-left:15px;
  }
}

/* WIP Blockshop - 07/04/2020 - zendesk for mobile  */
@media only screen and (max-height: 700px) {
  .zEWidget-webWidget.zEWidget-webWidget--active {
    max-height:450px!important;
    bottom:0px!important;
    top: auto!important;
  }
}

/* WIP Blockshop - 16/04/2020 - styled checkbox for mobile  */
@media only screen and (max-width: 600px) {
  .newsletter-form__checkbox.checkbox-wrapper {
  	bottom:-30px;
  }
}

/* WIP Blockshop - 13/05/2020 - Removed review text from stars  */
.custom-product-details .yotpo-display-wrapper .yotpo-bottomline.pull-left a.text-m {
  display:none;
}

.yotpo-display-wrapper .yotpo-bottomline.pull-left a.text-m {
  padding-left:5px;
}

.main-widget.yotpo-display-wrapper {
  max-width:1445px;
  margin: 0 auto;
}

/* WIP Blockshop - 10/06/2020 - styled text on image on homepage  */
.featured-content--root[data-text-position="center"] .featured-content--text {
  left:198px;
  margin:20px 55px 30px;
  max-width:400px;
  min-width:auto;
  h2, p {
  	text-align:left;
  }
  h2 {
  	width:160px;
  }
  p{
  	width:180px;
  }
  a {
  	float:left;
    background-color:#fff;
    color:#000;
    border: 1px solid #000;
    font-weight:600;
    font-size:14px;
    min-width:180px;
    min-height:45px;
    line-height:26px;
    padding-top:8px;
    &:hover {
      background-color:#000;
      color:#fff;
    }
    &:after {
      border-bottom:none;
    }
  }
}

@media only screen and (max-width: 787px) {
  .featured-content--root[data-text-position="center"] .featured-content--text {
    padding-left:16px;
    background-color:#fff;
  }
  #shopify-section-1591798481203 .featured-content--root {
    padding:0px;
  }
}

/* WIP Blockshop - 15/06/2020 - styled newsletter popup  */
body .popup-modal.completed {
  flex-direction:column;
  min-height:450px;
  display:table;
  width:580px;
  top:60%!important;
  .popup-image {
  	min-height:100px;
    max-width:100%;
    background-size:88%;
    background-repeat:no-repeat;
    background-color:#F8F7F3;
  }
  .inner {
    background-color:#F8F7F3;
    max-width:100%;
    padding: 2em 5em;
    padding-top:28px;
	text-align:left;
    [type='email'] {
      background-color:transparent;
      border:none;
      border-bottom:1px solid #000;
      max-width:100%;
      margin-top:20px;
      &:focus {
      	outline:none;
      }
    }
    input[type='checkbox'] {
      float:left;
      margin-top:5px;
    }
    [type='submit'] {
      width:150px;
      background-color:#fff;
      color:#000;
      border-radius:0px;
      border:1px solid #000;
      font-weight:bold;
      overflow:hidden;
      &:hover {
      	background-color:#000;
        color:#fff;
      }
    }
    .popup--heading {
      font-weight:bold;
      font-size:26px;
    }
    span {
      display:block;
      color:#B1B1AE;
      font-size:12px;
    }
  }
  .checkbox__label {
    text-transform:none;
    font-size:12px;
    color:#B1B1AE;
    padding-bottom:20px;
    cursor:pointer
  }
}

@media only screen and (max-width: 787px) {
  body .popup-modal.completed {
  	top:50%!important;
  }
}

@media only screen and (max-width: 767px) {
  body .popup-modal.completed {
  	width:360px;
    .popup-image {
      min-height:65px;
      img {
        display:block;
      }
    }
    .inner {
      padding:2em 1em;
      .popup--heading {
      	font-size:18px;
      }
      [type='email'] {
      	margin-top:0px;
      }
    }
  }
}
