/*  4.3 - Collection
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section--collection {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [main-start] minmax(0, 156rem) [main-end]
    minmax(2rem, 1fr) [full-end];

  .collection {
    grid-column: main;
  }
}

.template-collection .main-content {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .template-collection .main-content .row {
    margin: 0 -16px;
    width: calc(100% + 32px);
  }
}

#shopify-section-collection {
  .template-collection .main-content header .tag-filter {
    display: block;
    float: right;
  }

  .header-paging {
    float: right;
    display: block;
    margin-left: 30px;

    .pagination {
      margin-top: 0px;
    }
  }
}

.template-collection .main-content header .tag-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0 15px 0;
}

.template-collection .main-content header .tag-filter .title {
  margin-right: 5px;
  text-transform: capitalize;
}

.template-collection .main-content header .tag-filter form.custom {
  display: inline-block;
  vertical-align: top;
}

.template-collection
  .main-content
  header
  .tag-filter
  form.custom
  .custom.dropdown {
  margin: 0;
}

.template-collection
  .main-content
  header
  .tag-filter
  form.custom
  .custom.dropdown
  ul {
  left: auto;
  right: -1px;
  text-align: left;
}

.template-collection .main-content .tags-listbox {
  margin-bottom: 0;
}

.template-collection .main-content .product-grid {
  margin: 30px auto 0;
}

.template-collection .main-content .divider.bottom-margin {
  margin-bottom: 20px;
}

.template-collection .main-content footer .right .pagination {
  float: right;
}

.collection--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 32px 32px 16px 32px;
  text-align: center;
}

.collection--header > *:not(:last-child) {
  padding-bottom: 16px;
}

.collection--description {
  max-width: 600px;
}
