/* 404
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.template-404 {
  .global-header.sticky-header {
    position: relative;
  }

  .main-content {
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;

    .shopify-section {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-flow: column;
    }
  }

  a {
    text-decoration: underline;
  }
}
