/*  4.3 - Collection
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  .collection-item {
    position: relative;
    align-self: center;

    .caption {
      transition: 0.4s opacity ease-in-out;
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        opacity: 0.9;
        z-index: 0;
      }

      .inner {
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -20px;
        width: 100%;
        text-align: center;
      }
    }

    &:hover .caption {
      opacity: 1;
    }
  }
}

footer {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}
