@import "./abstracts/variables";
@import "./abstracts/mixins";

.template-product {
  h1 {
    @include font-size(2.8);
    letter-spacing: 0.75px;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 1.6rem;
  }

  p {
    font-weight: 300;
    padding-bottom: 3.2rem;
  }

  .actual-price {
    @include font-size(2);
  }
}

.product-page--cart-form form {
  width: 50%;
  max-width: 25rem;
  margin-bottom: 2.5rem;

  .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      text-transform: uppercase;
    }

    input {
      border: 1px solid #ebebeb;
      width: 12.5rem;
      text-align: center;
    }
  }
}
