@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header--currency select {
    width: 80px;
    padding-right: 10px;
  }
}

@import "abstracts/abstracts";
@import "base/base";
@import "components/components";
@import "sections/sections";
@import "utilities/utilities";
