.accordion {
  dt {
    border-bottom: 1px solid #d8d6d4;
    font-weight: 400;
    @include font-size(1.4);
    padding: 1rem 0;
    position: relative;

    &:after {
      content: "";
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      border-style: solid;
      border-color: #03555c;
      border-width: 0px 1px 1px 0px;
      transform: rotate(45deg);
      transition: border-width 150ms ease-in-out;
      position: absolute;
      top: 10px;
      right: 0px;
      cursor: pointer;
    }

    &.active {
      border-bottom: none;

      &:after {
        transform: rotate(223deg);
        top: 15px;
      }
    }

    a {
      display: block;
    }
  }

  dd {
    border-bottom: 1px solid #d8d6d4;
    padding-bottom: 2rem;
  }

  .accordion-content--limited-height {
    max-height: 150px;
    overflow-y: scroll;
  }
}
