/* Breadcrumbs */
.breadcrumbs {
  font-weight: 300;
  display: flex;
  padding: 0.5625em 0.875em 0.5625em 0;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f6f6;
  border-color: gainsboro;
  border-radius: 3px;

  li {
    margin-left: 0;

    a {
      text-decoration: underline;
    }
  }

  > * {
    display: inline-flex;
    align-items: center;

    &.current {
      cursor: default;
      color: #333;

      a {
        cursor: default;
        color: #333;
      }
    }

    &.unavailable {
      color: #999;

      a {
        color: #999;
      }
    }

    &:before {
      content: "/";
      color: #aaa;
      margin: 0 0.75em;
      position: relative;
      top: 1px;
    }

    &:first-child:before {
      content: " ";
      margin: 0;
    }
  }
}

.fw--breadcrumbs {
  width: 100%;

  li {
    margin: 0;

    &:not(:last-of-type):after {
      content: " /";
    }
  }
}

/*  3.3 - Breadcrumbs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.breadcrumbs {
  background: none;
  border: 0;
  padding-bottom: 35px;

  * {
    text-transform: capitalize !important;

    &:before {
      color: $text;
      margin: 0 12px;
    }

    a {
      color: $text;
    }
  }
}
