.button,
a.font--button,
.font--button,
.font--button--inverted,
.font--secondary-button,
.font--secondary-button--inverted,
button input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  border-radius: 2px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 16px;
  vertical-align: bottom;
  width: auto;
  zoom: 1;
}

.button.compact,
.button[data-height="compact"],
a.font--button.compact,
a.font--button[data-height="compact"],
.font--button.compact,
.font--button[data-height="compact"],
.font--button--inverted.compact,
.font--button--inverted[data-height="compact"],
.font--secondary-button.compact,
.font--secondary-button[data-height="compact"],
.font--secondary-button--inverted.compact,
.font--secondary-button--inverted[data-height="compact"],
button input[type="button"].compact,
button input[type="button"][data-height="compact"],
input[type="reset"].compact,
input[type="reset"][data-height="compact"],
input[type="submit"].compact,
input[type="submit"][data-height="compact"] {
  height: 29px;
  line-height: 29px;
}

.button:focus,
a.font--button:focus,
.font--button:focus,
.font--button--inverted:focus,
.font--secondary-button:focus,
.font--secondary-button--inverted:focus,
button input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background: $button-bg;
}

.button:link,
a.font--button:link,
.font--button:link,
.font--button--inverted:link,
.font--secondary-button:link,
.font--secondary-button--inverted:link,
button input[type="button"]:link,
input[type="reset"]:link,
input[type="submit"]:link {
  color: $button;
}

.button:visited,
a.font--button:visited,
.font--button:visited,
.font--button--inverted:visited,
.font--secondary-button:visited,
.font--secondary-button--inverted:visited,
button input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
  color: $button;
}

.button:hover,
a.font--button:hover,
.font--button:hover,
.font--button--inverted:hover,
.font--secondary-button:hover,
.font--secondary-button--inverted:hover,
button input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: $button;
  background: $button-bg;
}

.no-touchevents .button,
.no-touchevents a.font--button,
.no-touchevents .font--button,
.no-touchevents .font--button--inverted,
.no-touchevents .font--secondary-button,
.no-touchevents .font--secondary-button--inverted,
.no-touchevents button input[type="button"],
.no-touchevents input[type="reset"],
.no-touchevents input[type="submit"] {
  transition-property: color, border-color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button[disabled],
input[disabled] {
  cursor: default;
}

button#add {
  background-color: transparent;
  color: #000;
  letter-spacing: 2px;
  border-radius: 0px;
  border: 1px solid #000;
  padding: 0px 26px;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* Next/Prev btn
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.previous-next.row {
  display: none;
}

/* Login buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
input[type="submit"].account--sign-in {
  background-color: #03555c;
  border: 0px;
  outline: none;
}
.font--secondary-button:link,
.font--secondary-button:visited,
a.font--secondary-button:link,
a.font--secondary-button:visited,
.font--button.account--create {
  background-color: #2c7379 !important;
  border: 0px;
  color: #fff !important;
  height: 45px;
  line-height: 45px;
}
