.cart-root {
  svg {
    width: 7px;
  }

  &[data-view="mobile"] {
    padding: 0 2rem;

    .cart--item {
      display: grid;
      column-gap: 1rem;
      grid-template-columns: auto auto 25% auto;
      grid-template-areas: "header header" "image info";
    }

    .cart--item--title {
      grid-area: header;
    }
    .cart--item--image {
      grid-area: image;
    }
    .cart--item--info {
      grid-area: info;
    }

    &[data-has-items="false"] {
      .cart--form {
        display: none;
      }
    }

    &[data-has-items="true"] {
      .cart--no-items {
        display: none;
      }
    }
  }

  &[data-view="desktop"] {
    max-width: 1100px;
    margin: 0 auto 2rem;

    .cart--head {
      display: grid;
      row-gap: 2rem;
      column-gap: 2rem;

      @include desktop {
        grid-template-columns: 25% 50% 25%;
      }
    }

    .cart--form {
      display: grid;
      row-gap: 2rem;

      @include desktop {
        grid-template-columns: 60% 40%;
      }
    }

    .input--number {
      border: none;
    }

    .remove {
      color: red;
    }

    .cart--item {
      margin-bottom: 1rem;
    }

    &[data-has-items="true"] {
      .cart--no-items {
        display: none;
      }
    }
  }
}
