/* Cookie
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.CMP_intro_container {
  padding-bottom: 0px !important;
}
.CMP_intro_container-thin .CMP_intro_btns {
  display: table !important;
}
.CMP_intro_container-thin .CMP_intro_btns button {
  width: 180px;
  float: left;
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px !important;
}
.CMP_layout_row.CMP_intro_footer {
  padding-top: 0px !important;
}

@media only screen and (max-width: 1000px) {
  .CMP_intro_container.CMP_intro_container-thin {
    display: table !important;

    .CMP_intro_description {
      display: block !important;
      width: 100% !important;
    }

    .CMP_intro_btns {
      display: block !important;
      float: left;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .CMP_intro_container-thin .CMP_intro_btns button {
    width: 100% !important;
  }
}
