/* Feedback bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.feedback-bar--root {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
  text-align: center;
  width: 100%;

  @include desktop {
    padding: 16px 32px;
  }

  &[data-feedback-bar--open="true"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &[data-feedback-bar--open="false"] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
}

.feedback-bar--message {
  display: inline-block;
  padding: 20px 32px;
  background-color: $text;
  color: $page-bg;
  border: 1px solid $border;

  span {
    display: none;
  }
}
