.font--button,
a.font--button,
input[type="submit"] {
  background: var(--color-button-bg);
  color: var(--color-button);
  font-family: var(--font--accent--family);
  font-weight: var(--font--accent--weight);
  font-style: var(--font--accent--style);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .font--button,
  a.font--button,
  input[type="submit"] {
    font-size: 13px;
  }
}

.font--button:link,
.font--button:visited,
.font--button:hover,
.font--button:focus,
a.font--button:link,
a.font--button:visited,
a.font--button:hover,
a.font--button:focus,
input[type="submit"]:link,
input[type="submit"]:visited,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: var(--color-button);
  background: var(--color-button-bg);
}

.font--button--inverted,
a.font--button--inverted,
input[type="submit"].font--button--inverted {
  background: var(--color-button-bg);
  color: var(--color-button);
  font-family: var(--font--accent--family);
  font-weight: var(--font--accent--weight);
  font-style: var(--font--accent--style);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  background: var(--color-button);
  color: var(--color-button-bg);
}

@media only screen and (max-width: 767px) {
  .font--button--inverted,
  a.font--button--inverted,
  input[type="submit"].font--button--inverted {
    font-size: 13px;
  }
}

.font--button--inverted:link,
.font--button--inverted:visited,
.font--button--inverted:hover,
.font--button--inverted:focus,
a.font--button--inverted:link,
a.font--button--inverted:visited,
a.font--button--inverted:hover,
a.font--button--inverted:focus,
input[type="submit"].font--button--inverted:link,
input[type="submit"].font--button--inverted:visited,
input[type="submit"].font--button--inverted:hover,
input[type="submit"].font--button--inverted:focus {
  color: var(--color-button);
  background: var(--color-button-bg);
}

.font--button--inverted:link,
.font--button--inverted:visited,
.font--button--inverted:hover,
.font--button--inverted:focus,
a.font--button--inverted:link,
a.font--button--inverted:visited,
a.font--button--inverted:hover,
a.font--button--inverted:focus,
input[type="submit"].font--button--inverted:link,
input[type="submit"].font--button--inverted:visited,
input[type="submit"].font--button--inverted:hover,
input[type="submit"].font--button--inverted:focus {
  background: var(--color-button);
  color: var(--color-button-bg);
}

.font--secondary-button,
a.font--secondary-button,
input[type="submit"].font--secondary-button {
  background: var(--color-button-bg);
  color: var(--color-button);
  font-family: var(--font--accent--family);
  font-weight: var(--font--accent--weight);
  font-style: var(--font--accent--style);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid var(--color-button-bg);
  color: var(--color-button-bg);
  line-height: 41px;
}

@media only screen and (max-width: 767px) {
  .font--secondary-button,
  a.font--secondary-button,
  input[type="submit"].font--secondary-button {
    font-size: 13px;
  }
}

.font--secondary-button:link,
.font--secondary-button:visited,
.font--secondary-button:hover,
.font--secondary-button:focus,
a.font--secondary-button:link,
a.font--secondary-button:visited,
a.font--secondary-button:hover,
a.font--secondary-button:focus,
input[type="submit"].font--secondary-button:link,
input[type="submit"].font--secondary-button:visited,
input[type="submit"].font--secondary-button:hover,
input[type="submit"].font--secondary-button:focus {
  color: var(--color-button);
  background: var(--color-button-bg);
}

.font--secondary-button:link,
.font--secondary-button:visited,
.font--secondary-button:hover,
.font--secondary-button:focus,
a.font--secondary-button:link,
a.font--secondary-button:visited,
a.font--secondary-button:hover,
a.font--secondary-button:focus,
input[type="submit"].font--secondary-button:link,
input[type="submit"].font--secondary-button:visited,
input[type="submit"].font--secondary-button:hover,
input[type="submit"].font--secondary-button:focus {
  color: var(--color-button-bg);
  background: transparent;
}

.font--secondary-button--inverted,
a.font--secondary-button--inverted,
input[type="submit"].font--secondary-button--inverted {
  background: var(--color-button-bg);
  color: var(--color-button);
  font-family: var(--font--accent--family);
  font-weight: var(--font--accent--weight);
  font-style: var(--font--accent--style);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid var(--color-button-bg);
  color: var(--color-button-bg);
  line-height: 41px;
  background: transparent;
  border: 2px solid var(--color-page-bg);
  color: var(--color-page-bg);
}

@media only screen and (max-width: 767px) {
  .font--secondary-button--inverted,
  a.font--secondary-button--inverted,
  input[type="submit"].font--secondary-button--inverted {
    font-size: 13px;
  }
}

.font--secondary-button--inverted:link,
.font--secondary-button--inverted:visited,
.font--secondary-button--inverted:hover,
.font--secondary-button--inverted:focus,
a.font--secondary-button--inverted:link,
a.font--secondary-button--inverted:visited,
a.font--secondary-button--inverted:hover,
a.font--secondary-button--inverted:focus,
input[type="submit"].font--secondary-button--inverted:link,
input[type="submit"].font--secondary-button--inverted:visited,
input[type="submit"].font--secondary-button--inverted:hover,
input[type="submit"].font--secondary-button--inverted:focus {
  color: var(--color-button);
  background: var(--color-button-bg);
}

.font--secondary-button--inverted:link,
.font--secondary-button--inverted:visited,
.font--secondary-button--inverted:hover,
.font--secondary-button--inverted:focus,
a.font--secondary-button--inverted:link,
a.font--secondary-button--inverted:visited,
a.font--secondary-button--inverted:hover,
a.font--secondary-button--inverted:focus,
input[type="submit"].font--secondary-button--inverted:link,
input[type="submit"].font--secondary-button--inverted:visited,
input[type="submit"].font--secondary-button--inverted:hover,
input[type="submit"].font--secondary-button--inverted:focus {
  color: var(--color-button-bg);
  background: transparent;
}

.font--secondary-button--inverted:link,
.font--secondary-button--inverted:visited,
.font--secondary-button--inverted:hover,
.font--secondary-button--inverted:focus,
a.font--secondary-button--inverted:link,
a.font--secondary-button--inverted:visited,
a.font--secondary-button--inverted:hover,
a.font--secondary-button--inverted:focus,
input[type="submit"].font--secondary-button--inverted:link,
input[type="submit"].font--secondary-button--inverted:visited,
input[type="submit"].font--secondary-button--inverted:hover,
input[type="submit"].font--secondary-button--inverted:focus {
  color: var(--color-page-bg);
  background: transparent;
}
