.fw--icon path {
  fill: currentColor;
}

.fw--icon path,
a:hover svg,
a:focus svg,
a:link svg,
a:visited svg,
.payment-options svg,
svg use svg,
.x-menu--overlap-icon svg {
  fill: currentColor !important;
}
