.input--number {
  align-items: center;
  background: $page-bg;
  border: 1px solid $border;
  display: inline-flex;
  margin-bottom: 15px;
  position: relative;
  text-align: left;

  .minus,
  .plus {
    padding: 0 8px;
    cursor: pointer;
    background: $page-bg;
  }

  input {
    height: 32px;
    line-height: 32px;
    z-index: 1;
    border-top: 0 !important;
    border-bottom: 0 !important;
    width: 38px;
    margin: 0;
    border-radius: 0;

    &:focus {
      border-top: 0;
      border-bottom: 0;
    }
  }

  svg {
    height: 32px !important;
  }

  &.updating input {
    color: $border;
  }
}
