html.modal-open {
  overflow: auto !important;
}

.modal--link {
  cursor: pointer;
}

.modal--root .fw--icon--search {
  width: 19px;
  height: 18px;
}

.modal--window {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 48px 12px 12px;

  @include desktop {
    padding: 96px;
  }

  .fw--icon--cross {
    width: 19px;
    height: 18px;
    vertical-align: top;
  }

  .fw--icon--chevron-left,
  .fw--icon--chevron-right {
    width: 29px;
    height: 28px;
  }

  .fw--loading_animation {
    display: block;
  }

  [data-modal--fullscreen="true"] {
    padding: 0;
  }
}

.modal--mask {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0 !important;
  /* Admin bar bug workaround */
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  background-color: #000;
}

.modal--container {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 9002;
}

.modal--content {
  position: relative;
  background: $page-bg;
  display: none;
  left: 50%;
  max-width: 100%;
  min-width: 200px;
  transform: translateX(-50%);

  @include desktop {
    min-width: 300px;
  }
}

[data-modal--fullscreen="true"] .modal--content {
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.modal--content .responsive-video {
  margin-bottom: -1px;
}

.modal--content .responsive-video.vimeo {
  margin-bottom: 0px;
}

.modal--content.with-padding {
  padding: 16px;
}

.modal--content.full-width {
  width: 100%;
}

.modal--content.active {
  display: inline-block;
  overflow: hidden;
}

[data-modal--fullscreen="true"] .modal--content.active {
  overflow: visible;
}

.modal--window.fixed {
  position: fixed;
  height: 100%;
}

.modal--window.fixed .modal--container {
  height: 100%;
}

.modal--window.fixed .modal--container .modal--content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal--loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;
  height: 25px;
  width: 25px;
}

.modal--close,
.modal--prev,
.modal--next {
  background-color: transparent;
  z-index: 9002;
  position: fixed;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  opacity: 0.8;
  border: none;
}

.modal--close:hover,
.modal--prev:hover,
.modal--next:hover {
  opacity: 1;
  background-color: transparent;
}

.modal--close {
  top: 0 !important;
  /* Admin bar bug workaround */
  right: 0;
  padding: 32px;
  font-size: 18px;
}

[data-modal--fullscreen="true"] .modal--close {
  color: var(--color-text);
}

[data-modal--custom-close="true"] .modal--close {
  display: none;
}

@media only screen and (max-width: 767px) {
  .modal--close {
    padding: 20px;
  }
  body.show-border .modal--close {
    padding: 30px;
  }
}

.modal--prev {
  margin-top: -25px;
  left: 12px;
  top: 50% !important;
  /* Admin bar bug workaround */
  display: none;
}

.modal--next {
  margin-top: -25px;
  right: 12px;
  top: 50% !important;
  /* Admin bar bug workaround */
  display: none;
}

/*  3.5 - Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.modal {
  display: none;
  position: fixed;
  top: 50% !important;
  left: 50%;
  margin-left: -480px;
  z-index: 9999;
  background: var(--color-page-bg);
}

.modal img {
  overflow: auto;
  display: block;
  max-width: 100%;
}

.modal .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;
  height: 25px;
  width: 25px;
}

.modal .slides {
  display: none;
}

.modal .slides .photo {
  display: none;
}

.modal .slides .active {
  display: block;
}

.modal .prev,
.modal .next {
  display: none;
  position: fixed;
  cursor: pointer;
  font-size: 100%;
  color: #fff;
  padding: 10px;
  margin-top: -25px;
  top: 50% !important;
  -webkit-transition: 0.3s, opacity;
  transition: 0.3s, opacity;
  opacity: 0.8;
}

.modal .prev:hover,
.modal .prev:focus,
.modal .next:hover,
.modal .next:focus {
  opacity: 1;
}

.modal .prev {
  left: 10px;
}

.modal .next {
  right: 10px;
}

.modal.video {
  background: none;
  width: 600px;
  max-width: 90%;
  margin: -200px 0 0 -450px;
}

.modal.video.wide {
  width: 900px;
}

.modal.video > .bg {
  background: var(--color-slider-caption-bg);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.video .fw--icon--cross {
  font-size: 30%;
}

.modal.video .close {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.3s, opacity;
  transition: 0.3s, opacity;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: transparent;
  margin: 0;
  padding: 10px;
  font-size: 2em;
}

.modal.video .player {
  padding: 0;
}

.modal.video .player .flex-video {
  margin-bottom: 0;
}

.modal.video .caption {
  padding: 20px;
}

.modal.video .caption .title {
  font-size: 12px;
}

.modal.video .caption .sub-title {
  font-size: 10px;
}

.modal.video .caption a.button {
  font-size: 10px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .modal.video .caption {
    padding: 90px 30px 30px;
  }
  .modal.video .caption .title {
    font-size: 14px;
  }
  .modal.video .caption .sub-title {
    font-size: 12px;
  }
  .modal.video .caption a.button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .modal.video .caption .title {
    font-size: 18px;
  }
  .modal.video .caption .sub-title {
    font-size: 14px;
  }
  .modal.video .caption a.button {
    font-size: 12px;
  }
}

.modal-mask,
.popup-modal-mask {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  background-color: #000;
}

/*  3.5.1 - Modal2 - TODO: Merge with existing modal styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@-webkit-keyframes modal-open {
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  }
}
@keyframes modal-open {
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  }
}

@-webkit-keyframes modal-close {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(0.9, 0.9, 1) translate3d(-50%, -50%, 0);
    z-index: -1;
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(0.9, 0.9, 1) translate3d(-50%, -50%, 0);
    z-index: -1;
  }
}

.popup-modal-close {
  opacity: 0.8;
  -webkit-transition: 0.3s, opacity;
  transition: 0.3s, opacity;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: transparent;
  margin: 0;
  padding: 10px;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .popup-modal-close {
    padding: 15px;
  }
}

.modal-on .popup-modal-close {
  display: block;
}

.popup-modal-close:hover,
.popup-modal-close:focus {
  background: transparent;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .popup-modal-close {
    font-size: 24px;
  }
}

.popup-modal {
  display: none;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  position: fixed;
  border: none;
  overflow: hidden;
  opacity: 0;
  top: 50% !important;
  left: 50%;
  -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(-50%, -50%, 0);
  transform: scale3d(1.1, 1.1, 1) translate3d(-50%, -50%, 0);
  z-index: 9999;
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding: 40px 30px;
  background: transparent;
  width: 660px;
}

.popup-modal.full-width {
  width: 100%;
}

.popup-modal .inner,
.popup-modal .popup-image {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .popup-modal .inner,
  .popup-modal .popup-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 50%;
  }
}

.popup-modal .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4em 2em;
  text-align: center;
  width: 100%;
  background: var(--color-page-bg);
  color: var(--color-text);
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .popup-modal .inner {
    overflow: hidden;
  }
}

.popup-modal .inner:only-child {
  max-width: none;
}

.popup-modal .popup-image {
  background: none;
  background-color: var(--color-page-bg);
}

.popup-modal .popup-image a {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .popup-modal .popup-image {
    min-height: 480px;
    background-image: var(--image--popup);
    background-size: cover;
    background-position: 50% 0%;
  }
}

.popup-modal .popup-image img {
  display: none;
}

.popup-modal.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image {
  background: none;
  max-width: 100%;
  margin: 0 auto;
}

.popup-modal.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image
  a {
  position: relative;
}

.popup-modal.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image
  img {
  display: block;
  margin: 0 auto;
}

.popup-modal.opened,
.popup-modal.closed,
.popup-modal.completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-flexbox .popup-modal.opened,
.flexboxtweener .popup-modal.opened,
.no-flexbox .popup-modal.closed,
.flexboxtweener .popup-modal.closed,
.no-flexbox .popup-modal.completed,
.flexboxtweener .popup-modal.completed {
  display: table;
}

.no-flexbox .popup-modal.opened .inner,
.no-flexbox .popup-modal.opened .popup-image,
.flexboxtweener .popup-modal.opened .inner,
.flexboxtweener .popup-modal.opened .popup-image,
.no-flexbox .popup-modal.closed .inner,
.no-flexbox .popup-modal.closed .popup-image,
.flexboxtweener .popup-modal.closed .inner,
.flexboxtweener .popup-modal.closed .popup-image,
.no-flexbox .popup-modal.completed .inner,
.no-flexbox .popup-modal.completed .popup-image,
.flexboxtweener .popup-modal.completed .inner,
.flexboxtweener .popup-modal.completed .popup-image {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .no-flexbox .popup-modal.opened .inner,
  .no-flexbox .popup-modal.opened .popup-image,
  .flexboxtweener .popup-modal.opened .inner,
  .flexboxtweener .popup-modal.opened .popup-image,
  .no-flexbox .popup-modal.closed .inner,
  .no-flexbox .popup-modal.closed .popup-image,
  .flexboxtweener .popup-modal.closed .inner,
  .flexboxtweener .popup-modal.closed .popup-image,
  .no-flexbox .popup-modal.completed .inner,
  .no-flexbox .popup-modal.completed .popup-image,
  .flexboxtweener .popup-modal.completed .inner,
  .flexboxtweener .popup-modal.completed .popup-image {
    width: 50%;
  }
}

.no-flexbox
  .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons,
.flexboxtweener
  .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons,
.no-flexbox
  .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons,
.flexboxtweener
  .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons,
.no-flexbox
  .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons,
.flexboxtweener
  .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons {
  display: block;
}

.no-flexbox
  .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image,
.flexboxtweener
  .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image,
.no-flexbox
  .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image,
.flexboxtweener
  .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image,
.no-flexbox
  .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image,
.flexboxtweener
  .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
  .popup-image {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .no-flexbox
    .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image,
  .flexboxtweener
    .popup-modal.opened.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image,
  .no-flexbox
    .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image,
  .flexboxtweener
    .popup-modal.closed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image,
  .no-flexbox
    .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image,
  .flexboxtweener
    .popup-modal.completed.has-image.has-no-page-content.has-no-newsletter.has-no-social-icons
    .popup-image {
    width: 100%;
  }
}

.popup-modal.opened {
  -webkit-animation: modal-open 0.3s linear forwards;
  animation: modal-open 0.3s linear forwards;
}

.popup-modal.closed {
  -webkit-animation: modal-close 0.3s linear forwards;
  animation: modal-close 0.3s linear forwards;
}

.popup-modal.completed {
  -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  opacity: 1;
}

.modal-unfix .popup-modal.completed {
  position: absolute;
  top: 0 !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-modal .social-follow {
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
}

.popup-modal .social-follow a {
  display: inline-block;
  margin: 10px 5px;
}

.popup-modal .social-follow .fw--icon {
  height: 20px;
}

.popup-modal [type="email"] {
  padding: 0 0.8em;
  height: 3.2em;
  margin-bottom: 12px;
  max-width: 300px;
}

.popup-modal [type="submit"] {
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}
