/* Pagination */
.pagination {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em;
}

.pagination li {
  display: block;
  float: left;
  margin-left: 0.3125em;
}

.pagination li a {
  display: block;
  padding: 0.0625em 0.4375em 0.0625em;
}

.pagination li.unavailable a {
  cursor: default;
}

.pagination li.current a {
  font-weight: bold;
  cursor: default;
}

.pagination .paginate--number {
  padding-top: 3px;
}

.pagination-centered {
  text-align: center;
}

.pagination-centered ul > li {
  float: none;
  display: inline-block;
}

.pagination-centered .paginate--number {
  padding-top: 3px;
}

.pagination--root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination--left-arrow {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: left;
}

.pagination--current-page {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pagination--right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

/*  3.4 - Pagination
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.pagination {
  margin-top: 10px;
}

.pagination li a,
.pagination li.unavailable a,
.pagination li.current a {
  background: none;
}

.pagination li a:hover,
.pagination li.unavailable a:hover,
.pagination li.current a:hover {
  background: none;
}

.pagination li.unavailable.arrow a {
  display: none;
}

.pagination .arrow [class*="fw--icon--arrow"] {
  margin: 0 10px;
  font-size: 80%;
}

.pagination .arrow.left {
  background: none;
}

.pagination .arrow.right a {
  padding-right: 0;
}

.pagination .arrow.right .fw--icon--arrow-right {
  margin-right: 0;
}
