/* Payment Icons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.payment-icons--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.payment-icons--item {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

.payment-icons--item svg {
  width: 38px;
  height: 24px;
}
