.placeholder--root {
  position: relative;
  width: 100%;
}

.placeholder--root svg {
  fill: #cbcbcb;
  color: #cbcbcb;
  background-color: #e9e9e9;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.placeholder--container {
  max-width: 100%;
}
