/* Popup
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.popup--root {
  display: none;
}

.popup-modal .popup--root {
  display: block;
}

.popup--heading {
  padding-bottom: 16px;
}
