/*  3.2 - Product
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.product-page--thumbs,
.product-page--image,
.product-page--zoom-image {
  display: none;
}

.product-page--image:first-child {
  display: block;
}

.product-page--main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.product-root {
  position: relative;

  .wishlist {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .product-image-wrapper {
    position: relative;
    display: inline-block;

    .image--container:nth-of-type(2) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover {
      .image--container:nth-of-type(2) {
        opacity: 1;
      }
    }
  }
}

.product-grid--root {
  display: grid;
  max-width: 156rem;
  margin: 0 auto 2rem;
  grid-gap: 2rem;

  &[data-mobile-items-per-row="2"] {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    &[data-items-per-row="4"] {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

// Delete below

.product--sale {
  display: block;
  padding: 12px 16px;
  position: absolute;
  right: 32px;
  top: 32px;
  z-index: 1;
  border-radius: 2px;
  color: var(--color-grid-sale);
  background: var(--color-grid-sale-bg);
}

@media only screen and (max-width: 767px) {
  .product--sale {
    padding: 8px 12px;
    right: 16px;
    top: 16px;
  }
}

.product--sold-out {
  display: block;
  padding: 12px 16px;
  position: absolute;
  right: 58px;
  top: 32px;
  z-index: 1;
  border-radius: 2px;
  color: var(--color-grid-sold-out);
  background: var(--color-grid-sold-out-bg);
}

@media only screen and (max-width: 767px) {
  .product--sold-out {
    padding: 8px 12px;
    right: 16px;
    top: 16px;
  }
}
//
// .product--title {
//   padding-bottom: 12px;
// }
//
// .product--title a {
//   color: var(--color-text);
// }
//
// .product--vendor {
//   padding-bottom: 12px;
//   line-height: 1;
// }
//
// .product--price-wrapper {
//   line-height: 1;
// }
//
// .product--price {
//   margin-top: 15px;
//   font-size: 15px;
// }
//
// .product--compare-price {
//   text-decoration: line-through;
//   padding: 0 8px;
// }
//
// @media only screen and (max-width: 767px) {
//   .product--compare-price {
//     display: block;
//     padding-bottom: 8px;
//   }
// }
//
// @media only screen and (max-width: 768px) {
//   article .product-page--main-content {
//     display: block;
//   }
//   .custom-product-details {
//     min-width: 144px;
//     min-height: 42.4px;
//   }
// }
//
// .product-page--main-content .product-unavailable .font--paragraph {
//   padding-bottom: 16px;
// }
//
// .product--from {
//   text-transform: capitalize;
// }
//
// .products--none {
//   text-align: center;
// }

// .product-grid--root[data-centered="true"] {
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }

// @media only screen and (max-width: 767px) {
//   .product-grid--root {
//     padding: 8px;
//   }
// }

// .product-grid--root[data-items-per-row="3"] > * {
//   width: calc(100% / 3);
// }
//
// .product-grid--root[data-items-per-row="3"] > * {
//   width: 33.3333%;
// }
//
// .product-grid--root[data-items-per-row="4"] > * {
//   width: calc(100% / 4);
// }
//
// .product-grid--root[data-items-per-row="6"] > * {
//   width: calc(100% / 6);
// }
//
// @media only screen and (max-width: 767px) {
//   .product-grid--root[data-mobile-items-per-row="1"] > * {
//     width: calc(100%);
//   }
// }
//
// @media only screen and (max-width: 767px) {
//   .product-grid--root[data-mobile-items-per-row="2"] > * {
//     width: calc(100% / 2);
//   }
// }
//
// .featured-product--root {
//   padding: 72px 48px;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--root {
//     padding: 32px 16px;
//   }
// }
//
// .featured-product--container {
//   max-width: 1200px;
//   margin: 0 auto;
// }
//
// .featured-product--container > * {
//   padding-bottom: 32px;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--container > * {
//     padding-bottom: 16px;
//   }
// }
//
// .featured-product--container > *:last-child {
//   padding-bottom: 0;
// }
//
// .featured-product--header {
//   text-align: center;
// }
//
// .featured-product--body {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }
//
// @media only screen and (min-width: 768px) {
//   .featured-product--body {
//     margin: 0 -16px;
//   }
// }
//
// @media only screen and (min-width: 768px) {
//   .featured-product--body > * {
//     padding: 0 16px;
//   }
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--body > * {
//     padding-bottom: 16px;
//   }
//   .featured-product--body > *:last-child {
//     padding-bottom: 0;
//   }
// }
//
// .featured-product--image {
//   width: 50%;
//   display: none;
// }
//
// .featured-product--image[data-active="true"] {
//   display: block;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--image {
//     width: 100%;
//   }
// }
//
// .featured-product--image > * {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: end;
//   -ms-flex-pack: end;
//   justify-content: flex-end;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--image > * {
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//   }
// }
//
// .featured-product--info {
//   width: 100%;
// }
//
// @media only screen and (min-width: 768px) {
//   .featured-product--info {
//     width: 50%;
//   }
// }
//
// .featured-product--info--container {
//   max-width: 400px;
//   width: 100%;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--info--container {
//     margin: 0 auto;
//     text-align: center;
//     width: 100%;
//   }
// }
//
// .featured-product--info--container > * {
//   padding-bottom: 16px;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--info--container > * {
//     padding-bottom: 8px;
//   }
// }
//
// .featured-product--info--container > *:last-child {
//   padding-bottom: 0;
// }
//
// .featured-product--sold-out--product {
//   color: var(--color-error);
// }
//
// .featured-product--sold-out--variant,
// .featured-product--unavailable-variant {
//   display: none;
//   padding-bottom: 16px;
//   color: var(--color-error);
// }
//
// .featured-product--root[data-onboarding="true"]
//   .featured-product--sold-out--variant,
// .featured-product--root[data-onboarding="true"]
//   .featured-product--unavailable-variant {
//   display: none;
// }
//
// .featured-product--actual-price {
//   font-size: 20px;
// }
//
// @media only screen and (max-width: 767px) {
//   .featured-product--actual-price {
//     font-size: 16px;
//   }
// }
//
// .featured-product--compare-price {
//   text-decoration: line-through;
// }
//
// .featured-product--variants {
//   padding-bottom: 12px;
// }
//
// [data-show-variants="false"] .featured-product--variants {
//   display: none;
// }
//
// .featured-product--add-to-cart {
//   position: relative;
//   width: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
// }
//
// .featured-product--add-to-cart .font--button {
//   width: 100%;
//   text-align: center;
// }
//
// .featured-product--add-to-cart[data-loading="true"] .text {
//   display: none;
// }
//
// .featured-product--add-to-cart[data-loading="true"] .fw--loading_animation {
//   display: block;
// }
//
// .featured-product--smart-payment-buttons {
//   padding: 12px 0;
//   text-align: center;
// }
//
// .featured-product--smart-payment-buttons .shopify-payment-button__more-options {
//   color: var(--color-text);
//   font-weight: var(--font--paragraph--weight);
//   margin: 0 auto;
//   padding-top: 16px;
//   text-decoration: underline;
//   text-transform: none;
//   width: auto;
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__more-options:hover {
//   color: var(--color--body--light);
//   background: transparent;
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__button--unbranded {
//   background: var(--color-button-bg);
//   border-color: var(--color-border);
//   border-radius: 2px;
//   border: 0;
//   -webkit-box-shadow: none;
//   box-shadow: none;
//   color: var(--color-button);
//   display: inline-block;
//   font-size: 12px;
//   font-weight: var(--font--paragraph--weight);
//   height: 45px;
//   letter-spacing: 1px;
//   line-height: 45px;
//   margin: 0;
//   padding: 0 25px;
//   text-transform: uppercase;
//   -webkit-transition: background-color 300ms ease-out;
//   transition: background-color 300ms ease-out;
//   width: auto;
//   width: 100%;
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__button--unbranded:focus {
//   background: var(--color-button-bg);
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__button--unbranded:hover {
//   color: var(--color-button);
//   background: var(--color-button-bg);
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__button--unbranded[disabled="disabled"] {
//   display: none;
// }
//
// .featured-product--smart-payment-buttons
//   .shopify-payment-button__button--hidden {
//   display: none;
// }
//
// .featured-product--error {
//   padding: 16px 0 0;
// }
//
// .featured-product--json {
//   display: none;
// }
//
// .product-recommendations--root {
//   padding: 72px 48px;
// }
//
// @media only screen and (max-width: 767px) {
//   .product-recommendations--root {
//     padding: 32px 16px;
//   }
// }
//
// .product-recommendations--root[data-empty="true"] {
//   display: none;
// }
//
// .product-recommendations--title {
//   text-align: center;
//   padding-bottom: 32px;
// }
//
// @media only screen and (max-width: 767px) {
//   .product-recommendations--title {
//     padding-bottom: 16px;
//   }
// }
//
// .product-recommendations--body {
//   margin: -16px;
// }
//
// @media only screen and (max-width: 767px) {
//   .product-recommendations--body {
//     margin: -8px;
//   }
// }
//
// .product-recommendations--body--container {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   margin: 0 auto;
//   max-width: 1200px;
// }
//
// @media only screen and (max-width: 767px) {
//   .product-recommendations--body--container {
//     -webkit-box-pack: start;
//     -ms-flex-pack: start;
//     justify-content: flex-start;
//   }
// }
//
// .product-recommendations--item {
//   padding: 16px;
//   width: 25%;
// }
//
// .product-recommendations--item > * {
//   padding: 0;
// }
//
// @media only screen and (max-width: 767px) {
//   .product-recommendations--item {
//     width: 50%;
//     padding: 8px;
//   }
// }
