/* Search
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.search--header {
  padding: 32px;
  text-align: center;
}

.search--bar {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .search--bar {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .search--bar {
    padding: 16px 0;
  }
}

input[type="text"].search--textbox,
input[type="text"].search--textbox:focus {
  padding: 0 55px 0 35px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  height: 50px;
  font-size: 22px;
}

input[type="text"]::-ms-clear {
  display: none;
}

.search--loading {
  display: none;
  position: absolute;
  top: 36px;
  left: 18px;
}

@media only screen and (min-width: 768px) {
  .search--loading {
    top: 45px;
  }
}

.search--root[data-view="template"] .search--body {
  padding: 0 16px;
}

.search--results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .search--results {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 16px;
  }
}

.search--results > * {
  padding: 16px;
}

@media only screen and (max-width: 767px) {
  .search--products {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .search--products {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: calc(100% - 300px);
  }
}

.search--root[data-view="template"] .search--products {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .search--root[data-show-articles="false"][data-show-pages="false"]
    .search--products {
    width: 100%;
  }
}

.search--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid var(--color-border);
}

.search--count {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 16px 0;
}

.search--products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 16px 0;
}

.search--product {
  width: 100%;
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .search--product {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 1024px) {
  .search--root[data-show-articles="false"][data-show-pages="false"]
    .search--product {
    width: calc(100% / 4);
  }
}

@media only screen and (min-width: 1024px) {
  .search--root[data-view="template"] .search--product {
    width: calc(100% / 4);
  }
}

@media only screen and (max-width: 767px) {
  .search--articles {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .search--articles {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    width: 300px;
    max-width: 300px;
  }
}

.search--root[data-view="template"] .search--articles {
  max-width: 800px;
  -ms-flex-preferred-size: 800px;
  flex-basis: 800px;
  text-align: center;
  margin: 0 auto;
}

.search--articles-container {
  padding: 16px 0;
}

.search--article {
  padding: 8px 16px;
}

.search--no-results {
  padding: 0 16px;
}

.search--footer {
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .search--footer {
    padding: 0 32px;
  }
}

.search--again-button {
  padding: 32px;
  text-align: center;
}
