/*  3.6 - Social Share
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.social-share .share-item {
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 3px;
  padding: 6px 6px 6px 10px;
  background: var(--color-page-bg);
  border: 1px solid var(--color-border);
  -webkit-transition: background-color 300ms ease-out, color 300ms ease-out,
    border-color 300ms ease-out;
  transition: background-color 300ms ease-out, color 300ms ease-out,
    border-color 300ms ease-out;
}

.social-share .share-item .fw--icon {
  height: 1em;
  margin-right: 12px;
}

.social-share .share-item .fw--icon.fw--icon--twitter {
  width: 1.3em;
}

.social-share .share-item span {
  vertical-align: top;
  line-height: 2.4;
  padding-right: 12px;
  margin-left: -6px;
}

.social-share .share-item:hover {
  color: var(--color-page-bg);
}

.social-share .twitter:hover {
  background-color: #09aeec;
  border-color: #09aeec;
}

.social-share .facebook:hover {
  background-color: #49659d;
  border-color: #49659d;
}

.social-share .pinterest:hover {
  background-color: #cb1f2b;
  border-color: #cb1f2b;
}

.social-share .tumblr:hover {
  background-color: #2c4762;
  border-color: #2c4762;
}

.social-share .googleplus:hover {
  background-color: #cc3a2b;
  border-color: #cc3a2b;
}
