table {
  background: transparent;
  border-top: solid 1px var(--color-border);
  border-bottom: solid 1px var(--color-border);
  border-radius: 5px;
  border-collapse: separate;
}

table.no-border {
  border: 0px;
}

table tr:first-child td:first-child,
table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table thead ~ tbody tr:first-child td:first-child,
table thead ~ tbody tr:first-child th:first-child {
  border-radius: 0;
}

table tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

table thead ~ tbody tr:first-child td:last-child {
  border-radius: 0;
}

table tr:last-child td:first-child,
table tr:last-child th:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

table thead th:first-child {
  border-top-left-radius: 5px;
}

table thead th:last-child {
  border-top-right-radius: 5px;
}

@media only screen and (max-width: 768px) {
  table.responsive {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
    border: 0;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  table.responsive thead,
  table.responsive tbody,
  table.responsive th,
  table.responsive td,
  table.responsive tr {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
  }
  table.responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.responsive tr {
    border: 1px solid var(--color-border);
    padding: 12px;
  }
  table.responsive td {
    padding: 0;
    line-height: 1.6;
    border: none;
    border-bottom: 0;
    position: relative;
    padding: 8px 0;
  }
  table.responsive td:empty {
    padding: 0;
  }
  table.responsive td:before {
    display: block;
    word-wrap: break-word;
    max-width: 100%;
  }
  table.responsive td:before {
    content: attr(data-label);
  }
}

@media only screen and (max-width: 768px) {
  table.responsive {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
    border: 0;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  table.responsive thead,
  table.responsive tbody,
  table.responsive th,
  table.responsive td,
  table.responsive tr {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
  }
  table.responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.responsive tr {
    border: 1px solid var(--color-border);
    padding: 15px;
  }
  table.responsive td {
    padding: 0;
    line-height: 1.6;
    border: none;
    border-bottom: 0;
    position: relative;
    padding: 10px 0;
  }
  table.responsive td:empty {
    padding: 0;
  }
  table.responsive td:before {
    display: block;
    word-wrap: break-word;
    max-width: 100%;
  }
  table.responsive td:before {
    content: attr(data-label);
  }
}
