.wishlist {
  svg {
    height: 3.5rem;
    width: 3.5rem;
  }

  .added {
    display: none;
  }

  .iwishAdded {
    .icon__wishlist {
      display: none;
    }
    .added {
      display: block;
    }
  }
}
