@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "dan_hand_v5regular";
  src: url("danhandv5-regular-webfont.woff2") format("woff2"),
    url("danhandv5-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dynamoeregular";
  src: url("dynamoe_regular-webfont.woff2") format("woff2"),
    url("dynamoe_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
