* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #fff;
  color: #222;
  display: grid;
  font-family: $font-primary;
  @include font-size(1.6);
  font-weight: normal;
  font-style: normal;
  grid-template-rows: auto 1fr auto;
  line-height: 1;
  min-height: 100%;
  position: relative;
}

.section--footer {
  grid-row-start: 3;
  grid-row-end: 3;
}

a:focus {
  outline: none;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas,
.map_canvas {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

li {
  margin-left: 20px;
}
