// Fonts
$font-primary: "Roboto Condensed", sans-serif;
$font-impact: "dynamoeregular";
$font-cursive: "dan_hand_v5regular";

// Colours
$black: #000;
$white: #fff;
$corp: #03555c;

$error: #f66767;
$accent: #f3e9df;
$text: #3c3c3c;
$page-bg: $white;
$panel-bg: #f2efe8;
$border: #ebebeb;
$button: $white;
$button-bg: #3c3c3c;
$body-light: #6c6c6c;
$alternative: $white;
$header: $black;
$header-bg: $white;
$menubar: $black;
$cart: $black;
$footer: $black;
$footer-bg: $white;
$slider-caption: $white;
$slider-caption-bg: rgba(0, 0, 0, 0);
$slider-button: $black;
$slider-button-bg: $white;
$slider-button-hover-bg: #474747;
$slider-nav: #454242;
$product-slider-bg: $white;
$featured-promo-bg: #f7f7f7;
$social-feed-bg: $white;
$grid-sale: $white;
$grid-sale-bg: #272727;
$grid-sold-out: $white;
$grid-sold-out-bg: #cccccc;
$tabs-accordions: #ebebeb;
