<main class="main-content">
  <div class="shopify-section">
    {% include 'menu' %}
    <h1>{{ 'general.404.page_title' | t }}</h1>
    <h2>{{ 'general.404.intro' | t }}</h2>
    {% capture home_page_link = %}<a href="{{ shop.url }}">{{ 'general.404.home_page_link' | t }}</a>{% endcapture %}
    {% capture products_link = %}<a href="{{ shop.url }}/collections/all">{{ 'general.404.products_link' | t }}</a>{% endcapture %}
    <p>{{ 'general.404.return_links_html' | t: home_page_link: home_page_link, products_link: products_link }}</p>
  </div>
  <!-- <script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script> -->
</main>
