<main class="main-content">
  <script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script>
  <div id="sca-fg-owl-carousel">
    <div id="freegift_cart_container" class="sca-fg-cart-container" style="display: none;">
      <div id="freegift_message" class="owl-carousel"></div>
    </div>
    <div id="sca-fg-slider-cart" style="display: none;">
      <div class="sca-fg-cart-title">
        <strong>Select your free gift (s)</strong>
      </div>
      <div id="sca_freegift_list" class="owl-carousel"></div>
    </div>
  </div>
  <div id="sca_fg_cart">
  {% include 'framework--cart', view: 'desktop' %}
  {% comment %}
  {% include 'framework--cart', view: 'mobile' %}
  {% endcomment %}
  </div>
</main>
