{% include 'shogun-products', content: collection-bc-original %}
{{collection-bc-original.metafields.shogun.above}}
{% section 'collection-bc-original' %}
{{collection-bc-original.metafields.shogun.below}}
{% include 'scarab_collection-bc-original' %}
