<main class="main-content">
  {% include 'shogun-products', content: collection %}
  {{collection.metafields.shogun.above}}
  {% section 'collection' %}
  {{collection.metafields.shogun.below}}
  {% include 'scarab_collection' %}
</main>
