{% layout none %}

{% include 'scarab_queue' %}


<h4>SC Object</h4>
<pre id="related-recs"></pre>

{% include 'scarab_view' %}

<script type="text/javascript">



// Request personalized recommendations.
ScarabQueue.push(['recommend', {
    logic: 'RELATED',
    containerId: 'related-recs',
    limit: '4',
    
    success: function(SC) { 
        var container = SC.recommender.container;
        delete SC.recommender.container;
        container.innerHTML = JSON.stringify(SC, null, '  ');
    
    }
    
    
}]);

</script>



{% include 'scarab_go' %}