{% assign products_per_row = 4 %}
{% comment %}{% assign products_per_page =  products_per_row | to_number | times: 10 %}{% endcomment %}

{% assign products_per_page =  50 %}

<div class="row">
  <div class="large-12 columns">
    <h1 class="bc-sf-search-result-header page-title"></h1>
  </div>
</div>

<div class="row summary narrow">
  {% if search.terms != "" %}
  <div class="large-12 columns">
    <p class="bc-sf-search-result-number" style="padding-bottom: 20px;"></p>
  </div>
  {% endif %}
</div> 
<div class="row">
  <section class="row">
    <div id="bc-sf-filter-tree-h">
      {% include 'bc-sf-filter-tree-placeholder-h' %}
    </div>
    <div id="bc-sf-filter-tree-mobile">
      {% include 'bc-sf-filter-skeleton', type: 'button' %}
    </div>
    <div id="bc-sf-filter-tree">
      {% include 'bc-sf-filter-tree-placeholder' %}
    </div>

    <div id="bc-sf-filter-products" class="product-grid product-grid--root clearfix" data-items-per-row="3" data-mobile-items-per-row="2" data-js-class="ProductGrid">
      {% comment %} Fix Shopify search term report {% endcomment %}
      {% paginate search.results by 2 %}
        {% if search.performed %}
          {% for item in search.results %}
            <div style="display: none !important"></div>
          {% endfor %}
        {% endif %}
      {% endpaginate %}
    </div>
  </section>
</div>

<div class="row">
  <div class="columns">
    <div class="divider bottom-margin"></div>
  </div>
</div>

<footer class="row">
  <div class="left columns large-6"></div>
  <div class="right columns large-6">
    <ul id="bc-sf-filter-bottom-pagination" class="pagination">
      {% include 'bc-sf-filter-skeleton', width: 2 %}
    </ul>
    <div id="bc-sf-filter-load-more"></div>
  </div>
</footer>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},

      sale: {{ 'collections.sale' | t | json }},
      sold_out: {{ 'collections.sold_out_html' | t | json }},
      was_price: {{ 'collections.was' | t | json }},
      from_price: {{ 'collections.from' | t | json }},
      pagination_previous: {{ 'general.pagination.previous' | t | json }},
      pagination_next: {{ 'general.pagination.next' | t | json }},
      addtocart: {% assign temp = 'products.add_to_cart' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "ADD TO BAG" {% endunless %}, 
      
    },
    custom: {
      products_per_page: {% if products_per_page %} {{ products_per_page | json }} {% else %} 24 {% endif %},
      products_per_row: {% if products_per_row %} {{ products_per_row }} {% else %} 4 {% endif %},
      hover_image_enable: {% if settings.hover-image-enabled %} {{ settings.hover-image-enabled | json }} {% else %} false {% endif %},
      vendor_enable: {% if settings.brand-show %} {{ settings.brand-show | json }} {% else %} false {% endif %},

    }
  };
</script>