.btn {
  @include font-size(1.4);
  font-family: $font-primary;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  transition: 0.2s;
  line-height: 2.8rem;

  &.btn-secondary {
    background: none;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    padding: 0 2.6rem;
    width: 100%;
    letter-spacing: 0.2rem;
    line-height: 4.1rem;
    margin: 1rem 0;
    transition: all 0.2s;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.text-link {
    &:hover span:after {
      width: 100%;
    }

    span {
      position: relative;

      &:after {
        content: "";
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: 20px;
        left: 0px;
        will-change: width;
        transition: width 0.2s ease-out;
        background-color: black;
        bottom: 0;
      }
    }
  }
}
