/*  2.3 - Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section--footer {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [main-start] minmax(0, 156rem) [main-end]
    minmax(2rem, 1fr) [full-end];
  padding-top: 4rem;
}

.footer {
  font-weight: 300;
  grid-column: main;

  @include desktop {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 300px 200px 1fr;
  }

  > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0 2rem;

    @include desktop {
      justify-content: flex-start;
      padding: 0;
    }

    a {
      line-height: 2.4rem;
      text-align: center;
      width: 100%;

      @include desktop {
        text-align: left;
      }
    }

    h3 {
      @include font-size(1.5);
      font-weight: 600;
      letter-spacing: 1.5px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;

      @include desktop {
        text-align: left;
      }
    }
  }

  .footer_nav {
    display: flex;
    flex-flow: column;
  }

  .social-follow {
    display: inline-block;
    text-align: center;

    @include desktop {
      text-align: left;
    }

    svg {
      height: 16px;
      width: 16px;
      margin: 0 2rem;

      @include desktop {
        margin: 0 2rem 0 0;
      }
    }
  }

  > div:last-child {
    grid-column: span 3;

    .copyright {
      text-align: center;

      small {
        @include font-size(1.4);
      }
    }

    @include desktop {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }

  .footer--subscribe .contact-form input[type="submit"] {
    color: $white;
  }

  .site-footer__logo {
    .logo {
      color: $corp;
      max-width: 156px;
      width: 100%;
      margin-bottom: 2rem;
    }

    .logo--horizontal {
      display: none;
    }
  }
}

.footer--subscribe {
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  p {
    @include font-size(1.5);
    max-width: 70%;
    margin-bottom: 2rem;
    line-height: 1.47;
  }

  svg {
    height: 1.35em;
  }

  .contact-form {
    display: flex;
    flex-flow: column;
    max-width: 100% !important;
    margin: 0 auto;

    @include desktop {
      margin: 0;
    }

    .form-field {
      display: flex;
    }

    input[type="email"] {
      background: #ebebeb;
      border: 1px solid $border;
      padding-top: 22px;
      padding-bottom: 22px;
      margin-bottom: 8px;
    }

    input[type="submit"] {
      border-radius: 0 2px 2px 0;
      width: auto;
      margin: 1px 0 0 0;
      background-color: #03555c;
    }

    .checkbox__label {
      @include font-size(1.1);
      font-weight: 600;
    }

    .success {
      font-style: italic;
    }
  }

  &--info {
    padding-bottom: 16px;
  }
}
