/*  2.2 - Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.global-header {
  background-color: #fff;
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [main-start] minmax(0, 156rem) [main-end]
    minmax(2rem, 1fr) [full-end];

  .section--announcement,
  .section--header {
    grid-column: full;
  }
}

svg {
  color: inherit;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  padding: 0;
  transition: all 1s;

  &.stuck-header {
    background-color: $white;
    border-bottom: 1px solid #ebebeb;
  }
}

.header-root {
  display: flex;
  justify-content: center;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 156rem;
    width: 100%;
    padding: 0 2rem;

    @include desktop {
      flex-flow: column;
      justify-content: center;
      // position: relative;
    }
  }

  nav {
    > span a {
      @include font-size(1.3);
      color: $black;
      display: inline-block;
      font-weight: 700;
      padding: 2rem 1rem;
      text-decoration: none;
      text-transform: uppercase;

      &:last-child {
        border-left: 0.1rem solid grey;
        padding-left: 1rem;
        height: 1.5rem;
      }

      span {
        position: relative;
      }

      span:after {
        content: "";
        height: 1px;
        width: 0px;
        position: absolute;
        bottom: 20px;
        left: 0px;
        will-change: width;
        transition: width 0.2s ease-out;
        background-color: #c6c6c6;
        bottom: 0;
      }

      &.active span:after,
      &:hover span:after {
        width: 100%;
      }
    }
  }

  .mega-nav {
    transition: all 1s;
    background: #f2efe9;
    position: absolute;
    left: 0;
    height: 0;
    opacity: 0;
    width: 100vw;
    top: 12.8rem;

    > div {
      display: none;
    }

    &.navActive {
      height: 30rem;
      opacity: 1;

      > div {
        display: block;
        max-width: 960px;
        margin: 0 auto;

        a {
          display: block;
        }
      }
    }
  }

  .header-icons {
    display: flex;

    @include desktop {
      align-self: flex-end;
      position: absolute;
      top: 3.2rem;
    }

    a {
      line-height: 1;
      padding: 2rem 1rem;
      display: flex;
      justify-content: center;
      color: black;
      transition: all 1s;

      &:hover {
        color: black;
      }
    }

    svg {
      height: 24px;
      width: 24px;

      + span {
        margin-left: 5px;
      }
    }

    .iWishView {
      position: relative;
    }
  }
}

.off-canvas--left-sidebar {
  nav {
    a {
      @include font-size(1.3);
      font-weight: 300;
      border-bottom: 0.1rem solid #ebebeb;
      color: #3c3c3c;
      display: flex;
      flex-flow: column;
      padding: 2rem;
      text-transform: uppercase;

      &:first-child {
        border-top: 0.1rem solid #ebebeb;
      }
    }
  }

  .mobile-nav--header {
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav--search a {
    display: block;
    padding: 32px 16px;
  }

  .mobile-nav--currency {
    padding: 32px 16px;
  }

  .mobile-nav--currency strong {
    padding: 0 0 8px;
    display: inline-block;
  }

  .mobile-nav--login a {
    display: block;
    padding: 32px 16px;
  }
}
