body {
  -webkit-font-smoothing: antialiased;
}
.main-content {
  padding-top: 12.8rem;
  max-width: 192rem;
  margin: 0 auto;

  > .shopify-section {
    display: grid;
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [main-start] minmax(0, 156rem) [main-end]
      minmax(2rem, 1fr) [full-end];

    .password--root,
    .iwish__wrapper,
    .product-recommendations--root,
    .product-page--root,
    .instagram--root {
      grid-column: main;
    }
  }

  .yotpo.yotpo-main-widget {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [main-start] minmax(0, 156rem) [main-end]
      minmax(2rem, 1fr) [full-end];

    .yotpo-display-wrapper {
      grid-column: main;
    }
  }
}

.section--pages {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [main-start] minmax(0, 70rem) [main-end]
    minmax(2rem, 1fr) [full-end];

  .single-column {
    grid-column: main;
  }
}
