.logo {
  color: $corp;

  &.logo-desktop {
    display: none;
    height: 20px;
    margin-top: 2rem;

    @include desktop {
      display: inline-block;
    }
  }

  &.logo-mobile {
    height: 4rem;
    width: 10rem;

    @include desktop {
      display: none;
    }
  }
}
