/* Off Canvas
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.off-canvas--viewport {
  width: 100%;
  position: relative;

  &.overlay-fix {
    position: fixed;
  }
}

.off-canvas--left-sidebar {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  z-index: 100;
  min-height: 100vh;
  width: 80%;
  max-width: 400px;
  background-color: $page-bg;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 1s;
  z-index: 99999999;

  &.open-state {
    transform: translateX(0);
  }
}

[data-off-canvas--state="left-open"] {
  .off-canvas--left-sidebar {
    box-shadow: 2px 0 10px -2px #888;
  }

  .off-canvas--close {
    left: calc(80% + 15px);

    @include desktop {
      left: calc(400px + 15px);
    }
  }

  .off-canvas--overlay {
    display: block;
    opacity: 0.3;
    z-index: 99999999;
  }
}

.off-canvas--right-sidebar {
  position: fixed;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  z-index: 100;
  min-height: 100vh;
  width: 80%;
  max-width: 400px;
  background-color: $page-bg;
  transform: translateX(0);
  left: 100%;
  top: 0;
  bottom: 0;
  transition: transform 1s;
  z-index: 99999999;

  &.open-state {
    transform: translateX(-100%);
    overflow: auto;
  }
}

[data-off-canvas--state="right-open"] {
  .off-canvas--close {
    right: calc(80% + 15px);

    @include desktop {
      right: calc(400px + 15px);
    }
  }

  .off-canvas--right-sidebar {
    box-shadow: -2px 0 10px -2px #888;
  }

  .off-canvas--overlay {
    display: block;
    opacity: 0.3;
    z-index: 99999999;
  }
}

.off-canvas--main-content {
  min-height: 100%;
  width: 100%;
  top: 0;
}

.off-canvas--overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  background: #000;
  cursor: pointer;
}

.off-canvas--open {
  display: inline-block;
  cursor: pointer;
}

.off-canvas--close {
  position: fixed;
  top: 12px;
  color: #fff;
  z-index: 99999999;
  cursor: pointer;
  display: inline-block;

  svg {
    width: 16px;
    height: 13px;
  }
}

[data-off-canvas--state="closed"] .off-canvas--close {
  display: none;
}

.off-canvas--left-sidebar .social-follow {
  padding: 30px;
  text-align: center;
}
