/* Blocks
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.fw--blocks {
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.fw--blocks.show-after-js {
  visibility: hidden;
}

.fw--blocks > *,
.fw--blocks .block {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  min-height: 1px;
}

.fw--blocks > *.show-after-js,
.fw--blocks .block.show-after-js {
  visibility: hidden;
}

.fw--blocks.list > *,
.fw--blocks.list .item {
  display: inline-block;
  width: auto;
  float: none;
}

.fw--blocks.vertical > *,
.fw--blocks.vertical .item {
  float: none;
  display: block;
}

.fw--blocks .width--1 {
  width: 8.33333%;
}

.fw--blocks .width--2 {
  width: 16.66667%;
}

.fw--blocks .width--3 {
  width: 25%;
}

.fw--blocks .width--4 {
  width: 33.33333%;
}

.fw--blocks .width--5 {
  width: 41.66667%;
}

.fw--blocks .width--6 {
  width: 50%;
}

.fw--blocks .width--7 {
  width: 58.33333%;
}

.fw--blocks .width--8 {
  width: 66.66667%;
}

.fw--blocks .width--9 {
  width: 75%;
}

.fw--blocks .width--10 {
  width: 83.33333%;
}

.fw--blocks .width--11 {
  width: 91.66667%;
}

.fw--blocks .width--12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .fw--blocks .width--medium-1 {
    width: 8.33333%;
  }

  .fw--blocks .width--medium-2 {
    width: 16.66667%;
  }

  .fw--blocks .width--medium-3 {
    width: 25%;
  }

  .fw--blocks .width--medium-4 {
    width: 33.33333%;
  }

  .fw--blocks .width--medium-5 {
    width: 41.66667%;
  }

  .fw--blocks .width--medium-6 {
    width: 50%;
  }

  .fw--blocks .width--medium-7 {
    width: 58.33333%;
  }

  .fw--blocks .width--medium-8 {
    width: 66.66667%;
  }

  .fw--blocks .width--medium-9 {
    width: 75%;
  }

  .fw--blocks .width--medium-10 {
    width: 83.33333%;
  }

  .fw--blocks .width--medium-11 {
    width: 91.66667%;
  }

  .fw--blocks .width--medium-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .fw--blocks .width--large-1 {
    width: 8.33333%;
  }

  .fw--blocks .width--large-2 {
    width: 16.66667%;
  }

  .fw--blocks .width--large-3 {
    width: 25%;
  }

  .fw--blocks .width--large-4 {
    width: 33.33333%;
  }

  .fw--blocks .width--large-5 {
    width: 41.66667%;
  }

  .fw--blocks .width--large-6 {
    width: 50%;
  }

  .fw--blocks .width--large-7 {
    width: 58.33333%;
  }

  .fw--blocks .width--large-8 {
    width: 66.66667%;
  }

  .fw--blocks .width--large-9 {
    width: 75%;
  }

  .fw--blocks .width--large-10 {
    width: 83.33333%;
  }

  .fw--blocks .width--large-11 {
    width: 91.66667%;
  }

  .fw--blocks .width--large-12 {
    width: 100%;
  }
}

.fw--blocks.clear-after--1 > *:nth-child(1n + 1),
.fw--blocks.clear-after--1 .block:nth-child(1n + 1),
.fw--blocks.clear-after--2 > *:nth-child(2n + 1),
.fw--blocks.clear-after--2 .block:nth-child(2n + 1),
.fw--blocks.clear-after--3 > *:nth-child(3n + 1),
.fw--blocks.clear-after--3 .block:nth-child(3n + 1),
.fw--blocks.clear-after--4 > *:nth-child(4n + 1),
.fw--blocks.clear-after--4 .block:nth-child(4n + 1),
.fw--blocks.clear-after--5 > *:nth-child(5n + 1),
.fw--blocks.clear-after--5 .block:nth-child(5n + 1),
.fw--blocks.clear-after--6 > *:nth-child(6n + 1),
.fw--blocks.clear-after--6 .block:nth-child(6n + 1),
.fw--blocks.clear-after--7 > *:nth-child(7n + 1),
.fw--blocks.clear-after--7 .block:nth-child(7n + 1),
.fw--blocks.clear-after--8 > *:nth-child(8n + 1),
.fw--blocks.clear-after--8 .block:nth-child(8n + 1),
.fw--blocks.clear-after--9 > *:nth-child(9n + 1),
.fw--blocks.clear-after--9 .block:nth-child(9n + 1),
.fw--blocks.clear-after--10 > *:nth-child(10n + 1),
.fw--blocks.clear-after--10 .block:nth-child(10n + 1),
.fw--blocks.clear-after--11 > *:nth-child(11n + 1),
.fw--blocks.clear-after--11
  .block:nth-child(11n + 1)
  .fw--blocks.clear-after--12
  > *:nth-child(12n + 1),
.fw--blocks.clear-after--12 .block:nth-child(12n + 1) {
  clear: left;
}

@media only screen and (max-width: 767px) {
  .fw--blocks.clear-after--small-1 > *:nth-child(1n + 1),
  .fw--blocks.clear-after--small-1 .block:nth-child(1n + 1),
  .fw--blocks.clear-after--small-2 > *:nth-child(2n + 1),
  .fw--blocks.clear-after--small-2 .block:nth-child(2n + 1),
  .fw--blocks.clear-after--small-3 > *:nth-child(3n + 1),
  .fw--blocks.clear-after--small-3 .block:nth-child(3n + 1),
  .fw--blocks.clear-after--small-4 > *:nth-child(4n + 1),
  .fw--blocks.clear-after--small-4 .block:nth-child(4n + 1),
  .fw--blocks.clear-after--small-5 > *:nth-child(5n + 1),
  .fw--blocks.clear-after--small-5 .block:nth-child(5n + 1),
  .fw--blocks.clear-after--small-6 > *:nth-child(6n + 1),
  .fw--blocks.clear-after--small-6 .block:nth-child(6n + 1),
  .fw--blocks.clear-after--small-7 > *:nth-child(7n + 1),
  .fw--blocks.clear-after--small-7 .block:nth-child(7n + 1),
  .fw--blocks.clear-after--small-8 > *:nth-child(8n + 1),
  .fw--blocks.clear-after--small-8 .block:nth-child(8n + 1),
  .fw--blocks.clear-after--small-9 > *:nth-child(9n + 1),
  .fw--blocks.clear-after--small-9 .block:nth-child(9n + 1),
  .fw--blocks.clear-after--small-10 > *:nth-child(10n + 1),
  .fw--blocks.clear-after--small-10 .block:nth-child(10n + 1),
  .fw--blocks.clear-after--small-11 > *:nth-child(11n + 1),
  .fw--blocks.clear-after--small-11 .block:nth-child(11n + 1),
  .fw--blocks.clear-after--small-12 > *:nth-child(12n + 1),
  .fw--blocks.clear-after--small-12 .block:nth-child(12n + 1) {
    clear: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fw--blocks.clear-after--medium-1 > *:nth-child(1n + 1),
  .fw--blocks.clear-after--medium-1 .block:nth-child(1n + 1),
  .fw--blocks.clear-after--medium-2 > *:nth-child(2n + 1),
  .fw--blocks.clear-after--medium-2 .block:nth-child(2n + 1),
  .fw--blocks.clear-after--medium-3 > *:nth-child(3n + 1),
  .fw--blocks.clear-after--medium-3 .block:nth-child(3n + 1),
  .fw--blocks.clear-after--medium-4 > *:nth-child(4n + 1),
  .fw--blocks.clear-after--medium-4 .block:nth-child(4n + 1),
  .fw--blocks.clear-after--medium-5 > *:nth-child(5n + 1),
  .fw--blocks.clear-after--medium-5 .block:nth-child(5n + 1),
  .fw--blocks.clear-after--medium-6 > *:nth-child(6n + 1),
  .fw--blocks.clear-after--medium-6 .block:nth-child(6n + 1),
  .fw--blocks.clear-after--medium-7 > *:nth-child(7n + 1),
  .fw--blocks.clear-after--medium-7 .block:nth-child(7n + 1),
  .fw--blocks.clear-after--medium-8 > *:nth-child(8n + 1),
  .fw--blocks.clear-after--medium-8 .block:nth-child(8n + 1),
  .fw--blocks.clear-after--medium-9 > *:nth-child(9n + 1),
  .fw--blocks.clear-after--medium-9 .block:nth-child(9n + 1),
  .fw--blocks.clear-after--medium-10 > *:nth-child(10n + 1),
  .fw--blocks.clear-after--medium-10 .block:nth-child(10n + 1),
  .fw--blocks.clear-after--medium-11 > *:nth-child(11n + 1),
  .fw--blocks.clear-after--medium-11 .block:nth-child(11n + 1),
  .fw--blocks.clear-after--medium-12 > *:nth-child(12n + 1),
  .fw--blocks.clear-after--medium-12 .block:nth-child(12n + 1) {
    clear: left;
  }
}

@media only screen and (min-width: 1024px) {
  .fw--blocks.clear-after--large-1 > *:nth-child(1n + 1),
  .fw--blocks.clear-after--large-1 .block:nth-child(1n + 1),
  .fw--blocks.clear-after--large-2 > *:nth-child(2n + 1),
  .fw--blocks.clear-after--large-2 .block:nth-child(2n + 1),
  .fw--blocks.clear-after--large-3 > *:nth-child(3n + 1),
  .fw--blocks.clear-after--large-3 .block:nth-child(3n + 1),
  .fw--blocks.clear-after--large-4 > *:nth-child(4n + 1),
  .fw--blocks.clear-after--large-4 .block:nth-child(4n + 1),
  .fw--blocks.clear-after--large-5 > *:nth-child(5n + 1),
  .fw--blocks.clear-after--large-5 .block:nth-child(5n + 1),
  .fw--blocks.clear-after--large-6 > *:nth-child(6n + 1),
  .fw--blocks.clear-after--large-6 .block:nth-child(6n + 1),
  .fw--blocks.clear-after--large-7 > *:nth-child(7n + 1),
  .fw--blocks.clear-after--large-7 .block:nth-child(7n + 1),
  .fw--blocks.clear-after--large-8 > *:nth-child(8n + 1),
  .fw--blocks.clear-after--large-8 .block:nth-child(8n + 1),
  .fw--blocks.clear-after--large-9 > *:nth-child(9n + 1),
  .fw--blocks.clear-after--large-9 .block:nth-child(9n + 1),
  .fw--blocks.clear-after--large-10 > *:nth-child(10n + 1),
  .fw--blocks.clear-after--large-10 .block:nth-child(10n + 1),
  .fw--blocks.clear-after--large-11 > *:nth-child(11n + 1),
  .fw--blocks.clear-after--large-11 .block:nth-child(11n + 1),
  .fw--blocks.clear-after--large-12 > *:nth-child(12n + 1),
  .fw--blocks.clear-after--large-12 .block:nth-child(12n + 1) {
    clear: left;
  }
}

.fw--blocks.spacing--1 {
  padding: 4px;
}

.fw--blocks.spacing--1 > * {
  padding: 4px;
}

.fw--blocks.spacing--2 {
  padding: 6px;
}

.fw--blocks.spacing--2 > * {
  padding: 6px;
}

.fw--blocks.spacing--3 {
  padding: 8px;
}

.fw--blocks.spacing--3 > * {
  padding: 8px;
}

.fw--blocks.spacing--4 {
  padding: 16px;
}

.fw--blocks.spacing--4 > * {
  padding: 16px;
}

.fw--blocks.spacing--5 {
  padding: 24px;
}

.fw--blocks.spacing--5 > * {
  padding: 24px;
}

.fw--blocks.spacing--6 {
  padding: 36px;
}

.fw--blocks.spacing--6 > * {
  padding: 36px;
}

.fw--blocks.spacing--1x {
  padding-left: 4px;
  padding-right: 4px;
}

.fw--blocks.spacing--1x > * {
  padding-left: 4px;
  padding-right: 4px;
}

.fw--blocks.spacing--2x {
  padding-left: 6px;
  padding-right: 6px;
}

.fw--blocks.spacing--2x > * {
  padding-left: 6px;
  padding-right: 6px;
}

.fw--blocks.spacing--3x {
  padding-left: 8px;
  padding-right: 8px;
}

.fw--blocks.spacing--3x > * {
  padding-left: 8px;
  padding-right: 8px;
}

.fw--blocks.spacing--4x {
  padding-left: 16px;
  padding-right: 16px;
}

.fw--blocks.spacing--4x > * {
  padding-left: 16px;
  padding-right: 16px;
}

.fw--blocks.spacing--5x {
  padding-left: 24px;
  padding-right: 24px;
}

.fw--blocks.spacing--5x > * {
  padding-left: 24px;
  padding-right: 24px;
}

.fw--blocks.spacing--6x {
  padding-left: 36px;
  padding-right: 36px;
}

.fw--blocks.spacing--6x > * {
  padding-left: 36px;
  padding-right: 36px;
}

.fw--blocks.spacing--1y {
  padding-top: 4px;
  padding-bottom: 4px;
}

.fw--blocks.spacing--1y > * {
  padding-top: 4px;
  padding-bottom: 4px;
}

.fw--blocks.spacing--2y {
  padding-top: 6px;
  padding-bottom: 6px;
}

.fw--blocks.spacing--2y > * {
  padding-top: 6px;
  padding-bottom: 6px;
}

.fw--blocks.spacing--3y {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fw--blocks.spacing--3y > * {
  padding-top: 8px;
  padding-bottom: 8px;
}

.fw--blocks.spacing--4y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.fw--blocks.spacing--4y > * {
  padding-top: 16px;
  padding-bottom: 16px;
}

.fw--blocks.spacing--5y {
  padding-top: 24px;
  padding-bottom: 24px;
}

.fw--blocks.spacing--5y > * {
  padding-top: 24px;
  padding-bottom: 24px;
}

.fw--blocks.spacing--6y {
  padding-top: 36px;
  padding-bottom: 36px;
}

.fw--blocks.spacing--6y > * {
  padding-top: 36px;
  padding-bottom: 36px;
}

@media only screen and (max-width: 767px) {
  .fw--blocks.spacing--small-0 {
    padding: 0;
  }
  .fw--blocks.spacing--small-0 > * {
    padding: 0;
  }
  .fw--blocks.spacing--small-1 {
    padding: 4px;
  }
  .fw--blocks.spacing--small-1 > * {
    padding: 4px;
  }
  .fw--blocks.spacing--small-2 {
    padding: 6px;
  }
  .fw--blocks.spacing--small-2 > * {
    padding: 6px;
  }
  .fw--blocks.spacing--small-3 {
    padding: 8px;
  }
  .fw--blocks.spacing--small-3 > * {
    padding: 8px;
  }
  .fw--blocks.spacing--small-4 {
    padding: 16px;
  }
  .fw--blocks.spacing--small-4 > * {
    padding: 16px;
  }
  .fw--blocks.spacing--small-5 {
    padding: 24px;
  }
  .fw--blocks.spacing--small-5 > * {
    padding: 24px;
  }
  .fw--blocks.spacing--small-6 {
    padding: 36px;
  }
  .fw--blocks.spacing--small-6 > * {
    padding: 36px;
  }
  .fw--blocks.spacing--small-0x {
    padding-left: 0;
    padding-right: 0;
  }
  .fw--blocks.spacing--small-0x > * {
    padding-left: 0;
    padding-right: 0;
  }
  .fw--blocks.spacing--small-1x {
    padding-left: 4px;
    padding-right: 4px;
  }
  .fw--blocks.spacing--small-1x > * {
    padding-left: 4px;
    padding-right: 4px;
  }
  .fw--blocks.spacing--small-2x {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fw--blocks.spacing--small-2x > * {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fw--blocks.spacing--small-3x {
    padding-left: 8px;
    padding-right: 8px;
  }
  .fw--blocks.spacing--small-3x > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  .fw--blocks.spacing--small-4x {
    padding-left: 16px;
    padding-right: 16px;
  }
  .fw--blocks.spacing--small-4x > * {
    padding-left: 16px;
    padding-right: 16px;
  }
  .fw--blocks.spacing--small-5x {
    padding-left: 24px;
    padding-right: 24px;
  }
  .fw--blocks.spacing--small-5x > * {
    padding-left: 24px;
    padding-right: 24px;
  }
  .fw--blocks.spacing--small-6x {
    padding-left: 36px;
    padding-right: 36px;
  }
  .fw--blocks.spacing--small-6x > * {
    padding-left: 36px;
    padding-right: 36px;
  }
  .fw--blocks.spacing--small-0y {
    padding-top: 0;
    padding-bottom: 0;
  }
  .fw--blocks.spacing--small-0y > * {
    padding-top: 0;
    padding-bottom: 0;
  }
  .fw--blocks.spacing--small-1y {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .fw--blocks.spacing--small-1y > * {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .fw--blocks.spacing--small-2y {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .fw--blocks.spacing--small-2y > * {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .fw--blocks.spacing--small-3y {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .fw--blocks.spacing--small-3y > * {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .fw--blocks.spacing--small-4y {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .fw--blocks.spacing--small-4y > * {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .fw--blocks.spacing--small-5y {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .fw--blocks.spacing--small-5y > * {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .fw--blocks.spacing--small-6y {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .fw--blocks.spacing--small-6y > * {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.fw--blocks.compact--1x {
  margin-left: -8px;
  margin-right: -8px;
}

.fw--blocks.compact--2x {
  margin-left: -12px;
  margin-right: -12px;
}

.fw--blocks.compact--3x {
  margin-left: -16px;
  margin-right: -16px;
}

.fw--blocks.compact--4x {
  margin-left: -32px;
  margin-right: -32px;
}

.fw--blocks.compact--5x {
  margin-left: -48px;
  margin-right: -48px;
}

.fw--blocks.compact--6x {
  margin-left: -72px;
  margin-right: -72px;
}

.fw--blocks.compact--1y {
  margin-top: -8px;
  margin-bottom: -8px;
}

.fw--blocks.compact--2y {
  margin-top: -12px;
  margin-bottom: -12px;
}

.fw--blocks.compact--3y {
  margin-top: -16px;
  margin-bottom: -16px;
}

.fw--blocks.compact--4y {
  margin-top: -32px;
  margin-bottom: -32px;
}

.fw--blocks.compact--5y {
  margin-top: -48px;
  margin-bottom: -48px;
}

.fw--blocks.compact--6y {
  margin-top: -72px;
  margin-bottom: -72px;
}
