html {
  margin: 0;
  padding: 0;
}

html,
body {
  background: $page-bg;
}

.error {
  color: $error;
}

body {
  color: $text;

  &.modal-on {
    overflow: hidden;
  }

  &.modal-unfix {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// .shopify-section {
//   max-width: 1560px;
//   margin: 0 auto;
//   padding: 0 20px;
//
//   .sticky-header & {
//     max-width: 100%;
//     padding: 0;
//   }
// }

.textarea {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.svg-icon-lib {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.fw--icon {
  position: relative;
  display: inline-block;
}

.svg-icon-lib path {
  fill: currentColor;
}

.fw--icon--search {
  stroke: currentColor;
}

.page-title {
  padding-bottom: 30px;
}

label {
  color: $text;
}

.row {
  max-width: none;

  @include desktop {
    padding: 0 48px;
  }
}

.placeholder-icon {
  fill: #cbcbcb;
  color: #cbcbcb;
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.placeholder-noblocks {
  padding: 50px;
  text-align: center;
}

.section--slideshow .placeholder-icon {
  position: absolute;
  top: 0;
  left: 0;
}
