img {
  vertical-align: middle;
  max-width: 100%;
}

.image--root {
  position: relative;
  max-width: 100%;

  img {
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease;
    visibility: visible;
    width: 100%;

    &.lazyloaded {
      visibility: visible;
      opacity: 1;
    }
  }

  noscript img {
    visibility: visible;
    opacity: 1;
  }
}

.image--container {
  max-width: 100%;
}
