/* Media Queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.show--small,
.show--medium,
.show--large,
.show--small-medium,
.show--medium-large {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .show--small {
    display: inherit !important;
  }
}

@media only screen and (max-width: 1023px) {
  .show--small-medium {
    display: inherit !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show--medium {
    display: inherit !important;
  }
}

@media only screen and (min-width: 768px) {
  .show--medium-large {
    display: inherit !important;
  }
}

@media only screen and (min-width: 1024px) {
  .show--large {
    display: inherit !important;
  }
}

.hide-for-all {
  display: none !important;
}

.spacing--1 {
  padding: 8px;
}

.spacing--2 {
  padding: 12px;
}

.spacing--3 {
  padding: 16px;
}

.spacing--4 {
  padding: 32px;
}

.spacing--5 {
  padding: 48px;
}

.spacing--6 {
  padding: 72px;
}

.spacing--7 {
  padding: 96px;
}

.spacing--1x {
  padding-left: 8px;
  padding-right: 8px;
}

.spacing--2x {
  padding-left: 12px;
  padding-right: 12px;
}

.spacing--3x {
  padding-left: 16px;
  padding-right: 16px;
}

.spacing--4x {
  padding-left: 32px;
  padding-right: 32px;
}

.spacing--5x {
  padding-left: 48px;
  padding-right: 48px;
}

.spacing--6x {
  padding-left: 72px;
  padding-right: 72px;
}

.spacing--7x {
  padding-left: 96px;
  padding-right: 96px;
}

.spacing--1y {
  padding-top: 8px;
  padding-bottom: 8px;
}

.spacing--2y {
  padding-top: 12px;
  padding-bottom: 12px;
}

.spacing--3y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.spacing--4y {
  padding-top: 32px;
  padding-bottom: 32px;
}

.spacing--5y {
  padding-top: 48px;
  padding-bottom: 48px;
}

.spacing--6y {
  padding-top: 72px;
  padding-bottom: 72px;
}

.spacing--7y {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (max-width: 767px) {
  .spacing--small-1 {
    padding: 8px;
  }
  .spacing--small-2 {
    padding: 12px;
  }
  .spacing--small-3 {
    padding: 16px;
  }
  .spacing--small-4 {
    padding: 32px;
  }
  .spacing--small-5 {
    padding: 48px;
  }
  .spacing--small-6 {
    padding: 72px;
  }
  .spacing--small-7 {
    padding: 96px;
  }
  .spacing--small-1x {
    padding-left: 8px;
    padding-right: 8px;
  }
  .spacing--small-2x {
    padding-left: 12px;
    padding-right: 12px;
  }
  .spacing--small-3x {
    padding-left: 16px;
    padding-right: 16px;
  }
  .spacing--small-4x {
    padding-left: 32px;
    padding-right: 32px;
  }
  .spacing--small-5x {
    padding-left: 48px;
    padding-right: 48px;
  }
  .spacing--small-6x {
    padding-left: 72px;
    padding-right: 72px;
  }
  .spacing--small-7x {
    padding-left: 96px;
    padding-right: 96px;
  }
  .spacing--small-1y {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .spacing--small-2y {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .spacing--small-3y {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .spacing--small-4y {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .spacing--small-5y {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .spacing--small-6y {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .spacing--small-7y {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.spacer {
  padding-bottom: 0;
}
