.font--featured-heading {
  font-family: $font-primary;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(4);
  line-height: 1.2em;
  margin: -0.1875em 0;
  letter-spacing: 0.025em;

  @include desktop {
    @include font-size(6.4);
    line-height: 1.125em;
  }
}

.font--section-heading,
h1,
h2 {
  font-family: $font-primary;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(2);
  line-height: 1.25em;
  margin: -0.25em 0;
  letter-spacing: 0.025em;

  @include desktop {
    @include font-size(2.8);
  }
}

.font--block-heading,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  @include font-size(1.6);
  line-height: 1.33333em;
  margin: -0.25em 0;
  letter-spacing: 0.025em;

  @include desktop {
    @include font-size(2);
  }
}

.font--accent,
label,
input,
textarea {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(1.3);
  letter-spacing: 1px;

  @include desktop {
    @include font-size(1.4);
  }
}

.font--lowercase-accent,
input[type="text"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(1.3);
  letter-spacing: 1px;
  text-transform: none;

  @include desktop {
    @include font-size(1.4);
  }
}

.font--light-accent {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(1.3);
  letter-spacing: 1px;
  color: $body-light;

  &:link,
  &:visited,
  &:hover,
  &:focus {
    color: $body-light;
  }

  @include desktop {
    @include font-size(1.4);
  }
}

.font--light-accent:link,
.font--light-accent:visited,
.font--light-accent:hover,
.font--light-accent:focus {
  color: $body-light;
}

.font--paragraph,
body {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  @include font-size(1.5);
  line-height: 1.5em;
  margin: -0.25em 0;

  @include desktop {
    @include font-size(1.6);
  }
}

body {
  margin: 0;
}

.font--block-link > * {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(1.3);
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1;

  @include desktop {
    @include font-size(1.4);
  }

  &:after {
    padding-bottom: 0.14286em;
    border-bottom: 0.07143em solid $text;
    content: "";
    display: block;
    width: 100%;
  }
}

.font--block-link--inverted > * {
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  @include font-size(1.3);
  letter-spacing: 1px;
  display: inline-block;
  line-height: 1;

  @include desktop {
    @include font-size(1.4);
  }

  &:after {
    padding-bottom: 0.14286em;
    border-bottom: 0.07143em solid $text;
    content: "";
    display: block;
    width: 100%;
  }
}

.font--block-link--inverted > * {
  color: $alternative !important;

  &:after {
    border-color: $alternative;
  }
}

.font--small {
  @include font-size(12);
}
