.responsive-video {
  width: 100%;
  display: block;
  position: relative;
  padding-top: 2.08333em;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1.33333em;
  overflow: hidden;

  &.widescreen {
    padding-bottom: 57.25%;
  }

  &.vimeo {
    padding-top: 0;
  }

  &.kickstarter {
    padding-bottom: 50%;

    @include desktop {
      padding-bottom: 52%;
    }

    @include large-desktop {
      padding-bottom: 54%;
    }
  }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
